Repository apache/hop, pull requests merged in 2023-03, with the labels that each got.

#2489 Change default mysql driver #1907, cleanup Hop Docker #2216, #2479, #2491, #2492
  assemblies/plugins/databases/infinidb-assemblies/pom.xml
  assemblies/plugins/databases/infinidb-assemblies/src/assembly/assembly.xml
  assemblies/plugins/databases/infinidb-assemblies/src/main/resources/PUT_JDBC_HERE
  assemblies/plugins/databases/infinidb-assemblies/src/main/resources/dependencies.xml
  assemblies/plugins/databases/infinidb-assemblies/src/main/resources/version.xml
  assemblies/plugins/databases/pom.xml
  assemblies/plugins/dist/pom.xml
  assemblies/static/src/main/resources/hop-run.bat
  docker/Dockerfile
  docker/resources/load-and-execute.sh
  docs/hop-user-manual/modules/ROOT/nav.adoc
  docs/hop-user-manual/modules/ROOT/pages/database/databases/infinidb.adoc
  plugins/databases/infinidb/pom.xml
  plugins/databases/infinidb/src/main/java/org/apache/hop/databases/infinidb/InfiniDbDatabaseMeta.java
  plugins/databases/infinidb/src/test/java/org/apache/hop/databases/infinidb/InfiniDbDatabaseMetaTest.java
  plugins/databases/infinidb/src/test/java/org/apache/hop/databases/infinidb/InfiniDbSequenceAndReleaseSavePointTest.java
  plugins/databases/mysql/src/main/java/org/apache/hop/databases/mysql/MySqlDatabaseMeta.java
  plugins/databases/mysql/src/test/java/org/apache/hop/databases/mysql/MySqlDatabaseMetaTest.java
  plugins/databases/pom.xml
  ui/src/main/java/org/apache/hop/ui/hopgui/file/workflow/HopGuiWorkflowGraph.java
Labels: Containers, Documentation, Hop Gui

#2504 fixed zip action close order + integration test #2498
  integration-tests/actions/0008-zip-action-archive-files.hwf
  integration-tests/actions/0008-zip-action-generate-files-to-zip.hpl
  integration-tests/actions/main-0008-zip-files.hwf
  plugins/actions/zipfile/src/main/java/org/apache/hop/workflow/actions/zipfile/ActionZipFile.java
Labels: Integration Testing

#2505 Update Beam to 2.45.0, fixes #2500
  assemblies/lib-beam/pom.xml
  assemblies/plugins/tech/google/pom.xml
  docs/hop-user-manual/modules/ROOT/pages/pipeline/beam/getting-started-with-beam.adoc
  engine-beam/pom.xml
  plugins/engines/beam/src/main/java/org/apache/hop/beam/pipeline/fatjar/FatJarBuilder.java
  pom.xml
Labels: Beam, Documentation

#2508 update dependencies to newer versions, fixes #2250
  assemblies/lib-beam/pom.xml
  assemblies/plugins/databases/access-assemblies/pom.xml
  assemblies/plugins/databases/h2-assemblies/pom.xml
  assemblies/plugins/databases/hypersonic-assemblies/pom.xml
  assemblies/plugins/engines/beam/pom.xml
  assemblies/plugins/engines/beam/src/assembly/assembly.xml
  assemblies/plugins/tech/aws/pom.xml
  assemblies/plugins/tech/neo4j/pom.xml
  assemblies/plugins/tech/parquet/pom.xml
  assemblies/plugins/tech/parquet/src/assembly/assembly.xml
  assemblies/plugins/transforms/fake/pom.xml
  assemblies/plugins/transforms/tika/pom.xml
  assemblies/plugins/transforms/yamlinput/pom.xml
  engine-beam/pom.xml
  integration-tests/duckdb/metadata/pipeline-run-configuration/local.json
  integration-tests/mdi/datasets/golden-apache-tika.csv
  integration-tests/transforms/datasets/golden-apache-tika.csv
  plugins/engines/beam/pom.xml
  plugins/tech/neo4j/pom.xml
  plugins/transforms/fake/pom.xml
  plugins/transforms/tika/pom.xml
  plugins/transforms/yamlinput/pom.xml
  pom.xml
Labels: Beam, Integration Testing, Neo4j

#2509 Translations update from Weblate
  engine/src/main/resources/org/apache/hop/core/auth/messages/messages_de_DE.properties
  plugins/actions/addresultfilenames/src/main/resources/org/apache/hop/workflow/actions/addresultfilenames/messages/messages_de_DE.properties
  plugins/actions/as400command/src/main/resources/org/apache/hop/workflow/actions/as400command/messages/messages_de_DE.properties
  plugins/databases/access/src/main/resources/org/apache/hop/pipeline/transforms/accessoutput/messages/messages_de_DE.properties
  plugins/misc/async/src/main/resources/org/apache/hop/www/async/messages/messages_de_DE.properties
  plugins/misc/debug/src/main/resources/org/apache/hop/debug/action/messages/messages_de_DE.properties
  plugins/tech/avro/src/main/resources/org/apache/hop/avro/transforms/avrodecode/messages/messages_de_DE.properties
  plugins/tech/avro/src/main/resources/org/apache/hop/avro/transforms/avroencode/messages/messages_de_DE.properties
  plugins/transforms/abort/src/main/resources/org/apache/hop/pipeline/transforms/abort/messages/messages_de_DE.properties
  plugins/transforms/addsequence/src/main/resources/org/apache/hop/pipeline/transforms/addsequence/messages/messages_de_DE.properties
  plugins/transforms/analyticquery/src/main/resources/org/apache/hop/pipeline/transforms/analyticquery/messages/messages_de_DE.properties
  plugins/transforms/append/src/main/resources/org/apache/hop/pipeline/transforms/append/messages/messages_de_DE.properties
  plugins/transforms/xml/src/main/resources/org/apache/hop/pipeline/transforms/xml/addxml/messages/messages_de_DE.properties
  ui/src/main/resources/org/apache/hop/ui/core/auth/messages/messages_de_DE.properties
  ui/src/main/resources/org/apache/hop/ui/workflow/actions/messages/messages_de_DE.properties
Labels: Hop Gui

#2510 corrected comma instead of semicolon. fixes #2493
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/formula.adoc
Labels: Documentation

#2512 Updated tests to use platform dependent line endings to match the plugin's code
  plugins/tech/neo4j/src/test/java/org/apache/hop/neo4j/transforms/cypherbuilder/CypherBuilderMetaTest.java
Labels: Neo4j

#2497 Show if a JDBC driver is install and eventually which version #2488
  ui/src/main/java/org/apache/hop/ui/core/database/DatabaseMetaEditor.java
  ui/src/main/resources/org/apache/hop/ui/core/database/messages/messages_en_US.properties
Labels: Hop Gui

#2513 Moved TikaOutput initialisation so it occurs in both standard and dynamic filename mode
  integration-tests/transforms/0037-apache-tika-from-getfilenames.hpl
  integration-tests/transforms/main-0037-apache-tika.hwf
  integration-tests/transforms/metadata/unit-test/0037-apache-tika-from-getfilenames UNIT.json
  plugins/transforms/tika/src/main/java/org/apache/hop/pipeline/transforms/tika/Tika.java
Labels: Integration Testing

#2525 Translations update from Weblate
  ui/src/main/resources/org/apache/hop/ui/core/database/messages/messages_fr_FR.properties
  ui/src/main/resources/org/apache/hop/ui/hopgui/perspective/dataorch/messages/messages_fr_FR.properties
Labels: Hop Gui

#2527 Allow reading of large xlsx files, fixes #2307
  integration-tests/spreadsheet/0008-read-large-xlsx-file.hpl
  integration-tests/spreadsheet/main-0008-read-large-xlsx.hwf
  plugins/transforms/excel/src/main/java/org/apache/hop/pipeline/transforms/excelinput/staxpoi/StaxPoiWorkbook.java
Labels: Integration Testing

#2529 Derby database type don't work #2528
  docs/hop-user-manual/modules/ROOT/pages/database/databases/derby.adoc
  plugins/databases/derby/src/main/java/org/apache/hop/databases/derby/DerbyDatabaseMeta.java
  plugins/databases/derby/src/test/java/org/apache/hop/databases/derby/DerbyDatabaseMetaTest.java
Labels: Documentation

#2536 cleanup incorrect references, fixes #2535
  integration-tests/samples/metadata/pipeline-run-configuration/local.json
  integration-tests/vertica/metadata/pipeline-run-configuration/local.json
Labels: Integration Testing

#2546 warning instead of error if project folder does not exist in containe…
  docker/resources/load-and-execute.sh
Labels: Containers

#2555 Allow usage of Encrypted password in mongo connection, fixes #2241
  docker/integration-tests/integration-tests-mongo.yaml
  integration-tests/mongo/dev-env-config.json
  integration-tests/mongo/metadata/mongodb-connection/mongo.json
  integration-tests/mongo/tests/mongo-delete/delete-3-customers-json-test.hpl
  integration-tests/mongo/tests/mongo-delete/delete-5-customers-test.hpl
  plugins/transforms/mongodb/src/main/java/org/apache/hop/mongo/metadata/MongoDbConnection.java
Labels: Containers, Integration Testing

#2563 Translations update from Weblate
  core/src/main/resources/org/apache/hop/core/database/messages/messages_fr_FR.properties
  plugins/actions/abort/src/main/resources/org/apache/hop/workflow/actions/abort/messages/messages_de_DE.properties
  plugins/actions/createfolder/src/main/resources/org/apache/hop/workflow/actions/createfolder/messages/messages_fr_FR.properties
  plugins/actions/ping/src/main/resources/org/apache/hop/workflow/actions/ping/messages/messages_fr_FR.properties
  plugins/actions/repeat/src/main/resources/org/apache/hop/workflow/actions/repeat/messages/messages_fr_FR.properties
  plugins/actions/simpleeval/src/main/resources/org/apache/hop/workflow/actions/simpleeval/messages/messages_fr_FR.properties
  plugins/actions/snmptrap/src/main/resources/org/apache/hop/workflow/actions/snmptrap/messages/messages_de_DE.properties
  plugins/actions/waitforfile/src/main/resources/org/apache/hop/workflow/actions/waitforfile/messages/messages_fr_FR.properties
  plugins/engines/beam/src/main/resources/org/apache/hop/beam/gui/messages/messages_fr_FR.properties
  plugins/engines/beam/src/main/resources/org/apache/hop/beam/transforms/io/messages/messages_fr_FR.properties
  plugins/misc/debug/src/main/resources/org/apache/hop/debug/action/messages/messages_fr_FR.properties
  plugins/transforms/verticabulkloader/src/main/resources/org/apache/hop/pipeline/transforms/vertica/bulkloader/messages/messages_fr_FR.properties
  ui/src/main/resources/org/apache/hop/ui/core/auth/messages/messages_fr_FR.properties
  ui/src/main/resources/org/apache/hop/ui/hopgui/perspective/pluginexplorer/messages/messages_fr_FR.properties
  ui/src/main/resources/org/apache/hop/ui/pipeline/dialog/messages/messages_fr_FR.properties
Labels: Hop Gui

#2552 Add additonal Date Format Mask for AM/PM #2476
  core/src/main/java/org/apache/hop/core/Const.java
  core/src/main/resources/org/apache/hop/core/messages/messages_en_US.properties
Labels: Transforms

#2539 Cleanup XML of action Workflow #2002 and Pipeline #1986
  core/src/main/java/org/apache/hop/core/logging/LogLevel.java
  plugins/actions/pipeline/src/main/java/org/apache/hop/workflow/actions/pipeline/ActionPipeline.java
  plugins/actions/pipeline/src/main/java/org/apache/hop/workflow/actions/pipeline/ActionPipelineDialog.java
  plugins/actions/workflow/src/main/java/org/apache/hop/workflow/actions/workflow/ActionWorkflow.java
  plugins/actions/workflow/src/main/java/org/apache/hop/workflow/actions/workflow/ActionWorkflowDialog.java
  plugins/actions/workflow/src/main/java/org/apache/hop/workflow/actions/workflow/ActionWorkflowRunner.java
  ui/src/main/java/org/apache/hop/ui/core/widget/MetaSelectionLine.java
  ui/src/main/java/org/apache/hop/ui/workflow/actions/ActionBaseDialog.java
  ui/src/main/resources/org/apache/hop/ui/workflow/actions/messages/messages_en_US.properties
Labels: Hop Gui, Actions

#2551 Fix Start Action can have conditional output #2545
  engine/src/main/java/org/apache/hop/base/BaseHopMeta.java
  engine/src/main/java/org/apache/hop/pipeline/PipelineHopMeta.java
  engine/src/main/java/org/apache/hop/workflow/WorkflowHopMeta.java
  ui/src/main/java/org/apache/hop/ui/hopgui/file/workflow/context/HopGuiWorkflowHopContext.java
Labels: Hop Gui, Workflows

#2553 2346
  ui/src/main/java/org/apache/hop/ui/core/database/dialog/GetDatabaseInfoProgressDialog.java
Labels: Hop Gui

#2565 initial version workflow logging samples, new and updated docs. fixes…
  docs/hop-user-manual/modules/ROOT/assets/images/metadata-types/workflow-log.png
  docs/hop-user-manual/modules/ROOT/nav.adoc
  docs/hop-user-manual/modules/ROOT/pages/metadata-types/pipeline-log.adoc
  docs/hop-user-manual/modules/ROOT/pages/metadata-types/workflow-log.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/pipeline-logging.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/workflow-logging.adoc
  plugins/misc/reflection/src/main/java/org/apache/hop/reflection/workflow/transform/WorkflowLoggingMeta.java
  plugins/misc/reflection/src/main/samples/metadata/workflow-log/workflow-log-example.json
  plugins/misc/reflection/src/main/samples/reflection/generate-fake-books.hwf
  plugins/misc/reflection/src/main/samples/reflection/workflow-log-example.hpl
Labels: Documentation

#2568 memgraph initial doc version, eap project/environment options #2566 #2511
  assemblies/plugins/databases/hive-assemblies/pom.xml
  docs/hop-user-manual/modules/ROOT/nav.adoc
  docs/hop-user-manual/modules/ROOT/pages/technology/memgraph/index.adoc
  docs/hop-user-manual/modules/ROOT/pages/technology/technology.adoc
  plugins/databases/hive/pom.xml
  plugins/misc/projects/src/main/java/org/apache/hop/projects/config/ProjectsConfigOptionPlugin.java
Labels: Documentation

#2609 #2571 formula cleanup: removed nonimplemented functions, check functions.xml vs docs
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/formula.adoc
  plugins/transforms/formula/src/main/resources/check-doc-vs-functions.hpl
  plugins/transforms/formula/src/main/resources/org/apache/hop/pipeline/transforms/formula/function/functions.xml
  plugins/transforms/formula/src/main/samples/transforms/formula-datetime.hpl
Labels: Documentation

#2759 added async web service page to hop server nav, added reference to as…
  docs/hop-user-manual/modules/ROOT/nav.adoc
  docs/hop-user-manual/modules/ROOT/pages/hop-server/async-web-service.adoc
  docs/hop-user-manual/modules/ROOT/pages/hop-server/index.adoc
Labels: Documentation

#2761 selenium upgrade, extra option flag to get chrome working, fixes #2760
  integration-tests/hopweb/pom.xml
  integration-tests/hopweb/src/test/java/org/apache/hop/ui/hopgui/HopWebTest.java
Labels: Integration Testing

#2763 Issue #2544 : Execution state doesn't contain an end date
  engine/src/main/java/org/apache/hop/execution/ExecutionState.java
  engine/src/main/java/org/apache/hop/execution/ExecutionStateBuilder.java
  plugins/tech/neo4j/src/main/java/org/apache/hop/neo4j/execution/NeoExecutionInfoLocation.java
  plugins/transforms/execinfo/src/main/java/org/apache/hop/pipeline/transforms/execinfo/ExecInfo.java
  plugins/transforms/execinfo/src/main/java/org/apache/hop/pipeline/transforms/execinfo/ExecInfoMeta.java
  rest/src/main/java/org/apache/hop/rest/v1/resources/PluginsResource.java
Labels: Neo4j

#2768 Fix for issue #2766 : Data orchestration perspective doesn't remember tabs
  plugins/misc/projects/src/main/java/org/apache/hop/projects/xp/HopGuiStartProjectLoad.java
  ui/src/main/java/org/apache/hop/ui/hopgui/HopGui.java
  ui/src/main/java/org/apache/hop/ui/hopgui/delegates/HopGuiAuditDelegate.java
  ui/src/main/java/org/apache/hop/ui/hopgui/delegates/HopGuiFileDelegate.java
Labels: Hop Gui

#2770 [ITA-TRANSLATION] Fixed italian translations
  ui/src/main/resources/org/apache/hop/ui/pipeline/config/messages/messages_it_IT.properties
  ui/src/main/resources/org/apache/hop/ui/pipeline/debug/messages/messages_it_IT.properties
  ui/src/main/resources/org/apache/hop/ui/pipeline/transform/common/messages/messages_en_US.properties
  ui/src/main/resources/org/apache/hop/ui/pipeline/transform/common/messages/messages_it_IT.properties
  ui/src/main/resources/org/apache/hop/ui/pipeline/transforms/missing/messages/messages_it_IT.properties
  ui/src/main/resources/org/apache/hop/ui/server/messages/messages_de_DE.properties
  ui/src/main/resources/org/apache/hop/ui/server/messages/messages_it_IT.properties
  ui/src/main/resources/org/apache/hop/ui/workflow/actions/messages/messages_it_IT.properties
  ui/src/main/resources/org/apache/hop/ui/workflow/actions/missing/messages/messages_it_IT.properties
  ui/src/main/resources/org/apache/hop/ui/workflow/config/messages/messages_de_DE.properties
  ui/src/main/resources/org/apache/hop/ui/workflow/config/messages/messages_it_IT.properties
  ui/src/main/resources/org/apache/hop/ui/workflow/dialog/messages/messages_it_IT.properties
  ui/src/main/resources/org/apache/hop/ui/www/service/messages/messages_en_US.properties
  ui/src/main/resources/org/apache/hop/ui/www/service/messages/messages_it_IT.properties
Labels: Hop Gui

#2774 Fix for issue #2767 : Formula should be able to convert from doubles to Timestamp
  integration-tests/transforms/0042-formula-datetime.hpl
  plugins/transforms/formula/src/main/java/org/apache/hop/pipeline/transforms/formula/Formula.java
Labels: Integration Testing, Transforms

#2783 [DOC] update beam version in docs
  docs/hop-user-manual/modules/ROOT/pages/pipeline/beam/getting-started-with-beam.adoc
Labels: Documentation

#2775 do not show progress dialog in hop web. fixes #2736
  ui/src/main/java/org/apache/hop/ui/core/database/dialog/GetPreviewTableProgressDialog.java
  ui/src/main/java/org/apache/hop/ui/pipeline/dialog/PipelinePreviewProgressDialog.java
Labels: Hop Gui

#2797 added different ways of creating an oracle connection. fixes #2791
  docs/hop-user-manual/modules/ROOT/pages/database/databases/oracle.adoc
Labels: Documentation

#2798 added default batch size of 1000 to Neo4j Graph Output. fixes #2782
  plugins/tech/neo4j/src/main/java/org/apache/hop/neo4j/transforms/graph/GraphOutputMeta.java
Labels: Neo4j
