Repository apache/hop, pull requests merged in 2023-06, with the labels that each got.

#2982 option aded to look and feel to hide the viewport, fixes #2310
  core/src/main/java/org/apache/hop/core/Props.java
  engine/src/main/java/org/apache/hop/core/gui/BasePainter.java
  engine/src/main/java/org/apache/hop/pipeline/PipelinePainter.java
  ui/src/main/java/org/apache/hop/ui/core/PropsUi.java
  ui/src/main/java/org/apache/hop/ui/hopgui/file/pipeline/HopGuiPipelineGraph.java
  ui/src/main/java/org/apache/hop/ui/hopgui/file/workflow/HopGuiWorkflowGraph.java
  ui/src/main/java/org/apache/hop/ui/hopgui/perspective/configuration/tabs/ConfigGuiOptionsTab.java
  ui/src/main/java/org/apache/hop/ui/hopgui/perspective/dataorch/HopGuiAbstractGraph.java
  ui/src/main/resources/org/apache/hop/ui/core/dialog/messages/messages_en_US.properties
Labels: Hop Gui

#2984 Apache Beam upgraded to 2.48.0. fixes #2981
  assemblies/plugins/engines/beam/pom.xml
  assemblies/plugins/engines/beam/src/assembly/assembly.xml
  docker/integration-tests/integration-tests-flink.yaml
  plugins/engines/beam/pom.xml
  plugins/engines/beam/src/main/java/org/apache/hop/beam/pipeline/fatjar/FatJarBuilder.java
  pom.xml
Labels: Containers

#2985 updated beam versions, inversed version order for better readability.…
  docs/hop-user-manual/modules/ROOT/pages/pipeline/beam/getting-started-with-beam.adoc
Labels: Documentation

#2992 fixed spark version for beam 2.8.0 integration tests. #2981
  docker/integration-tests/spark/Dockerfile.master
  docker/integration-tests/spark/Dockerfile.worker
Labels: Containers

#2993 Fix Help button Workflow Logging #2990
  plugins/misc/reflection/src/main/java/org/apache/hop/reflection/workflow/transform/WorkflowLoggingMeta.java
Labels: Transforms

#2987 Fix for issue #2793 : Cartesian Product does not work on flows with the same row names
  engine/src/main/java/org/apache/hop/pipeline/PipelineMeta.java
  engine/src/main/java/org/apache/hop/pipeline/transform/BaseTransformMeta.java
  engine/src/main/java/org/apache/hop/pipeline/transform/ITransformMeta.java
  engine/src/test/java/org/apache/hop/history/AuditManagerTest.java
  engine/src/test/java/org/apache/hop/pipeline/PipelineMetaTest.java
  integration-tests/transforms/0044-join-rows-same-fields.hpl
  integration-tests/transforms/datasets/golden-join-rows-same-fields-data.csv
  integration-tests/transforms/datasets/golden-join-rows-same-fields-meta.csv
  integration-tests/transforms/main-0044-join-rows.hwf
  integration-tests/transforms/metadata/dataset/golden-join-rows-same-fields-data.json
  integration-tests/transforms/metadata/dataset/golden-join-rows-same-fields-meta.json
  integration-tests/transforms/metadata/unit-test/0044-join-rows-same-fields UNIT.json
  plugins/transforms/joinrows/src/main/java/org/apache/hop/pipeline/transforms/joinrows/JoinRowsMeta.java
Labels: Integration Testing

#2999 [TRANS] Fixed some missing translations due to new features in rel 2.5
  plugins/misc/projects/src/main/resources/org/apache/hop/projects/config/messages/messages_en_US.properties
  plugins/misc/projects/src/main/resources/org/apache/hop/projects/config/messages/messages_fr_FR.properties
  plugins/tech/google/src/main/resources/org/apache/hop/vfs/googledrive/config/messages/messages_it_IT.properties
  ui/src/main/resources/org/apache/hop/ui/core/dialog/messages/messages_it_IT.properties
Labels: Hop Gui

#3002 document running the Apache Beam samples on Google Cloud Dataflow #3001
  docs/hop-user-manual/modules/ROOT/assets/images/beam/run-samples/beam-pipeline-output.png
  docs/hop-user-manual/modules/ROOT/assets/images/beam/run-samples/dataflow-job-finished.png
  docs/hop-user-manual/modules/ROOT/assets/images/beam/run-samples/dataflow-job-logs.png
  docs/hop-user-manual/modules/ROOT/assets/images/beam/run-samples/dataflow-logo.png
  docs/hop-user-manual/modules/ROOT/assets/images/beam/run-samples/gcp-bucket-input-files.png
  docs/hop-user-manual/modules/ROOT/assets/images/beam/run-samples/gcp-cloud-storage-bucket-region.png
  docs/hop-user-manual/modules/ROOT/assets/images/beam/run-samples/gcp-cloud-storage-bucket.png
  docs/hop-user-manual/modules/ROOT/assets/images/beam/run-samples/gcp-enable-dataflow-api.png
  docs/hop-user-manual/modules/ROOT/assets/images/beam/run-samples/gcp-project-apis-and-services.png
  docs/hop-user-manual/modules/ROOT/assets/images/beam/run-samples/gcp-service-account-create-json.png
  docs/hop-user-manual/modules/ROOT/assets/images/beam/run-samples/generate-fat-jar.png
  docs/hop-user-manual/modules/ROOT/assets/images/beam/run-samples/hop-dataflow-run-config-variables.png
  docs/hop-user-manual/modules/ROOT/assets/images/beam/run-samples/hop-dataflow-run-config.png
  docs/hop-user-manual/modules/ROOT/assets/images/beam/run-samples/hop-switch-case-finished.png
  docs/hop-user-manual/modules/ROOT/assets/images/beam/run-samples/hop-switch-case.png
  docs/hop-user-manual/modules/ROOT/assets/images/beam/run-samples/new-google-cloud-project.png
  docs/hop-user-manual/modules/ROOT/nav.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/beam/beam-samples-dataflow.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/beam/beam-samples-direct-runner.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/beam/running-the-beam-samples.adoc
Labels: Documentation

#3004 [DOC] Update version
  docs/hop-dev-manual/antora.yml
  docs/hop-tech-manual/antora.yml
  docs/hop-user-manual/antora.yml
Labels: Documentation

#2945 select shell on active display for popup dialogs. #2944
  plugins/misc/debug/src/main/java/org/apache/hop/debug/action/ActionDebugGuiPlugin.java
  plugins/misc/debug/src/main/java/org/apache/hop/debug/transform/TransformDebugGuiPlugin.java
  plugins/misc/import/src/main/java/org/apache/hop/imports/gui/HopImportGuiPlugin.java
  plugins/misc/projects/src/main/java/org/apache/hop/projects/gui/ProjectsGuiPlugin.java
  plugins/misc/projects/src/main/java/org/apache/hop/projects/xp/HopGuiStartProjectLoad.java
  plugins/misc/testing/src/main/java/org/apache/hop/testing/gui/TestingGuiPlugin.java
  plugins/misc/testing/src/main/java/org/apache/hop/testing/xp/LocationMouseDoubleClickExtensionPoint.java
  ui/src/main/java/org/apache/hop/ui/core/metadata/MetadataManager.java
  ui/src/main/java/org/apache/hop/ui/hopgui/delegates/HopGuiAuditDelegate.java
  ui/src/main/java/org/apache/hop/ui/hopgui/delegates/HopGuiFileDelegate.java
  ui/src/main/java/org/apache/hop/ui/hopgui/file/pipeline/HopGuiPipelineGraph.java
  ui/src/main/java/org/apache/hop/ui/hopgui/file/pipeline/delegates/HopGuiPipelineClipboardDelegate.java
  ui/src/main/java/org/apache/hop/ui/hopgui/file/pipeline/delegates/HopGuiPipelineHopDelegate.java
  ui/src/main/java/org/apache/hop/ui/hopgui/file/pipeline/delegates/HopGuiPipelineTransformDelegate.java
  ui/src/main/java/org/apache/hop/ui/hopgui/file/workflow/HopGuiWorkflowGraph.java
  ui/src/main/java/org/apache/hop/ui/hopgui/file/workflow/delegates/HopGuiWorkflowActionDelegate.java
  ui/src/main/java/org/apache/hop/ui/hopgui/file/workflow/delegates/HopGuiWorkflowClipboardDelegate.java
  ui/src/main/java/org/apache/hop/ui/hopgui/perspective/execution/PipelineExecutionViewer.java
  ui/src/main/java/org/apache/hop/ui/hopgui/perspective/execution/WorkflowExecutionViewer.java
  ui/src/main/java/org/apache/hop/ui/hopgui/perspective/search/HopSearchPerspective.java
  ui/src/main/java/org/apache/hop/ui/www/service/WebServiceEditor.java
Labels: Hop Gui

#3015 Fix #3014
  helm/README.md
  helm/hop/Chart.yaml
  helm/hop/README.md
Labels: Containers

#3019 Translations update from Weblate
  plugins/actions/pipeline/src/main/resources/org/apache/hop/workflow/actions/pipeline/messages/messages_de_DE.properties
  plugins/actions/workflow/src/main/resources/org/apache/hop/workflow/actions/workflow/messages/messages_de_DE.properties
  plugins/engines/beam/src/main/resources/org/apache/hop/beam/metadata/messages/messages_de_DE.properties
  plugins/misc/reflection/src/main/resources/org/apache/hop/reflection/pipeline/meta/messages/messages_de_DE.properties
  plugins/misc/reflection/src/main/resources/org/apache/hop/reflection/probe/meta/messages/messages_de_DE.properties
  plugins/misc/reflection/src/main/resources/org/apache/hop/reflection/reader/meta/messages/messages_de_DE.properties
  plugins/misc/reflection/src/main/resources/org/apache/hop/reflection/workflow/meta/messages/messages_de_DE.properties
  plugins/misc/testing/src/main/resources/org/apache/hop/testing/util/messages/messages_de_DE.properties
  plugins/transforms/filterrows/src/main/resources/org/apache/hop/pipeline/transforms/filterrows/messages/messages_de_DE.properties
  plugins/transforms/janino/src/main/resources/org/apache/hop/pipeline/transforms/javafilter/messages/messages_de_DE.properties
  ui/src/main/resources/org/apache/hop/ui/core/metadata/messages/messages_de_DE.properties
  ui/src/main/resources/org/apache/hop/ui/core/widget/messages/messages_de_DE.properties
  ui/src/main/resources/org/apache/hop/ui/hopgui/file/workflow/context/messages/messages_de_DE.properties
  ui/src/main/resources/org/apache/hop/ui/hopgui/messages/messages_de_DE.properties
  ui/src/main/resources/org/apache/hop/ui/hopgui/perspective/metadata/messages/messages_de_DE.properties
Labels: Hop Gui

#3021 additional display checks for pipeline and workflow graphs. #2944
  ui/src/main/java/org/apache/hop/ui/hopgui/file/pipeline/HopGuiPipelineGraph.java
  ui/src/main/java/org/apache/hop/ui/hopgui/file/workflow/HopGuiWorkflowGraph.java
Labels: Hop Gui

#3026 Add mail validator action
  assemblies/plugins/actions/mailvalidator/pom.xml
  assemblies/plugins/actions/mailvalidator/src/assembly/assembly.xml
  assemblies/plugins/actions/mailvalidator/src/main/resources/version.xml
  assemblies/plugins/actions/pom.xml
  assemblies/plugins/dist/pom.xml
  docs/hop-user-manual/modules/ROOT/pages/workflow/actions/mailvalidator.adoc
  engine/pom.xml
  integration-tests/mail/main-0003-mail-validator-action.hwf
  plugins/actions/mailvalidator/pom.xml
  plugins/actions/mailvalidator/src/main/java/org/apache/hop/workflow/actions/mailvalidator/ActionMailValidator.java
  plugins/actions/mailvalidator/src/main/java/org/apache/hop/workflow/actions/mailvalidator/ActionMailValidatorDialog.java
  plugins/actions/mailvalidator/src/main/java/org/apache/hop/workflow/actions/mailvalidator/MailValidation.java
  plugins/actions/mailvalidator/src/main/java/org/apache/hop/workflow/actions/mailvalidator/MailValidationResult.java
  plugins/actions/mailvalidator/src/main/resources/MailValidator.svg
  plugins/actions/mailvalidator/src/main/resources/org/apache/hop/workflow/actions/mailvalidator/messages/messages_en_US.properties
  plugins/actions/mailvalidator/src/main/resources/org/apache/hop/workflow/actions/mailvalidator/messages/messages_es_AR.properties
  plugins/actions/mailvalidator/src/main/resources/org/apache/hop/workflow/actions/mailvalidator/messages/messages_fr_FR.properties
  plugins/actions/mailvalidator/src/main/resources/org/apache/hop/workflow/actions/mailvalidator/messages/messages_it_IT.properties
  plugins/actions/mailvalidator/src/main/resources/org/apache/hop/workflow/actions/mailvalidator/messages/messages_ja_JP.properties
  plugins/actions/mailvalidator/src/main/resources/org/apache/hop/workflow/actions/mailvalidator/messages/messages_ko_KR.properties
  plugins/actions/mailvalidator/src/main/resources/org/apache/hop/workflow/actions/mailvalidator/messages/messages_zh_CN.properties
  plugins/actions/mailvalidator/src/test/java/org/apache/hop/workflow/actions/mailvalidator/ActionMailValidatorTest.java
  plugins/actions/mailvalidator/src/test/resources/mailvalidator-action.xml
  plugins/actions/pom.xml
Labels: Documentation, Integration Testing

#3028 GCP IT cost control
  integration-tests/gcp/disabled-main-0003-input-bigtable.hwf
Labels: Integration Testing

#3030 Update googlebigquery.adoc
  docs/hop-user-manual/modules/ROOT/pages/database/databases/googlebigquery.adoc
Labels: Documentation

#3027 fix unescaped variable, add missing docker.sock mount #3023
  docs/hop-user-manual/modules/ROOT/assets/files/how-to-guides/apache-airflow/docker-compose.yaml
  docs/hop-user-manual/modules/ROOT/pages/how-to-guides/run-hop-in-apache-airflow.adoc
Labels: Documentation

#3036 Add sequence dialog not properly formatted #3029
  plugins/transforms/addsequence/src/main/java/org/apache/hop/pipeline/transforms/addsequence/AddSequenceDialog.java
Labels: bug, Transforms
