Repository apache/hop, pull requests merged in 2023-08, with the labels that each got.

#3121 Copying and pasting notes not working #3108
  engine/src/main/java/org/apache/hop/workflow/WorkflowMeta.java
  plugins/actions/pipeline/src/main/java/org/apache/hop/workflow/actions/pipeline/ActionPipelineGuiPlugin.java
  plugins/actions/workflow/src/main/java/org/apache/hop/workflow/actions/workflow/ActionWorkflowGuiPlugin.java
  ui/src/main/java/org/apache/hop/ui/hopgui/file/pipeline/HopGuiPipelineGraph.java
  ui/src/main/java/org/apache/hop/ui/hopgui/file/pipeline/delegates/HopGuiPipelineClipboardDelegate.java
  ui/src/main/java/org/apache/hop/ui/hopgui/file/workflow/HopGuiWorkflowGraph.java
  ui/src/main/java/org/apache/hop/ui/hopgui/file/workflow/delegates/HopGuiWorkflowClipboardDelegate.java
  ui/src/main/resources/org/apache/hop/ui/hopgui/file/pipeline/messages/messages_en_US.properties
  ui/src/main/resources/org/apache/hop/ui/hopgui/file/workflow/messages/messages_en_US.properties
Labels: Hop Gui

#3094 google sheets input, output, google analytics 4 #2657 #3034
  assemblies/plugins/tech/google/pom.xml
  assemblies/plugins/tech/google/src/assembly/assembly.xml
  docs/hop-user-manual/modules/ROOT/assets/images/transforms/icons/google-analytics.svg
  docs/hop-user-manual/modules/ROOT/assets/images/transforms/icons/google-sheets-input.svg
  docs/hop-user-manual/modules/ROOT/assets/images/transforms/icons/google-sheets-output.svg
  docs/hop-user-manual/modules/ROOT/nav.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/google-analytics.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/google-sheets-input.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/google-sheets-output.adoc
  integration-tests/spreadsheet/0009-read-google-sheet.hpl
  integration-tests/spreadsheet/0010-write-google-sheet.hpl
  integration-tests/spreadsheet/main-0009-read-google-sheets.hwf
  integration-tests/spreadsheet/main-0010-write-google-sheets.hwf
  plugins/tech/google/pom.xml
  plugins/tech/google/src/main/java/org/apache/hop/pipeline/transforms/googleanalytics/BareBonesBrowserLaunch.java
  plugins/tech/google/src/main/java/org/apache/hop/pipeline/transforms/googleanalytics/GoogleAnalytics.java
  plugins/tech/google/src/main/java/org/apache/hop/pipeline/transforms/googleanalytics/GoogleAnalyticsData.java
  plugins/tech/google/src/main/java/org/apache/hop/pipeline/transforms/googleanalytics/GoogleAnalyticsDialog.java
  plugins/tech/google/src/main/java/org/apache/hop/pipeline/transforms/googleanalytics/GoogleAnalyticsField.java
  plugins/tech/google/src/main/java/org/apache/hop/pipeline/transforms/googleanalytics/GoogleAnalyticsMeta.java
  plugins/tech/google/src/main/java/org/apache/hop/pipeline/transforms/googlesheets/GoogleSheetsCredentials.java
  plugins/tech/google/src/main/java/org/apache/hop/pipeline/transforms/googlesheets/GoogleSheetsInput.java
  plugins/tech/google/src/main/java/org/apache/hop/pipeline/transforms/googlesheets/GoogleSheetsInputData.java
  plugins/tech/google/src/main/java/org/apache/hop/pipeline/transforms/googlesheets/GoogleSheetsInputDialog.java
  plugins/tech/google/src/main/java/org/apache/hop/pipeline/transforms/googlesheets/GoogleSheetsInputField.java
  plugins/tech/google/src/main/java/org/apache/hop/pipeline/transforms/googlesheets/GoogleSheetsInputMeta.java
  plugins/tech/google/src/main/java/org/apache/hop/pipeline/transforms/googlesheets/GoogleSheetsOutput.java
  plugins/tech/google/src/main/java/org/apache/hop/pipeline/transforms/googlesheets/GoogleSheetsOutputData.java
  plugins/tech/google/src/main/java/org/apache/hop/pipeline/transforms/googlesheets/GoogleSheetsOutputDialog.java
  plugins/tech/google/src/main/java/org/apache/hop/pipeline/transforms/googlesheets/GoogleSheetsOutputMeta.java
  plugins/tech/google/src/main/resources/google-analytics.svg
  plugins/tech/google/src/main/resources/google-sheets-input.svg
  plugins/tech/google/src/main/resources/google-sheets-output.svg
  plugins/tech/google/src/main/resources/org/apache/hop/pipeline/transforms/googleanalytics/messages/messages_en_US.properties
  plugins/tech/google/src/main/resources/org/apache/hop/pipeline/transforms/googlesheets/messages/messages_en_FR.properties
  plugins/tech/google/src/main/resources/org/apache/hop/pipeline/transforms/googlesheets/messages/messages_en_US.properties
  pom.xml
  ui/src/main/java/org/apache/hop/ui/hopgui/file/pipeline/HopGuiPipelineGraph.java
Labels: Documentation, Hop Gui, Integration Testing

#3129 Execute row SQL script transform doesn't recognize connection #3128
  plugins/transforms/execsqlrow/src/main/java/org/apache/hop/pipeline/transforms/execsqlrow/ExecSqlRowDialog.java
Labels: bug, Transforms

#3135 Add button to copy log workflow/pipeline to the clipboard #3097
  ui/src/main/java/org/apache/hop/ui/hopgui/file/pipeline/delegates/HopGuiPipelineLogDelegate.java
  ui/src/main/java/org/apache/hop/ui/hopgui/file/workflow/delegates/HopGuiWorkflowLogDelegate.java
  ui/src/main/resources/org/apache/hop/ui/hopgui/javaw.exe.manifest
  ui/src/main/resources/org/apache/hop/ui/hopgui/messages/messages_en_US.properties
Labels: Hop Gui

#3037 Dimension lookup/update cache issue #2978
  plugins/transforms/dimensionlookup/src/main/java/org/apache/hop/pipeline/transforms/dimensionlookup/DimensionLookup.java
Labels: Transforms

#3148 More intuitive zoom and changed default for sorted merge
  plugins/transforms/sortedmerge/src/main/java/org/apache/hop/pipeline/transforms/sortedmerge/SortedMergeDialog.java
  ui/src/main/java/org/apache/hop/ui/hopgui/perspective/execution/DragViewZoomBase.java
Labels: Hop Gui

#3149 Merge join transform: select key from incoming fields #3141
  plugins/transforms/mergejoin/src/main/java/org/apache/hop/pipeline/transforms/mergejoin/MergeJoinDialog.java
  ui/src/main/java/org/apache/hop/ui/core/ConstUi.java
Labels: Transforms

#3151 when using save as point to current file location, fixes #3109
  plugins/misc/projects/src/main/java/org/apache/hop/projects/xp/HopGuiFileDefaultFolder.java
  ui/src/main/java/org/apache/hop/ui/core/dialog/BaseDialog.java
  ui/src/main/java/org/apache/hop/ui/hopgui/delegates/HopGuiFileDelegate.java
Labels: Hop Gui

#3160 fix issue introduced in #3109
  ui/src/main/java/org/apache/hop/ui/hopgui/delegates/HopGuiFileDelegate.java
Labels: Hop Gui

#3161 [DEP] Update dependencies and remove some duplicates
  assemblies/lib-beam/pom.xml
  assemblies/lib/pom.xml
  assemblies/plugins/engines/beam/pom.xml
  assemblies/plugins/engines/beam/src/assembly/assembly.xml
  assemblies/plugins/tech/aws/pom.xml
  assemblies/plugins/tech/azure/pom.xml
  assemblies/plugins/tech/azure/src/assembly/assembly.xml
  assemblies/plugins/tech/cassandra/src/assembly/assembly.xml
  assemblies/plugins/tech/neo4j/pom.xml
  assemblies/plugins/transforms/fake/pom.xml
  assemblies/plugins/transforms/fake/src/assembly/assembly.xml
  assemblies/plugins/transforms/yamlinput/pom.xml
  assemblies/plugins/transforms/yamlinput/src/assembly/assembly.xml
  plugins/engines/beam/pom.xml
  plugins/tech/neo4j/pom.xml
  plugins/transforms/fake/pom.xml
  plugins/transforms/yamlinput/pom.xml
  pom.xml
Labels: Neo4j

#3163 [DEP] remove duplicate dependency
  assemblies/lib-beam/pom.xml
  engine-beam/pom.xml
Labels: Beam

#3180 [IT] disable google tests for now
  integration-tests/gcp/disabled.txt
Labels: Integration Testing
