Repository apache/hop, pull requests merged in 2023-02, with the labels that each got.

#2197 fix #2131
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/filemetadata.adoc
  integration-tests/transforms/0055-file-metadata-filename-fromfield-verify.hpl
  integration-tests/transforms/main-0055-file-metadata.hwf
  integration-tests/transforms/metadata/unit-test/0055-file-metadata-filename-fromfield-verify UNIT.json
  plugins/transforms/filemetadata/src/main/java/org/apache/hop/pipeline/transforms/filemetadata/FileMetadata.java
  plugins/transforms/filemetadata/src/main/java/org/apache/hop/pipeline/transforms/filemetadata/FileMetadataDialog.java
  plugins/transforms/filemetadata/src/main/java/org/apache/hop/pipeline/transforms/filemetadata/FileMetadataMeta.java
  plugins/transforms/filemetadata/src/main/resources/org/apache/hop/pipeline/transforms/filemetadata/messages/messages_en_US.properties
  plugins/transforms/filemetadata/src/main/resources/org/apache/hop/pipeline/transforms/filemetadata/messages/messages_it_IT.properties
Labels: Documentation, Integration Testing

#2210 Issue #2190 : Script
  assemblies/plugins/dist/pom.xml
  assemblies/plugins/transforms/pom.xml
  assemblies/plugins/transforms/script/pom.xml
  assemblies/plugins/transforms/script/src/assembly/assembly.xml
  assemblies/plugins/transforms/script/src/main/resources/version.xml
  docs/hop-user-manual/modules/ROOT/assets/images/transforms/icons/script.svg
  docs/hop-user-manual/modules/ROOT/nav.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/script.adoc
  integration-tests/transforms/0066-script-groovy-aggregate.hpl
  integration-tests/transforms/0066-script-groovy-generate-rows.hpl
  integration-tests/transforms/0066-script-javascript-aggregate.hpl
  integration-tests/transforms/0066-script-javascript-generate-rows.hpl
  integration-tests/transforms/0066-script-python-aggregate.hpl
  integration-tests/transforms/0066-script-python-generate-rows.hpl
  integration-tests/transforms/datasets/golden-script-aggregate.csv
  integration-tests/transforms/datasets/golden-script-generate-rows.csv
  integration-tests/transforms/main-0066-script.hwf
  integration-tests/transforms/metadata/dataset/golden-script-aggregate.json
  integration-tests/transforms/metadata/dataset/golden-script-generate-rows.json
  integration-tests/transforms/metadata/unit-test/0066-script-groovy-aggregate UNIT.json
  integration-tests/transforms/metadata/unit-test/0066-script-groovy-generate-rows UNIT.json
  integration-tests/transforms/metadata/unit-test/0066-script-javascript-aggregate UNIT.json
  integration-tests/transforms/metadata/unit-test/0066-script-javascript-generate-rows UNIT.json
  integration-tests/transforms/metadata/unit-test/0066-script-python-aggregate UNIT.json
  integration-tests/transforms/metadata/unit-test/0066-script-python-generate-rows UNIT.json
  plugins/transforms/pom.xml
  plugins/transforms/script/pom.xml
  plugins/transforms/script/src/main/java/org/apache/hop/pipeline/transforms/script/Script.java
  plugins/transforms/script/src/main/java/org/apache/hop/pipeline/transforms/script/ScriptAddedFunctions.java
  plugins/transforms/script/src/main/java/org/apache/hop/pipeline/transforms/script/ScriptData.java
  plugins/transforms/script/src/main/java/org/apache/hop/pipeline/transforms/script/ScriptDialog.java
  plugins/transforms/script/src/main/java/org/apache/hop/pipeline/transforms/script/ScriptMeta.java
  plugins/transforms/script/src/main/java/org/apache/hop/pipeline/transforms/script/ScriptUtils.java
  plugins/transforms/script/src/main/resources/arrowGreen.svg
  plugins/transforms/script/src/main/resources/arrowOrange.svg
  plugins/transforms/script/src/main/resources/org/apache/hop/pipeline/transforms/script/messages/messages_en_US.properties
  plugins/transforms/script/src/main/resources/script.svg
Labels: Documentation, Integration Testing

#2224 [TRANSLATIONS] Fixed italian translations
  ui/src/main/java/org/apache/hop/ui/hopgui/perspective/configuration/tabs/ConfigVariablesTab.java
  ui/src/main/resources/org/apache/hop/ui/core/dialog/messages/messages_en_US.properties
  ui/src/main/resources/org/apache/hop/ui/core/dialog/messages/messages_it_IT.properties
  ui/src/main/resources/org/apache/hop/ui/pipeline/dialog/messages/messages_de_DE.properties
  ui/src/main/resources/org/apache/hop/ui/pipeline/dialog/messages/messages_en_US.properties
  ui/src/main/resources/org/apache/hop/ui/pipeline/dialog/messages/messages_it_IT.properties
  ui/src/main/resources/org/apache/hop/ui/workflow/dialog/messages/messages_de_DE.properties
  ui/src/main/resources/org/apache/hop/ui/workflow/dialog/messages/messages_it_IT.properties
Labels: Hop Gui

#2225 Translations update from Weblate
  ui/src/main/resources/org/apache/hop/ui/workflow/actions/messages/messages_fr_FR.properties
Labels: Hop Gui

#2226 [DOC] remove variable notation from HOP_CONFIG_FOLDER
  docs/hop-user-manual/modules/ROOT/pages/projects/index.adoc
Labels: Documentation

#2231 [TRANSLATIONS] Fixed italian translations
  ui/src/main/java/org/apache/hop/ui/core/widget/MetaSelectionLine.java
  ui/src/main/resources/org/apache/hop/ui/core/widget/messages/messages_en_US.properties
  ui/src/main/resources/org/apache/hop/ui/core/widget/messages/messages_it_IT.properties
  ui/src/main/resources/org/apache/hop/ui/hopgui/file/pipeline/messages/messages_it_IT.properties
  ui/src/main/resources/org/apache/hop/ui/hopgui/file/workflow/messages/messages_de_DE.properties
  ui/src/main/resources/org/apache/hop/ui/hopgui/file/workflow/messages/messages_it_IT.properties
  ui/src/main/resources/org/apache/hop/ui/hopgui/messages/messages_it_IT.properties
  ui/src/main/resources/org/apache/hop/ui/workflow/dialog/messages/messages_it_IT.properties
Labels: Hop Gui

#2232 updated workflow action docs, fixes #2145
  docs/hop-user-manual/modules/ROOT/pages/workflow/actions/workflow.adoc
Labels: Documentation

#2234 removed parsedate from formula functions and docs. fixes #2077
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/formula.adoc
  plugins/transforms/formula/src/main/resources/org/apache/hop/pipeline/transforms/formula/function/functions.xml
Labels: Documentation

#2248 Translations update from Weblate
  engine/src/main/resources/org/apache/hop/pipeline/transforms/dummy/messages/messages_fr_FR.properties
  plugins/actions/as400command/src/main/resources/org/apache/hop/workflow/actions/as400command/messages/messages_fr_FR.properties
  plugins/actions/dostounix/src/main/resources/org/apache/hop/workflow/actions/dostounix/messages/messages_fr_FR.properties
  plugins/misc/projects/src/main/resources/org/apache/hop/projects/environment/messages/messages_fr_FR.properties
  plugins/misc/projects/src/main/resources/org/apache/hop/projects/gui/messages/messages_fr_FR.properties
  plugins/misc/testing/src/main/resources/org/apache/hop/testing/xp/messages/messages_fr_FR.properties
  plugins/transforms/databaselookup/src/main/resources/org/apache/hop/pipeline/transforms/databaselookup/messages/messages_fr_FR.properties
  plugins/transforms/datagrid/src/main/resources/org/apache/hop/pipeline/transforms/datagrid/messages/messages_fr_FR.properties
  plugins/transforms/selectvalues/src/main/resources/org/apache/hop/pipeline/transforms/selectvalues/messages/messages_fr_FR.properties
  ui/src/main/resources/org/apache/hop/ui/core/database/messages/messages_fr_FR.properties
  ui/src/main/resources/org/apache/hop/ui/hopgui/perspective/pluginexplorer/messages/messages_fr_FR.properties
Labels: Hop Gui

#2253 Translations update from Weblate
  core/src/main/resources/org/apache/hop/core/database/messages/messages_fr_FR.properties
  core/src/main/resources/org/apache/hop/core/messages/messages_de_DE.properties
  core/src/main/resources/org/apache/hop/i18n/messages/messages_de_DE.properties
  engine/src/main/resources/org/apache/hop/core/undo/messages/messages_de_DE.properties
  plugins/misc/projects/src/main/resources/org/apache/hop/projects/environment/messages/messages_fr_FR.properties
  plugins/misc/testing/src/main/resources/org/apache/hop/ui/testing/messages/messages_de_DE.properties
  plugins/transforms/clonerow/src/main/resources/org/apache/hop/pipeline/transforms/clonerow/messages/messages_fr_FR.properties
  ui/src/main/resources/org/apache/hop/ui/core/database/dialog/messages/messages_de_DE.properties
  ui/src/main/resources/org/apache/hop/ui/core/dialog/messages/messages_de_DE.properties
  ui/src/main/resources/org/apache/hop/ui/hopgui/file/workflow/context/messages/messages_fr_FR.properties
  ui/src/main/resources/org/apache/hop/ui/hopgui/file/workflow/messages/messages_fr_FR.properties
  ui/src/main/resources/org/apache/hop/ui/hopgui/messages/messages_fr_FR.properties
  ui/src/main/resources/org/apache/hop/ui/hopgui/perspective/pluginexplorer/messages/messages_fr_FR.properties
  ui/src/main/resources/org/apache/hop/ui/hopgui/perspective/search/messages/messages_fr_FR.properties
  ui/src/main/resources/org/apache/hop/ui/pipeline/transform/common/messages/messages_de_DE.properties
Labels: Hop Gui

#2258 Translations update from Weblate
  core/src/main/resources/org/apache/hop/i18n/messages/messages_de_DE.properties
  plugins/misc/projects/src/main/resources/org/apache/hop/projects/config/messages/messages_de_DE.properties
  plugins/transforms/abort/src/main/resources/org/apache/hop/pipeline/transforms/abort/messages/messages_de_DE.properties
  plugins/transforms/databaselookup/src/main/resources/org/apache/hop/pipeline/transforms/databaselookup/messages/messages_de_DE.properties
  plugins/transforms/dbproc/src/main/resources/org/apache/hop/pipeline/transforms/dbproc/messages/messages_fr_FR.properties
  plugins/transforms/ssh/src/main/resources/org/apache/hop/pipeline/transforms/ssh/messages/messages_de_DE.properties
  ui/src/main/resources/org/apache/hop/ui/hopgui/delegates/messages/messages_de_DE.properties
  ui/src/main/resources/org/apache/hop/ui/hopgui/dialog/messages/messages_de_DE.properties
  ui/src/main/resources/org/apache/hop/ui/pipeline/config/messages/messages_de_DE.properties
  ui/src/main/resources/org/apache/hop/ui/workflow/dialog/messages/messages_de_DE.properties
Labels: Hop Gui

#2228 [tests](docker)Add the Docker-compose test case yaml file for Apache Doris
  docker/integration-tests/integration-tests-doris.yaml
Labels: Containers

#2247 Fix Group By Concatenate string separated by new line (CRLF) #2243
  integration-tests/transforms/0006-groupby-concat.hpl
  integration-tests/transforms/datasets/golden-groupby-concat.csv
  integration-tests/transforms/metadata/dataset/golden-groupby-concat.json
  integration-tests/transforms/metadata/unit-test/0006-groupby-concat UNIT.json
  plugins/transforms/groupby/src/main/java/org/apache/hop/pipeline/transforms/groupby/GroupBy.java
Labels: Integration Testing

#2304 fix #2187
  integration-tests/hop_server/0004-repeat_pipeline.hpl
  integration-tests/hop_server/0004-repeat_workflow.hwf
  integration-tests/hop_server/main-0004-repeat-action-on-hop-server.hwf
  plugins/actions/repeat/src/main/java/org/apache/hop/workflow/actions/repeat/Repeat.java
Labels: Integration Testing

#2306 #2187 Add header to pipeline
  integration-tests/hop_server/0004-repeat_pipeline.hpl
Labels: Integration Testing

#2311 added docs + sample for field names with spaces. closes #2300
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/javascript.adoc
  plugins/transforms/javascript/src/main/samples/transforms/javascript-field-name-with-spaces.hpl
Labels: Documentation

#2314 Translations update from Weblate
  core/src/main/resources/org/apache/hop/core/database/messages/messages_de_DE.properties
  plugins/actions/createfolder/src/main/resources/org/apache/hop/workflow/actions/createfolder/messages/messages_de_DE.properties
  plugins/actions/writetofile/src/main/resources/org/apache/hop/workflow/actions/writetofile/messages/messages_de_DE.properties
  plugins/misc/reflection/src/main/resources/org/apache/hop/reflection/pipeline/transform/messages/messages_de_DE.properties
  plugins/tech/cassandra/src/main/resources/org/apache/hop/pipeline/transforms/cassandrasstableoutput/writer/messages/messages_de_DE.properties
  ui/src/main/resources/org/apache/hop/ui/pipeline/transform/common/messages/messages_de_DE.properties
Labels: Hop Gui

#2229 #2115 Unable to stop hop-server from command-line
  assemblies/static/src/main/resources/hop-server.xml
  docker/Dockerfile
  docker/resources/load-and-execute.sh
  docs/hop-tech-manual/modules/ROOT/pages/docker-container.adoc
  docs/hop-user-manual/modules/ROOT/pages/hop-server/index.adoc
  engine/src/main/java/org/apache/hop/server/HopServer.java
  engine/src/main/java/org/apache/hop/www/HopServer.java
  engine/src/main/java/org/apache/hop/www/HopServerConfig.java
  engine/src/main/java/org/apache/hop/www/WebServer.java
  engine/src/main/resources/org/apache/hop/www/messages/messages_en_US.properties
  engine/src/test/java/org/apache/hop/core/metadata/SerializableMetadataProviderTest.java
  engine/src/test/java/org/apache/hop/www/HopServerTest.java
  engine/src/test/java/org/apache/hop/www/WebServerTest.java
Labels: Containers, Documentation

#2373 Fix for issue #2320 : The Execution Information Perspective from Remote Location returns a HopException
  engine/src/main/java/org/apache/hop/execution/remote/RemoteExecutionInfoLocation.java
  engine/src/main/java/org/apache/hop/www/GetExecutionInfoServlet.java
  integration-tests/hop_server/0005-delete-from-remote-location.hpl
  integration-tests/hop_server/0005-read-from-remote-location.hpl
  integration-tests/hop_server/0005-verify-deleted-on-remote-location.hpl
  integration-tests/hop_server/0005-write-to-remote-location.hpl
  integration-tests/hop_server/datasets/0005-delete-from-remote-location-golden.csv
  integration-tests/hop_server/datasets/0005-read-from-remote-location-golden.csv
  integration-tests/hop_server/main-0005-remote-execution-location.hwf
  integration-tests/hop_server/metadata/dataset/0005-delete-from-remote-location-golden.json
  integration-tests/hop_server/metadata/dataset/0005-read-from-remote-location-golden.json
  integration-tests/hop_server/metadata/execution-data-profile/first-last.json
  integration-tests/hop_server/metadata/execution-info-location/local.json
  integration-tests/hop_server/metadata/execution-info-location/remote.json
  integration-tests/hop_server/metadata/pipeline-run-configuration/local-remote-location.json
  integration-tests/hop_server/metadata/unit-test/0005-read-from-remote-location UNIT.json
  plugins/transforms/execinfo/src/main/java/org/apache/hop/pipeline/transforms/execinfo/ExecInfo.java
Labels: Integration Testing

#2322 Refactor Regexp Test UI #2280
  plugins/transforms/regexeval/src/main/java/org/apache/hop/pipeline/transforms/regexeval/RegexEvalHelperDialog.java
  ui/src/main/java/org/apache/hop/ui/core/gui/GuiResource.java
Labels: Hop Gui

#2389 Translations update from Weblate
  core/src/main/resources/org/apache/hop/i18n/messages/messages_de_DE.properties
  engine/src/main/resources/org/apache/hop/pipeline/transforms/dummy/messages/messages_de_DE.properties
  engine/src/main/resources/org/apache/hop/pipeline/transforms/file/messages/messages_de_DE.properties
  engine/src/main/resources/org/apache/hop/pipeline/transforms/missing/messages/messages_de_DE.properties
  plugins/actions/copyfiles/src/main/resources/org/apache/hop/workflow/actions/copyfiles/messages/messages_de_DE.properties
  plugins/actions/createfile/src/main/resources/org/apache/hop/workflow/actions/createfile/messages/messages_de_DE.properties
  plugins/actions/deletefile/src/main/resources/org/apache/hop/workflow/actions/deletefile/messages/messages_de_DE.properties
  plugins/actions/filecompare/src/main/resources/org/apache/hop/workflow/actions/filecompare/messages/messages_de_DE.properties
  plugins/actions/msgboxinfo/src/main/resources/org/apache/hop/workflow/actions/msgboxinfo/messages/messages_de_DE.properties
  plugins/actions/unzip/src/main/resources/org/apache/hop/workflow/actions/unzip/messages/messages_de_DE.properties
  plugins/actions/waitforfile/src/main/resources/org/apache/hop/workflow/actions/waitforfile/messages/messages_de_DE.properties
  plugins/actions/workflow/src/main/resources/org/apache/hop/workflow/actions/workflow/messages/messages_de_DE.properties
  plugins/databases/googlebigquery/src/main/resources/org/apache/hop/databases/googlebigquery/messages/messages_de_DE.properties
  plugins/databases/googlebigquery/src/main/resources/org/apache/hop/databases/googlebigquery/messages/messages_en_US.properties
  plugins/databases/googlebigquery/src/main/resources/org/apache/hop/databases/googlebigquery/messages/messages_zh_CN.properties
  plugins/misc/import/src/main/resources/org/apache/hop/imports/gui/messages/messages_de_DE.properties
  plugins/misc/reflection/src/main/resources/org/apache/hop/reflection/pipeline/transform/messages/messages_de_DE.properties
  plugins/misc/reflection/src/main/resources/org/apache/hop/reflection/reader/meta/messages/messages_de_DE.properties
  plugins/tech/neo4j/src/main/resources/org/apache/hop/neo4j/perspective/messages/messages_fr_FR.properties
  plugins/transforms/abort/src/main/resources/org/apache/hop/pipeline/transforms/abort/messages/messages_de_DE.properties
  plugins/transforms/execinfo/src/main/resources/org/apache/hop/pipeline/transforms/execinfo/messages/messages_de_DE.properties
  plugins/transforms/filesfromresult/src/main/resources/org/apache/hop/pipeline/transforms/filesfromresult/messages/messages_de_DE.properties
  ui/src/main/resources/org/apache/hop/ui/core/database/dialog/messages/messages_de_DE.properties
  ui/src/main/resources/org/apache/hop/ui/hopgui/file/pipeline/context/messages/messages_de_DE.properties
  ui/src/main/resources/org/apache/hop/ui/hopgui/perspective/configuration/messages/messages_de_DE.properties
  ui/src/main/resources/org/apache/hop/ui/workflow/actions/messages/messages_de_DE.properties
Labels: Hop Gui, Neo4j

#2396 fix #2393 Hop Server no longer can be started by name
  docs/hop-user-manual/modules/ROOT/pages/hop-server/index.adoc
  engine/src/main/java/org/apache/hop/www/HopServer.java
Labels: Documentation

#2418 Fix for issue #2320 : Execution Information Perspective for Remote Location fails
  engine/src/main/java/org/apache/hop/execution/remote/RemoteExecutionInfoLocation.java
  engine/src/main/java/org/apache/hop/server/HopServer.java
  engine/src/main/java/org/apache/hop/www/HopServer.java
  engine/src/main/java/org/apache/hop/www/RegisterExecutionInfoServlet.java
  integration-tests/hop_server/0005-read-from-remote-location.hpl
  integration-tests/hop_server/0005-verify-executions-logged.hpl
  integration-tests/hop_server/main-0005-remote-execution-location.hwf
  integration-tests/hop_server/metadata/pipeline-run-configuration/local-remote-location.json
  integration-tests/hop_server/metadata/pipeline-run-configuration/remote-no-linked-resources.json
Labels: Integration Testing

#2431 #2332 Simple pipeline logging sample/directions
  docs/hop-user-manual/modules/ROOT/assets/images/metadata-types/pipeline-log.png
  docs/hop-user-manual/modules/ROOT/nav.adoc
  docs/hop-user-manual/modules/ROOT/pages/metadata-types/pipeline-log.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/pipeline-logging.adoc
  plugins/misc/reflection/src/main/java/org/apache/hop/reflection/pipeline/transform/PipelineLoggingMeta.java
  plugins/misc/reflection/src/main/samples/metadata/pipeline-log/pipeline-log-example.json
  plugins/misc/reflection/src/main/samples/metadata/pipeline-probe/pipeline-probe-example.json
  plugins/misc/reflection/src/main/samples/reflection/generate-fake-books.hpl
  plugins/misc/reflection/src/main/samples/reflection/pipeline-log-example.hpl
  plugins/misc/reflection/src/main/samples/reflection/pipeline-probe-example.hpl
Labels: Documentation

#2434 Hop Web: projects and environment startup options, fixed CLI tools #2432, #2433
  docker/Dockerfile.web
  docker/resources/run-web.sh
  docs/hop-user-manual/modules/ROOT/pages/hop-gui/hop-web.adoc
Labels: Containers, Documentation

#2443 fixed incorrect pipeline references. fixes #2412
  docs/hop-user-manual/modules/ROOT/pages/metadata-types/workflow-log.adoc
  plugins/misc/reflection/src/main/resources/org/apache/hop/reflection/workflow/meta/messages/messages_en_US.properties
Labels: Documentation

#2438 Translations update from Weblate
  plugins/actions/createfile/src/main/resources/org/apache/hop/workflow/actions/createfile/messages/messages_en_US.properties
  plugins/actions/createfolder/src/main/resources/org/apache/hop/workflow/actions/createfolder/messages/messages_en_US.properties
  plugins/actions/folderisempty/src/main/resources/org/apache/hop/workflow/actions/folderisempty/messages/messages_en_US.properties
  plugins/transforms/coalesce/src/main/resources/org/apache/hop/pipeline/transforms/coalesce/messages/messages_fr_FR.properties
  plugins/transforms/streamlookup/src/main/resources/org/apache/hop/pipeline/transforms/streamlookup/messages/messages_fr_FR.properties
  plugins/transforms/switchcase/src/main/resources/org/apache/hop/pipeline/transforms/switchcase/messages/messages_fr_FR.properties
  ui/src/main/resources/org/apache/hop/ui/core/dialog/messages/messages_fr_FR.properties
  ui/src/main/resources/org/apache/hop/ui/hopgui/context/metadata/messages/messages_fr_FR.properties
  ui/src/main/resources/org/apache/hop/ui/hopgui/messages/messages_fr_FR.properties
  ui/src/main/resources/org/apache/hop/ui/hopgui/welcome/messages/messages_fr_FR.properties
Labels: Hop Gui

#2446 added options to provide basic authentication in Hop Web container + …
  docker/resources/run-web.sh
  docs/hop-user-manual/modules/ROOT/assets/images/hop-gui/hop-web-basic-authentication.png
  docs/hop-user-manual/modules/ROOT/pages/hop-gui/hop-web.adoc
Labels: Containers, Documentation

#2452 #2445: Upgrading mssqlnative jdbc driver to 11.2.3 and updating the docs
  assemblies/plugins/databases/mssqlnative-assemblies/pom.xml
  assemblies/static/src/main/resources/LICENSE
  docs/hop-user-manual/modules/ROOT/pages/database/databases/mssqlnative.adoc
Labels: Documentation

#2451 initial version for DuckDB database type. fixes #2448
  assemblies/plugins/databases/duckdb-assemblies/pom.xml
  assemblies/plugins/databases/duckdb-assemblies/src/assembly/assembly.xml
  assemblies/plugins/databases/duckdb-assemblies/src/main/resources/version.xml
  assemblies/plugins/databases/pom.xml
  assemblies/plugins/dist/pom.xml
  docs/hop-user-manual/modules/ROOT/nav.adoc
  docs/hop-user-manual/modules/ROOT/pages/database/databases/duckdb.adoc
  integration-tests/duckdb/dev-env-config.json
  integration-tests/duckdb/duckdb-read.hpl
  integration-tests/duckdb/duckdb-write.hpl
  integration-tests/duckdb/hop-config.json
  integration-tests/duckdb/main-0001-read-write-duckdb.hwf
  integration-tests/duckdb/metadata/pipeline-run-configuration/local.json
  integration-tests/duckdb/metadata/rdbms/duckdb.json
  integration-tests/duckdb/metadata/workflow-run-configuration/local.json
  integration-tests/duckdb/project-config.json
  plugins/databases/duckdb/pom.xml
  plugins/databases/duckdb/src/main/java/org/apache/hop/databases/duckdb/DuckDBDatabaseMeta.java
  plugins/databases/pom.xml
Labels: Documentation, Integration Testing

#2456 Translations update from Weblate
  core/src/main/resources/org/apache/hop/core/logging/messages/messages_pt_BR.properties
  core/src/main/resources/org/apache/hop/core/messages/messages_pt_BR.properties
  core/src/main/resources/org/apache/hop/i18n/messages/messages_pt_BR.properties
  engine/src/main/resources/org/apache/hop/core/undo/messages/messages_pt_BR.properties
  engine/src/main/resources/org/apache/hop/pipeline/messages/messages_pt_BR.properties
  engine/src/main/resources/org/apache/hop/pipeline/transforms/dummy/messages/messages_pt_BR.properties
  engine/src/main/resources/org/apache/hop/workflow/actions/dummy/messages/messages_pt_BR.properties
  plugins/actions/abort/src/main/resources/org/apache/hop/workflow/actions/abort/messages/messages_pt_BR.properties
  plugins/actions/copyfiles/src/main/resources/org/apache/hop/workflow/actions/copyfiles/messages/messages_pt_BR.properties
  plugins/actions/createfile/src/main/resources/org/apache/hop/workflow/actions/createfile/messages/messages_pt_BR.properties
  plugins/actions/createfolder/src/main/resources/org/apache/hop/workflow/actions/createfolder/messages/messages_pt_BR.properties
  plugins/actions/deletefile/src/main/resources/org/apache/hop/workflow/actions/deletefile/messages/messages_pt_BR.properties
  plugins/actions/deletefiles/src/main/resources/org/apache/hop/workflow/actions/deletefiles/messages/messages_pt_BR.properties
  plugins/actions/deletefolders/src/main/resources/org/apache/hop/workflow/actions/deletefolders/messages/messages_pt_BR.properties
  plugins/actions/deleteresultfilenames/src/main/resources/org/apache/hop/workflow/actions/deleteresultfilenames/messages/messages_pt_BR.properties
  plugins/actions/eval/src/main/resources/org/apache/hop/workflow/actions/eval/messages/messages_pt_BR.properties
  plugins/actions/evaluatetablecontent/src/main/resources/org/apache/hop/workflow/actions/evaluatetablecontent/messages/messages_pt_BR.properties
  plugins/actions/filecompare/src/main/resources/org/apache/hop/workflow/actions/filecompare/messages/messages_pt_BR.properties
  plugins/actions/fileexists/src/main/resources/org/apache/hop/workflow/actions/fileexists/messages/messages_pt_BR.properties
  plugins/actions/filesexist/src/main/resources/org/apache/hop/workflow/actions/filesexist/messages/messages_pt_BR.properties
  plugins/actions/folderisempty/src/main/resources/org/apache/hop/workflow/actions/folderisempty/messages/messages_pt_BR.properties
  plugins/actions/folderscompare/src/main/resources/org/apache/hop/workflow/actions/folderscompare/messages/messages_pt_BR.properties
  plugins/actions/msgboxinfo/src/main/resources/org/apache/hop/workflow/actions/msgboxinfo/messages/messages_pt_BR.properties
  plugins/actions/repeat/src/main/resources/org/apache/hop/workflow/actions/repeat/messages/messages_pt_BR.properties
  plugins/actions/simpleeval/src/main/resources/org/apache/hop/workflow/actions/simpleeval/messages/messages_pt_BR.properties
  plugins/actions/success/src/main/resources/org/apache/hop/workflow/actions/success/messages/messages_pt_BR.properties
  plugins/actions/truncatetables/src/main/resources/org/apache/hop/workflow/actions/truncatetables/messages/messages_pt_BR.properties
  plugins/actions/waitforfile/src/main/resources/org/apache/hop/workflow/actions/waitforfile/messages/messages_pt_BR.properties
  plugins/misc/projects/src/main/resources/org/apache/hop/projects/config/messages/messages_pt_BR.properties
  plugins/tech/aws/src/main/resources/org/apache/hop/vfs/s3/s3/vfs/messages/messages_pt_BR.properties
  plugins/tech/aws/src/main/resources/org/apache/hop/vfs/s3/s3common/messages/messages_pt_BR.properties
  plugins/transforms/abort/src/main/resources/org/apache/hop/pipeline/transforms/abort/messages/messages_pt_BR.properties
  plugins/transforms/addsequence/src/main/resources/org/apache/hop/pipeline/transforms/addsequence/messages/messages_pt_BR.properties
  plugins/transforms/blockingtransform/src/main/resources/org/apache/hop/pipeline/transforms/blockingtransform/messages/messages_pt_BR.properties
  plugins/transforms/calculator/src/main/resources/org/apache/hop/pipeline/transforms/calculator/messages/messages_pt_BR.properties
  plugins/transforms/combinationlookup/src/main/resources/org/apache/hop/pipeline/transforms/combinationlookup/messages/messages_pt_BR.properties
  plugins/transforms/cubeinput/src/main/resources/org/apache/hop/pipeline/transforms/cubeinput/messages/messages_pt_BR.properties
  plugins/transforms/databasejoin/src/main/resources/org/apache/hop/pipeline/transforms/databasejoin/messages/messages_pt_BR.properties
  plugins/transforms/databaselookup/src/main/resources/org/apache/hop/pipeline/transforms/databaselookup/messages/messages_pt_BR.properties
  plugins/transforms/dbproc/src/main/resources/org/apache/hop/pipeline/transforms/dbproc/messages/messages_pt_BR.properties
  plugins/transforms/detectemptystream/src/main/resources/org/apache/hop/pipeline/transforms/detectemptystream/messages/messages_pt_BR.properties
  plugins/transforms/randomvalue/src/main/resources/org/apache/hop/pipeline/transforms/randomvalue/messages/messages_pt_BR.properties
  plugins/transforms/rowstoresult/src/main/resources/org/apache/hop/pipeline/transforms/rowstoresult/messages/messages_pt_BR.properties
  plugins/transforms/tableinput/src/main/resources/org/apache/hop/pipeline/transforms/tableinput/messages/messages_pt_BR.properties
  plugins/transforms/tableoutput/src/main/resources/org/apache/hop/pipeline/transforms/tableoutput/messages/messages_pt_BR.properties
  plugins/transforms/uniquerows/src/main/resources/org/apache/hop/pipeline/transforms/uniquerows/messages/messages_pt_BR.properties
  plugins/transforms/writetolog/src/main/resources/org/apache/hop/pipeline/transforms/writetolog/messages/messages_pt_BR.properties
  ui/src/main/resources/org/apache/hop/ui/core/database/messages/messages_pt_BR.properties
  ui/src/main/resources/org/apache/hop/ui/core/dialog/messages/messages_pt_BR.properties
  ui/src/main/resources/org/apache/hop/ui/hopgui/dialog/messages/messages_pt_BR.properties
  ui/src/main/resources/org/apache/hop/ui/hopgui/file/pipeline/messages/messages_pt_BR.properties
  ui/src/main/resources/org/apache/hop/ui/hopgui/messages/messages_pt_BR.properties
  ui/src/main/resources/org/apache/hop/ui/hopgui/perspective/configuration/messages/messages_pt_BR.properties
  ui/src/main/resources/org/apache/hop/ui/i18n/editor/messages/messages_pt_BR.properties
  ui/src/main/resources/org/apache/hop/ui/partition/messages/messages_pt_BR.properties
  ui/src/main/resources/org/apache/hop/ui/pipeline/config/messages/messages_pt_BR.properties
  ui/src/main/resources/org/apache/hop/ui/pipeline/dialog/messages/messages_pt_BR.properties
  ui/src/main/resources/org/apache/hop/ui/workflow/actions/messages/messages_pt_BR.properties
  ui/src/main/resources/org/apache/hop/ui/workflow/config/messages/messages_pt_BR.properties
Labels: Hop Gui

#2392 updated java 11 reference, removed duplicate hop server port reference #2391
  docs/hop-tech-manual/modules/ROOT/pages/docker-container.adoc
Labels: Documentation

#2440 Fix Stream lookup fields list #2429
  plugins/transforms/streamlookup/src/main/java/org/apache/hop/pipeline/transforms/streamlookup/StreamLookupDialog.java
  plugins/transforms/streamlookup/src/main/java/org/apache/hop/pipeline/transforms/streamlookup/StreamLookupMeta.java
Labels: Transforms

#2441 Enable/disable Hops Between Selected Actions/Transforms #2323
  ui/src/main/java/org/apache/hop/ui/hopgui/file/pipeline/HopGuiPipelineGraph.java
  ui/src/main/java/org/apache/hop/ui/hopgui/file/workflow/HopGuiWorkflowGraph.java
  ui/src/main/resources/org/apache/hop/ui/hopgui/file/pipeline/messages/messages_en_US.properties
  ui/src/main/resources/org/apache/hop/ui/hopgui/file/workflow/messages/messages_en_US.properties
  ui/src/main/resources/ui/images/hop-delete.svg
  ui/src/main/resources/ui/images/hop-disable-between-selected.svg
  ui/src/main/resources/ui/images/hop-disable-downstream.svg
  ui/src/main/resources/ui/images/hop-disable.svg
  ui/src/main/resources/ui/images/hop-enable-between-selected.svg
  ui/src/main/resources/ui/images/hop-enable-downstream.svg
Labels: Hop Gui

#2450 Align the Ok/Cancel/Help buttons of the dialog box #2442
  core/src/main/resources/org/apache/hop/i18n/messages/messages_en_US.properties
  core/src/main/resources/org/apache/hop/i18n/messages/messages_fr_FR.properties
  plugins/actions/abort/src/main/java/org/apache/hop/workflow/actions/abort/ActionAbortDialog.java
  plugins/actions/abort/src/main/resources/org/apache/hop/workflow/actions/abort/messages/messages_en_US.properties
  plugins/actions/createfile/src/main/java/org/apache/hop/workflow/actions/createfile/ActionCreateFileDialog.java
  plugins/actions/createfile/src/main/resources/org/apache/hop/workflow/actions/createfile/messages/messages_en_US.properties
  plugins/actions/createfolder/src/main/java/org/apache/hop/workflow/actions/createfolder/ActionCreateFolderDialog.java
  plugins/actions/createfolder/src/main/resources/org/apache/hop/workflow/actions/createfolder/messages/messages_en_US.properties
  plugins/actions/delay/src/main/java/org/apache/hop/workflow/actions/delay/ActionDelayDialog.java
  plugins/actions/delay/src/main/resources/org/apache/hop/workflow/actions/delay/messages/messages_en_US.properties
  plugins/actions/deletefile/src/main/java/org/apache/hop/workflow/actions/deletefile/ActionDeleteFileDialog.java
  plugins/actions/deletefile/src/main/resources/org/apache/hop/workflow/actions/deletefile/messages/messages_en_US.properties
  plugins/actions/deleteresultfilenames/src/main/java/org/apache/hop/workflow/actions/deleteresultfilenames/ActionDeleteResultFilenamesDialog.java
  plugins/actions/deleteresultfilenames/src/main/resources/org/apache/hop/workflow/actions/deleteresultfilenames/messages/messages_en_US.properties
  plugins/actions/filecompare/src/main/java/org/apache/hop/workflow/actions/filecompare/ActionFileCompareDialog.java
  plugins/actions/filecompare/src/main/resources/org/apache/hop/workflow/actions/filecompare/messages/messages_en_US.properties
  plugins/actions/fileexists/src/main/java/org/apache/hop/workflow/actions/fileexists/ActionFileExistsDialog.java
  plugins/actions/fileexists/src/main/resources/org/apache/hop/workflow/actions/fileexists/messages/messages_en_US.properties
  plugins/actions/folderisempty/src/main/java/org/apache/hop/workflow/actions/folderisempty/ActionFolderIsEmptyDialog.java
  plugins/actions/folderisempty/src/main/resources/org/apache/hop/workflow/actions/folderisempty/messages/messages_en_US.properties
  plugins/actions/ping/src/main/java/org/apache/hop/workflow/actions/ping/ActionPingDialog.java
  plugins/actions/ping/src/main/resources/org/apache/hop/workflow/actions/ping/messages/messages_en_US.properties
  plugins/actions/repeat/src/main/java/org/apache/hop/workflow/actions/repeat/EndRepeatDialog.java
  plugins/actions/repeat/src/main/resources/org/apache/hop/workflow/actions/repeat/messages/messages_en_US.properties
  plugins/actions/success/src/main/java/org/apache/hop/workflow/actions/success/ActionSuccessDialog.java
  plugins/actions/success/src/main/resources/org/apache/hop/workflow/actions/success/messages/messages_en_US.properties
  plugins/actions/waitforfile/src/main/java/org/apache/hop/workflow/actions/waitforfile/ActionWaitForFileDialog.java
  plugins/actions/waitforfile/src/main/resources/org/apache/hop/workflow/actions/waitforfile/messages/messages_en_US.properties
  plugins/actions/webserviceavailable/src/main/java/org/apache/hop/workflow/actions/webserviceavailable/ActionWebServiceAvailableDialog.java
  plugins/actions/webserviceavailable/src/main/resources/org/apache/hop/workflow/actions/webserviceavailable/messages/messages_en_US.properties
  ui/src/main/java/org/apache/hop/ui/pipeline/transforms/dummy/DummyDialog.java
  ui/src/main/java/org/apache/hop/ui/workflow/actions/dummy/ActionDummyDialog.java
Labels: Hop Gui

#2436 Improve the look & feel of the widgets per operating system #2395, #2435
  core/src/main/java/org/apache/hop/core/Props.java
  plugins/misc/testing/src/main/java/org/apache/hop/ui/testing/PipelineUnitTestEditor.java
  plugins/transforms/metainject/src/main/java/org/apache/hop/pipeline/transforms/metainject/MetaInjectDialog.java
  pom.xml
  rap/pom.xml
  ui/src/main/java/org/apache/hop/ui/core/PropsUi.java
  ui/src/main/java/org/apache/hop/ui/core/database/DatabaseMetaEditor.java
  ui/src/main/java/org/apache/hop/ui/core/dialog/ContextDialog.java
  ui/src/main/java/org/apache/hop/ui/core/vfs/HopVfsFileDialog.java
  ui/src/main/java/org/apache/hop/ui/core/widget/MetaSelectionLine.java
  ui/src/main/java/org/apache/hop/ui/core/widget/StyledTextComp.java
  ui/src/main/java/org/apache/hop/ui/hopgui/HopGui.java
  ui/src/main/java/org/apache/hop/ui/pipeline/config/PipelineRunConfigurationEditor.java
  ui/src/main/java/org/apache/hop/ui/pipeline/dialog/PipelineExecutionConfigurationDialog.java
  ui/src/main/java/org/apache/hop/ui/workflow/actions/start/ActionStartDialog.java
  ui/src/main/java/org/apache/hop/ui/workflow/config/WorkflowRunConfigurationEditor.java
  ui/src/main/java/org/apache/hop/ui/workflow/dialog/WorkflowExecutionConfigurationDialog.java
Labels: Hop Gui

#2467 Translations update from Weblate
  core/src/main/resources/org/apache/hop/i18n/messages/messages_fr_FR.properties
  plugins/actions/abort/src/main/resources/org/apache/hop/workflow/actions/abort/messages/messages_fr_FR.properties
  plugins/actions/createfile/src/main/resources/org/apache/hop/workflow/actions/createfile/messages/messages_fr_FR.properties
  plugins/actions/delay/src/main/resources/org/apache/hop/workflow/actions/delay/messages/messages_fr_FR.properties
  plugins/actions/folderisempty/src/main/resources/org/apache/hop/workflow/actions/folderisempty/messages/messages_fr_FR.properties
  plugins/transforms/getsubfolders/src/main/resources/org/apache/hop/pipeline/transforms/getsubfolders/messages/messages_fr_FR.properties
  ui/src/main/resources/org/apache/hop/ui/hopgui/file/pipeline/context/messages/messages_fr_FR.properties
Labels: Hop Gui

#2473 removed yesterday function from formula plugin and docs. fixes #2464
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/formula.adoc
  plugins/transforms/formula/src/main/resources/org/apache/hop/pipeline/transforms/formula/function/functions.xml
Labels: Documentation

#2470 Translations update from Weblate
  core/src/main/resources/org/apache/hop/i18n/messages/messages_it_IT.properties
  plugins/actions/addresultfilenames/src/main/resources/org/apache/hop/workflow/actions/addresultfilenames/messages/messages_de_DE.properties
  plugins/actions/folderisempty/src/main/resources/org/apache/hop/workflow/actions/folderisempty/messages/messages_de_DE.properties
  plugins/actions/folderisempty/src/main/resources/org/apache/hop/workflow/actions/folderisempty/messages/messages_pt_BR.properties
  plugins/actions/simpleeval/src/main/resources/org/apache/hop/workflow/actions/simpleeval/messages/messages_de_DE.properties
  ui/src/main/resources/org/apache/hop/ui/workflow/actions/messages/messages_de_DE.properties
Labels: Hop Gui

#2478 Remove orange from pipeline execution result panel #2477
  ui/src/main/java/org/apache/hop/ui/hopgui/file/pipeline/HopGuiPipelineGraph.java
  ui/src/main/java/org/apache/hop/ui/hopgui/file/workflow/HopGuiWorkflowGraph.java
Labels: Hop Gui

#2469 Database lookup/Insert update transform should sort field names #2468
  plugins/transforms/databaselookup/src/main/java/org/apache/hop/pipeline/transforms/databaselookup/DatabaseLookupDialog.java
  plugins/transforms/databaselookup/src/main/resources/org/apache/hop/pipeline/transforms/databaselookup/messages/messages_de_DE.properties
  plugins/transforms/databaselookup/src/main/resources/org/apache/hop/pipeline/transforms/databaselookup/messages/messages_en_US.properties
  plugins/transforms/databaselookup/src/main/resources/org/apache/hop/pipeline/transforms/databaselookup/messages/messages_es_AR.properties
  plugins/transforms/databaselookup/src/main/resources/org/apache/hop/pipeline/transforms/databaselookup/messages/messages_es_ES.properties
  plugins/transforms/databaselookup/src/main/resources/org/apache/hop/pipeline/transforms/databaselookup/messages/messages_it_IT.properties
  plugins/transforms/databaselookup/src/main/resources/org/apache/hop/pipeline/transforms/databaselookup/messages/messages_ja_JP.properties
  plugins/transforms/databaselookup/src/main/resources/org/apache/hop/pipeline/transforms/databaselookup/messages/messages_ko_KR.properties
  plugins/transforms/databaselookup/src/main/resources/org/apache/hop/pipeline/transforms/databaselookup/messages/messages_pt_BR.properties
  plugins/transforms/databaselookup/src/main/resources/org/apache/hop/pipeline/transforms/databaselookup/messages/messages_pt_PT.properties
  plugins/transforms/databaselookup/src/main/resources/org/apache/hop/pipeline/transforms/databaselookup/messages/messages_zh_CN.properties
  plugins/transforms/insertupdate/src/main/java/org/apache/hop/pipeline/transforms/insertupdate/InsertUpdateDialog.java
  plugins/transforms/insertupdate/src/main/resources/org/apache/hop/pipeline/transforms/insertupdate/messages/messages_en_US.properties
  plugins/transforms/insertupdate/src/main/resources/org/apache/hop/pipeline/transforms/insertupdate/messages/messages_es_AR.properties
  plugins/transforms/insertupdate/src/main/resources/org/apache/hop/pipeline/transforms/insertupdate/messages/messages_es_ES.properties
  plugins/transforms/insertupdate/src/main/resources/org/apache/hop/pipeline/transforms/insertupdate/messages/messages_fr_FR.properties
  plugins/transforms/insertupdate/src/main/resources/org/apache/hop/pipeline/transforms/insertupdate/messages/messages_ja_JP.properties
  plugins/transforms/insertupdate/src/main/resources/org/apache/hop/pipeline/transforms/insertupdate/messages/messages_ko_KR.properties
  plugins/transforms/insertupdate/src/main/resources/org/apache/hop/pipeline/transforms/insertupdate/messages/messages_zh_CN.properties
Labels: Transforms

#2472 Add variable icon to TabItem in Run Pipeline/Workflow dialog #2471
  ui/src/main/java/org/apache/hop/ui/core/dialog/BaseDialog.java
  ui/src/main/java/org/apache/hop/ui/core/dialog/ConfigurationDialog.java
  ui/src/main/java/org/apache/hop/ui/core/gui/GuiResource.java
  ui/src/main/java/org/apache/hop/ui/core/widget/ComboVar.java
  ui/src/main/java/org/apache/hop/ui/core/widget/StyledTextComp.java
  ui/src/main/java/org/apache/hop/ui/core/widget/TextVar.java
  ui/src/main/java/org/apache/hop/ui/core/widget/TextVarButton.java
  ui/src/main/java/org/apache/hop/ui/workflow/dialog/WorkflowExecutionConfigurationDialog.java
Labels: Hop Gui

#2480 Fix database duckdb doc url
  plugins/databases/duckdb/src/main/java/org/apache/hop/databases/duckdb/DuckDBDatabaseMeta.java
Labels: Database, Documentation
