Repository apache/hop, pull requests merged in 2023-01, with the labels that each got.

#2125 [DOC] fix al asciidoc errors & warnings
  .github/pr-rules.yml
  docs/hop-dev-manual/modules/ROOT/pages/hopweb/developer-guide.adoc
  docs/hop-dev-manual/modules/ROOT/pages/hopweb/index.adoc
  docs/hop-user-manual/modules/ROOT/assets/images/hop-gui/pipeline/preview-menu-pipeline.png
  docs/hop-user-manual/modules/ROOT/pages/database/databases.adoc
  docs/hop-user-manual/modules/ROOT/pages/database/databases/mssqlnative.adoc
  docs/hop-user-manual/modules/ROOT/pages/hop-server/index.adoc
  docs/hop-user-manual/modules/ROOT/pages/hop-tools/hop-translator.adoc
  docs/hop-user-manual/modules/ROOT/pages/how-to-guides/apache-hop-web-services-docker.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/pipeline-run-configurations/beam-flink-pipeline-engine.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/pipeline-run-configurations/beam-spark-pipeline-engine.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/pipeline-run-configurations/native-remote-pipeline-engine.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/mongodbdelete.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/tokenreplacement.adoc
  docs/hop-user-manual/modules/ROOT/pages/plugins/import/kettle-import.adoc
  docs/hop-user-manual/modules/ROOT/pages/projects/index.adoc
  docs/hop-user-manual/modules/ROOT/pages/snippets/best-practices/variables.adoc
  docs/hop-user-manual/modules/ROOT/pages/workflow/actions/shell.adoc
  docs/hop-user-manual/modules/ROOT/pages/workflow/workflow-run-configurations/native-remote-workflow-engine.adoc
Labels: Documentation

#2126 [DOCS] fix broken nbsp and remove empty file
  docs/hop-user-manual/modules/ROOT/pages/hop-tools/hop-conf/hop-conf-cloud-aws-s3.adoc
  docs/hop-user-manual/modules/ROOT/pages/projects/advanced.adoc
Labels: Documentation

#2134 #2094, #2132, #2133
  docs/hop-user-manual/modules/ROOT/assets/images/icons/gear.svg
  docs/hop-user-manual/modules/ROOT/pages/hop-gui/perspective-configuration.adoc
  docs/hop-user-manual/modules/ROOT/pages/hop-gui/perspectives.adoc
  docs/hop-user-manual/modules/ROOT/pages/variables.adoc
  ui/src/main/resources/org/apache/hop/ui/core/dialog/messages/messages_en_US.properties
Labels: Documentation, Hop Gui

#2139 2116
  docs/hop-user-manual/modules/ROOT/pages/hop-server/index.adoc
Labels: Documentation, Hop Server

#2165 initial version of community docs page #2164
  docs/hop-user-manual/modules/ROOT/nav.adoc
  docs/hop-user-manual/modules/ROOT/pages/community-blogs/index.adoc
Labels: Documentation

#2162 #2127 - updated and extended metadata injection documentation
  docs/hop-user-manual/modules/ROOT/assets/images/hop-gui/metadata-injection-injecting-pipeline.svg
  docs/hop-user-manual/modules/ROOT/assets/images/hop-gui/metadata-injection-template-pipeline.svg
  docs/hop-user-manual/modules/ROOT/pages/pipeline/metadata-injection.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/metainject.adoc
  plugins/transforms/metainject/src/main/samples/metadata-injection/read-and-inject-metadata.hpl
  plugins/transforms/metainject/src/main/samples/metadata-injection/read-file-template.hpl
Labels: Documentation

#2161 #2143 - hive standalone dependency + integration tests
  assemblies/plugins/databases/hive-assemblies/pom.xml
  assemblies/plugins/databases/hive-assemblies/src/assembly/assembly.xml
  docker/integration-tests/integration-tests-spark.yaml
  docker/integration-tests/spark/scripts/master.sh
  integration-tests/spark/0003-read-hive-date.hpl
  integration-tests/spark/0003-write-hive-date.hpl
  integration-tests/spark/dev-env-config.json
  integration-tests/spark/main-0002-test-hive-connection.hwf
  integration-tests/spark/main-0003-test-hive-write-read.hwf
  integration-tests/spark/metadata/rdbms/hive.json
  plugins/databases/hive/pom.xml
Labels: Containers, Integration Testing

#2158 Fix #2156 : Insert a variable in Write to log action with Ctrl+Space
  plugins/actions/writetolog/src/main/java/org/apache/hop/workflow/actions/writetolog/ActionWriteToLogDialog.java
Labels: Hop Gui, Actions

#2160 Add option -v --version to print version in the CLI #2153
  docs/hop-user-manual/modules/ROOT/pages/hop-run/index.adoc
  docs/hop-user-manual/modules/ROOT/pages/hop-search/index.adoc
  docs/hop-user-manual/modules/ROOT/pages/hop-tools/hop-conf/hop-conf.adoc
  docs/hop-user-manual/modules/ROOT/pages/hop-tools/hop-import.adoc
  docs/hop-user-manual/modules/ROOT/pages/hop-tools/hop-search.adoc
  engine/src/main/java/org/apache/hop/config/HopConfig.java
  engine/src/main/java/org/apache/hop/core/HopVersionProvider.java
  engine/src/main/java/org/apache/hop/imp/HopImport.java
  engine/src/main/java/org/apache/hop/run/HopRun.java
  engine/src/main/java/org/apache/hop/search/HopSearch.java
  ui/src/main/java/org/apache/hop/ui/hopgui/dialog/AboutDialog.java
Labels: CLI, Documentation, Hop Gui, Documentation needed

#2159 Fix #2151 : Can't save Neo4j connection from metadata perspective
  plugins/tech/neo4j/src/main/java/org/apache/hop/neo4j/shared/NeoConnectionEditor.java
Labels: Neo4j

#2092 fix #2048: add support for BinaryBody
  assemblies/plugins/transforms/httppost/pom.xml
  assemblies/plugins/transforms/httppost/src/assembly/assembly.xml
  integration-tests/http/0001-http-post-test-body.hpl
  integration-tests/http/0016-http-post-a-file.hpl
  integration-tests/http/files/exel-part-001.xlsx
  integration-tests/http/main-0016-post-a-file.hwf
  plugins/transforms/httppost/pom.xml
  plugins/transforms/httppost/src/main/java/org/apache/hop/pipeline/transforms/httppost/HttpPost.java
Labels: Integration Testing

#2112 issue#1931: Cleanup XML of transform Set Variable
  integration-tests/transforms/0064-set-variables-get-values.hpl
  integration-tests/transforms/0064-set-variables-init.hpl
  integration-tests/transforms/main-0064-set-variables.hwf
  plugins/transforms/setvariable/src/main/java/org/apache/hop/pipeline/transforms/setvariable/SetVariable.java
  plugins/transforms/setvariable/src/main/java/org/apache/hop/pipeline/transforms/setvariable/SetVariableData.java
  plugins/transforms/setvariable/src/main/java/org/apache/hop/pipeline/transforms/setvariable/SetVariableDialog.java
  plugins/transforms/setvariable/src/main/java/org/apache/hop/pipeline/transforms/setvariable/SetVariableMeta.java
  plugins/transforms/setvariable/src/main/java/org/apache/hop/pipeline/transforms/setvariable/VariableItem.java
  plugins/transforms/setvariable/src/main/resources/org/apache/hop/pipeline/transforms/setvariable/messages/messages_en_US.properties
  plugins/transforms/setvariable/src/main/resources/org/apache/hop/pipeline/transforms/setvariable/messages/messages_it_IT.properties
Labels: Integration Testing

#2168 #2152 metadata not correctly passed to hop server, #2149 fix copy constructors in actions
  engine/src/main/java/org/apache/hop/workflow/action/ActionBase.java
  engine/src/main/java/org/apache/hop/www/RegisterPackageServlet.java
  integration-tests/hop_server/0003-test-metadata-exported-resources.hwf
  integration-tests/hop_server/main-0003-test-metadata-exported-resources.hwf
  integration-tests/hop_server/metadata/rdbms/h2.json
  integration-tests/hop_server/metadata/server/testserver.json
  integration-tests/hop_server/metadata/workflow-run-configuration/remote.json
  plugins/actions/abort/src/main/java/org/apache/hop/workflow/actions/abort/ActionAbort.java
  plugins/actions/addresultfilenames/src/main/java/org/apache/hop/workflow/actions/addresultfilenames/ActionAddResultFilenames.java
  plugins/actions/as400command/src/main/java/org/apache/hop/workflow/actions/as400command/ActionAs400Command.java
  plugins/actions/checkdbconnection/src/main/java/org/apache/hop/workflow/actions/checkdbconnection/ActionCheckDbConnections.java
  plugins/actions/columnsexist/src/main/java/org/apache/hop/workflow/actions/columnsexist/ActionColumnsExist.java
  plugins/actions/createfolder/src/main/java/org/apache/hop/workflow/actions/createfolder/ActionCreateFolder.java
  plugins/actions/delay/src/main/java/org/apache/hop/workflow/actions/delay/ActionDelay.java
  plugins/actions/deletefile/src/main/java/org/apache/hop/workflow/actions/deletefile/ActionDeleteFile.java
  plugins/actions/eval/src/main/java/org/apache/hop/workflow/actions/eval/ActionEval.java
  plugins/actions/filecompare/src/main/java/org/apache/hop/workflow/actions/filecompare/ActionFileCompare.java
  plugins/actions/fileexists/src/main/java/org/apache/hop/workflow/actions/fileexists/ActionFileExists.java
  plugins/actions/folderisempty/src/main/java/org/apache/hop/workflow/actions/folderisempty/ActionFolderIsEmpty.java
  plugins/tech/neo4j/src/main/java/org/apache/hop/neo4j/actions/cypherscript/CypherScript.java
Labels: Integration Testing, Neo4j

#2157 Cleanup XML of action Workflow #2002 and Pipeline #1986
  core/src/main/java/org/apache/hop/core/logging/LogLevel.java
  plugins/actions/pipeline/src/main/java/org/apache/hop/workflow/actions/pipeline/ActionPipeline.java
  plugins/actions/pipeline/src/main/java/org/apache/hop/workflow/actions/pipeline/ActionPipelineDialog.java
  plugins/actions/workflow/src/main/java/org/apache/hop/workflow/actions/workflow/ActionWorkflow.java
  plugins/actions/workflow/src/main/java/org/apache/hop/workflow/actions/workflow/ActionWorkflowDialog.java
  plugins/actions/workflow/src/main/java/org/apache/hop/workflow/actions/workflow/ActionWorkflowRunner.java
  ui/src/main/java/org/apache/hop/ui/core/widget/MetaSelectionLine.java
  ui/src/main/java/org/apache/hop/ui/workflow/actions/ActionBaseDialog.java
  ui/src/main/resources/org/apache/hop/ui/workflow/actions/messages/messages_en_US.properties
Labels: Hop Gui

#2176 Translations update from Weblate
  plugins/transforms/addsequence/src/main/resources/org/apache/hop/pipeline/transforms/addsequence/messages/messages_fr_FR.properties
  plugins/transforms/calculator/src/main/resources/org/apache/hop/pipeline/transforms/calculator/messages/messages_fr_FR.properties
  plugins/transforms/sort/src/main/resources/org/apache/hop/pipeline/transforms/sort/messages/messages_fr_FR.properties
  ui/src/main/resources/org/apache/hop/ui/hopgui/messages/messages_fr_FR.properties
Labels: Hop Gui

#2177 #2150 - pipeline probe documentation and samples
  docs/hop-user-manual/modules/ROOT/nav.adoc
  docs/hop-user-manual/modules/ROOT/pages/metadata-types/pipeline-probe.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/pipeline-data-probe.adoc
  plugins/misc/reflection/src/main/java/org/apache/hop/reflection/probe/transform/PipelineDataProbeMeta.java
  plugins/misc/reflection/src/main/samples/metadata/pipeline-probe/pipeline-probe-example.json
  plugins/misc/reflection/src/main/samples/pipeline-probe/pipeline-probe-example.hpl
  plugins/misc/reflection/src/main/samples/pipeline-probe/pipeline-probe-generate-fake-books.hpl
Labels: Documentation

#2179 Revert "Cleanup XML of action Workflow #2002 and Pipeline #1986"
  core/src/main/java/org/apache/hop/core/logging/LogLevel.java
  plugins/actions/pipeline/src/main/java/org/apache/hop/workflow/actions/pipeline/ActionPipeline.java
  plugins/actions/pipeline/src/main/java/org/apache/hop/workflow/actions/pipeline/ActionPipelineDialog.java
  plugins/actions/workflow/src/main/java/org/apache/hop/workflow/actions/workflow/ActionWorkflow.java
  plugins/actions/workflow/src/main/java/org/apache/hop/workflow/actions/workflow/ActionWorkflowDialog.java
  plugins/actions/workflow/src/main/java/org/apache/hop/workflow/actions/workflow/ActionWorkflowRunner.java
  ui/src/main/java/org/apache/hop/ui/core/widget/MetaSelectionLine.java
  ui/src/main/java/org/apache/hop/ui/workflow/actions/ActionBaseDialog.java
  ui/src/main/resources/org/apache/hop/ui/workflow/actions/messages/messages_en_US.properties
Labels: Hop Gui

#2192 enhancedjsonoutput.adoc: Fix grammar and examples
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/enhancedjsonoutput.adoc
Labels: Documentation

#2198 fix #2142
  integration-tests/transforms/0065-check-excel-file-exists.hpl
  integration-tests/transforms/0065-create-excel-file.hpl
  integration-tests/transforms/main-0065-excel-writer-output-basic.hwf
  plugins/misc/import/src/main/java/org/apache/hop/imports/kettle/KettleConst.java
Labels: Integration Testing

#2202 [RELEASE] Update doc versions
  docs/hop-dev-manual/antora.yml
  docs/hop-tech-manual/antora.yml
  docs/hop-user-manual/antora.yml
Labels: Documentation

#2205 updated header, heading levels. fixes #2204
  docs/hop-user-manual/modules/ROOT/pages/community-blogs/index.adoc
Labels: Documentation

#2208 added execution information transform docs page to the navigation. fi…
  docs/hop-user-manual/modules/ROOT/nav.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms.adoc
Labels: Documentation

#2215 2214 - add possible hop-run exit codes to the docs
  docs/hop-user-manual/modules/ROOT/pages/community-blogs/index.adoc
  docs/hop-user-manual/modules/ROOT/pages/hop-run/index.adoc
Labels: Documentation
