Repository apache/hop, pull requests merged in 2023-05, with the labels that each got.

#2893 Improve the documentation around parallel execution of actions. fixes…
  assemblies/static/src/main/resources/config/projects/samples/workflows/parallel/parallel-workflow-parent.hwf
  assemblies/static/src/main/resources/config/projects/samples/workflows/parallel/parallel-workflow.hwf
  assemblies/static/src/main/resources/config/projects/samples/workflows/parallel/sample-pipeline.hpl
  docs/hop-user-manual/modules/ROOT/assets/images/how-to-guides/parallel-workflows/continue-in-parallel-two-streams.png
  docs/hop-user-manual/modules/ROOT/assets/images/how-to-guides/parallel-workflows/continue-in-parallel.png
  docs/hop-user-manual/modules/ROOT/assets/images/how-to-guides/parallel-workflows/parallel-actions.png
  docs/hop-user-manual/modules/ROOT/assets/images/how-to-guides/parallel-workflows/parallel-option.png
  docs/hop-user-manual/modules/ROOT/assets/images/how-to-guides/parallel-workflows/parallel-workflow-parent.png
  docs/hop-user-manual/modules/ROOT/assets/images/how-to-guides/parallel-workflows/sequential-actions.png
  docs/hop-user-manual/modules/ROOT/pages/how-to-guides/workflows-parallel-execution.adoc
Labels: Documentation

#2894 fixed xref link, added navigation. #2336
  docs/hop-user-manual/modules/ROOT/nav.adoc
  docs/hop-user-manual/modules/ROOT/pages/how-to-guides/workflows-parallel-execution.adoc
Labels: Documentation

#2876 MS Access output transform doesn't set the text field length right #2867
  plugins/databases/access/src/main/java/org/apache/hop/pipeline/transforms/accessoutput/AccessOutput.java
Labels: Transforms

#2755 fix #2399, fix #2752
  assemblies/plugins/dist/pom.xml
  assemblies/plugins/transforms/jdbc-metadata/pom.xml
  assemblies/plugins/transforms/jdbc-metadata/src/assembly/assembly.xml
  assemblies/plugins/transforms/jdbc-metadata/src/main/resources/version.xml
  assemblies/plugins/transforms/pom.xml
  docs/hop-user-manual/modules/ROOT/assets/images/transforms/icons/jdbcmetadata.svg
  docs/hop-user-manual/modules/ROOT/nav.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/jdbcmetadata.adoc
  integration-tests/database/0026-jdbc-metadata.hpl
  integration-tests/database/main-0026-jdbc-metadata.hwf
  plugins/transforms/jdbc-metadata/pom.xml
  plugins/transforms/jdbc-metadata/src/main/java/org/apache/pipeline/transform/jdbcmetadata/JdbcMetadata.java
  plugins/transforms/jdbc-metadata/src/main/java/org/apache/pipeline/transform/jdbcmetadata/JdbcMetadataData.java
  plugins/transforms/jdbc-metadata/src/main/java/org/apache/pipeline/transform/jdbcmetadata/JdbcMetadataDialog.java
  plugins/transforms/jdbc-metadata/src/main/java/org/apache/pipeline/transform/jdbcmetadata/JdbcMetadataMeta.java
  plugins/transforms/jdbc-metadata/src/main/java/org/apache/pipeline/transform/jdbcmetadata/OutputField.java
  plugins/transforms/jdbc-metadata/src/main/resources/jdbcmetadata.svg
  plugins/transforms/jdbc-metadata/src/main/resources/org/apache/pipeline/transform/jdbcmetadata/messages/messages_en_US.properties
  plugins/transforms/jdbc-metadata/src/main/resources/org/apache/pipeline/transform/jdbcmetadata/messages/messages_it_IT.properties
  plugins/transforms/pom.xml
  ui/src/main/java/org/apache/hop/ui/core/widget/ComboVar.java
  ui/src/main/resources/org/apache/hop/ui/hopgui/messages/messages_it_IT.properties
Labels: Documentation, Hop Gui, Integration Testing

#2874 Issues #2845, #2868
  docs/hop-user-manual/modules/ROOT/pages/hop-gui/perspective-execution-information.adoc
  engine/src/main/java/org/apache/hop/execution/ExecutionStateBuilder.java
  engine/src/main/java/org/apache/hop/execution/IExecutionInfoLocation.java
  engine/src/main/java/org/apache/hop/execution/local/FileExecutionInfoLocation.java
  engine/src/main/java/org/apache/hop/execution/remote/RemoteExecutionInfoLocation.java
  engine/src/main/java/org/apache/hop/pipeline/Pipeline.java
  engine/src/main/java/org/apache/hop/pipeline/engines/local/LocalPipelineEngine.java
  engine/src/main/java/org/apache/hop/run/HopRun.java
  engine/src/main/java/org/apache/hop/www/GetExecutionInfoServlet.java
  plugins/tech/neo4j/src/main/java/org/apache/hop/neo4j/execution/NeoExecutionInfoLocation.java
  ui/src/main/java/org/apache/hop/ui/core/PropsUi.java
  ui/src/main/java/org/apache/hop/ui/hopgui/perspective/configuration/tabs/ConfigGeneralOptionsTab.java
  ui/src/main/java/org/apache/hop/ui/hopgui/perspective/execution/PipelineExecutionViewer.java
  ui/src/main/java/org/apache/hop/ui/hopgui/perspective/execution/WorkflowExecutionViewer.java
  ui/src/main/java/org/apache/hop/ui/hopgui/shared/BaseExecutionViewer.java
  ui/src/main/resources/org/apache/hop/ui/core/dialog/messages/messages_en_US.properties
Labels: Documentation, Hop Gui, Neo4j

#2899 Cleanup XML of action Write To Log #2004
  plugins/actions/writetolog/src/main/java/org/apache/hop/workflow/actions/writetolog/ActionWriteToLog.java
  plugins/actions/writetolog/src/main/java/org/apache/hop/workflow/actions/writetolog/ActionWriteToLogDialog.java
  plugins/transforms/writetolog/src/test/java/org/apache/pipeline/transforms/writetolog/WriteToLogMetaSymmetric.java
Labels: Actions

#2904 Cleanup XML of action Wait for file #1999
  plugins/actions/waitforfile/src/main/java/org/apache/hop/workflow/actions/waitforfile/ActionWaitForFile.java
  plugins/actions/waitforfile/src/main/java/org/apache/hop/workflow/actions/waitforfile/ActionWaitForFileDialog.java
Labels: Actions

#2906 Cleanup XML of action Write To File #2003
  plugins/actions/writetofile/src/main/java/org/apache/hop/workflow/actions/writetofile/ActionWriteToFile.java
Labels: Actions

#2913 [TRANS-FIXES] Fixed minor issue on italian translations
  ui/src/main/resources/org/apache/hop/ui/hopgui/file/workflow/messages/messages_it_IT.properties
Labels: Hop Gui

#2926 extended documentation on running workflows and pipelines in Apache A…
  assemblies/static/src/main/resources/config/projects/samples/pipelines/pipeline-with-parameter.hpl
  docs/hop-user-manual/modules/ROOT/assets/files/how-to-guides/apache-airflow/docker-compose.yaml
  docs/hop-user-manual/modules/ROOT/assets/images/how-to-guides/run-hop-in-apache-airflow/airflow-dag-run.png
  docs/hop-user-manual/modules/ROOT/assets/images/how-to-guides/run-hop-in-apache-airflow/airflow-logo.svg
  docs/hop-user-manual/modules/ROOT/assets/images/how-to-guides/run-hop-in-apache-airflow/apache-airflow-dag-available.png
  docs/hop-user-manual/modules/ROOT/assets/images/how-to-guides/run-hop-in-apache-airflow/apache-airflow-dag-error.png
  docs/hop-user-manual/modules/ROOT/assets/images/how-to-guides/run-hop-in-apache-airflow/apache-airflow-dag-graph.png
  docs/hop-user-manual/modules/ROOT/assets/images/how-to-guides/run-hop-in-apache-airflow/apache-airflow-dag-logs.png
  docs/hop-user-manual/modules/ROOT/assets/images/how-to-guides/run-hop-in-apache-airflow/apache-airflow-dag-run.png
  docs/hop-user-manual/modules/ROOT/assets/images/how-to-guides/run-hop-in-apache-airflow/apache-airflow-dag-runs.png
  docs/hop-user-manual/modules/ROOT/assets/images/how-to-guides/run-hop-in-apache-airflow/apache-airflow-empty-server.png
  docs/hop-user-manual/modules/ROOT/assets/images/how-to-guides/run-hop-in-apache-airflow/apache-airflow-pipeline-with-parameter.png
  docs/hop-user-manual/modules/ROOT/assets/images/how-to-guides/run-hop-in-apache-airflow/apache-airflow-run-config (1).png
  docs/hop-user-manual/modules/ROOT/assets/images/how-to-guides/run-hop-in-apache-airflow/apache-airflow-run-config.png
  docs/hop-user-manual/modules/ROOT/assets/images/how-to-guides/run-hop-in-apache-airflow/apache-airflow-trigger-dag-with-config.png
  docs/hop-user-manual/modules/ROOT/assets/images/how-to-guides/run-hop-in-apache-airflow/apache-airflow-trigger.png
  docs/hop-user-manual/modules/ROOT/assets/images/how-to-guides/run-hop-in-apache-airflow/apache-airflow-two-dags.png
  docs/hop-user-manual/modules/ROOT/pages/how-to-guides/run-hop-in-apache-airflow.adoc
Labels: Documentation

#2928 fix NullPointerException on empty stream in Enhanced JSON Output #2927
  integration-tests/transforms/0068-enhanced-json-output-empty-stream.hpl
  integration-tests/transforms/main-0068-enhanced-json-2927.hwf
  plugins/transforms/json/src/main/java/org/apache/hop/pipeline/transforms/jsonoutputenhanced/JsonOutput.java
  plugins/transforms/json/src/main/resources/org/apache/hop/pipeline/transforms/jsonoutputenhanced/messages/messages_en_US.properties
Labels: Integration Testing

#2933 fixed url. fixes #2932
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/jdbcmetadata.adoc
Labels: Documentation

#2935 IndexOutOfBoundsException for Metadata Injection in Switch/Case #2934
  integration-tests/mdi/0027-bug-inject-metadata-parent.hpl
  integration-tests/mdi/0027-bug-read-file-template-child.hpl
  integration-tests/mdi/main-0027-inject-switch-case.hwf
  plugins/transforms/metainject/src/main/java/org/apache/hop/pipeline/transforms/metainject/MetaInject.java
  plugins/transforms/switchcase/src/main/java/org/apache/hop/pipeline/transforms/switchcase/SwitchCaseTarget.java
Labels: Transforms

#2911 fix #2908
  .gitignore
  integration-tests/json/0005-enhanced-json-output-empty-stream.hpl
  integration-tests/json/main-0005-enhanced-json-output-empty-stream.hwf
  plugins/transforms/json/src/main/java/org/apache/hop/pipeline/transforms/jsonoutputenhanced/JsonOutput.java
  plugins/transforms/json/src/main/java/org/apache/hop/pipeline/transforms/jsonoutputenhanced/JsonOutputDialog.java
  plugins/transforms/json/src/main/java/org/apache/hop/pipeline/transforms/jsonoutputenhanced/JsonOutputField.java
  plugins/transforms/json/src/main/java/org/apache/hop/pipeline/transforms/jsonoutputenhanced/JsonOutputKeyField.java
Labels: Integration Testing

#2924 fix #2923
  docs/hop-user-manual/modules/ROOT/pages/hop-run/index.adoc
  engine/src/main/java/org/apache/hop/run/HopRun.java
Labels: Documentation

#2910 Cleanup XML of action Wait for SQL #2000
  engine/src/main/java/org/apache/hop/run/HopRun.java
  plugins/actions/waitforsql/src/main/java/org/apache/hop/workflow/actions/waitforsql/ActionWaitForSql.java
  plugins/actions/waitforsql/src/main/java/org/apache/hop/workflow/actions/waitforsql/ActionWaitForSqlDialog.java
  plugins/actions/waitforsql/src/test/java/org/apache/hop/workflow/actions/waitforsql/ActionWaitForSqlTest.java
  plugins/actions/waitforsql/src/test/java/org/apache/hop/workflow/actions/waitforsql/WorkflowActionWaitForSqlLoadSaveTest.java
  plugins/actions/waitforsql/src/test/resources/wait-for-sql-action.xml
Labels: Actions

#2947 Fix doc link to RDBMS InterSystems Iris
  docs/hop-user-manual/modules/ROOT/nav.adoc
Labels: Documentation

#2942 fix #2939
  engine/src/main/java/org/apache/hop/base/AbstractMeta.java
  engine/src/main/resources/org/apache/hop/pipeline/transform/messages/messages_en_US.properties
  engine/src/main/resources/org/apache/hop/pipeline/transform/messages/messages_it_IT.properties
  plugins/transforms/addsequence/src/main/java/org/apache/hop/pipeline/transforms/addsequence/AddSequenceDialog.java
  plugins/transforms/databasejoin/src/main/java/org/apache/hop/pipeline/transforms/databasejoin/DatabaseJoinDialog.java
  plugins/transforms/databaselookup/src/main/java/org/apache/hop/pipeline/transforms/databaselookup/DatabaseLookupDialog.java
  plugins/transforms/dbproc/src/main/java/org/apache/hop/pipeline/transforms/dbproc/DBProcDialog.java
  plugins/transforms/delete/src/main/java/org/apache/hop/pipeline/transforms/delete/DeleteDialog.java
  plugins/transforms/dynamicsqlrow/src/main/java/org/apache/hop/pipeline/transforms/dynamicsqlrow/DynamicSqlRowDialog.java
  plugins/transforms/execsqlrow/src/main/java/org/apache/hop/pipeline/transforms/execsqlrow/ExecSqlRowDialog.java
  plugins/transforms/insertupdate/src/main/java/org/apache/hop/pipeline/transforms/insertupdate/InsertUpdateDialog.java
  plugins/transforms/jdbc-metadata/src/main/java/org/apache/pipeline/transform/jdbcmetadata/JdbcMetadataDialog.java
  plugins/transforms/snowflake/src/main/java/org/apache/hop/pipeline/transforms/snowflake/bulkloader/SnowflakeBulkLoaderDialog.java
  plugins/transforms/sql/src/main/java/org/apache/hop/pipeline/transforms/sql/ExecSqlDialog.java
  plugins/transforms/tableexists/src/main/java/org/apache/hop/pipeline/transforms/tableexists/TableExistsDialog.java
  plugins/transforms/tableinput/src/main/java/org/apache/hop/pipeline/transforms/tableinput/TableInputDialog.java
  plugins/transforms/tableoutput/src/main/java/org/apache/hop/pipeline/transforms/tableoutput/TableOutputDialog.java
  plugins/transforms/update/src/main/java/org/apache/hop/pipeline/transforms/update/UpdateDialog.java
  ui/src/main/java/org/apache/hop/ui/pipeline/transform/BaseTransformDialog.java
Labels: Hop Gui

#2966 Translations update from Weblate
  plugins/misc/projects/src/main/resources/org/apache/hop/projects/gui/messages/messages_de_DE.properties
  plugins/tech/neo4j/src/main/resources/org/apache/hop/neo4j/execution/messages/messages_de_DE.properties
  ui/src/main/resources/org/apache/hop/ui/core/dialog/messages/messages_de_DE.properties
  ui/src/main/resources/org/apache/hop/ui/workflow/config/messages/messages_de_DE.properties
Labels: Hop Gui, Neo4j

#2970 Fix typo in tooltip and disable some selenium tests
  integration-tests/hopweb/src/test/resources/transforms.csv
  plugins/transforms/json/src/main/resources/org/apache/hop/pipeline/transforms/jsoninput/messages/messages_en_US.properties
  plugins/transforms/xml/src/main/resources/org/apache/hop/pipeline/transforms/xml/getxmldata/messages/messages_en_US.properties
  plugins/transforms/yamlinput/src/main/resources/org/apache/hop/pipeline/transforms/yamlinput/messages/messages_en_US.properties
Labels: Integration Testing

#2954 fix #2953, fix #2952
  plugins/transforms/delete/src/main/java/org/apache/hop/pipeline/transforms/delete/DeleteDialog.java
  plugins/transforms/execsqlrow/src/main/java/org/apache/hop/pipeline/transforms/execsqlrow/ExecSqlRowDialog.java
  plugins/transforms/insertupdate/src/main/java/org/apache/hop/pipeline/transforms/insertupdate/InsertUpdateDialog.java
  plugins/transforms/tableexists/src/main/java/org/apache/hop/pipeline/transforms/tableexists/TableExistsDialog.java
  plugins/transforms/tableinput/src/main/java/org/apache/hop/pipeline/transforms/tableinput/TableInputDialog.java
  plugins/transforms/update/src/main/java/org/apache/hop/pipeline/transforms/update/UpdateDialog.java
  ui/src/main/java/org/apache/hop/ui/pipeline/transform/BaseTransformDialog.java
Labels: Hop Gui

#2905 Cleanup XML of action Simple Eval #1991
  plugins/actions/simpleeval/src/main/java/org/apache/hop/workflow/actions/simpleeval/ActionSimpleEval.java
  plugins/actions/simpleeval/src/main/java/org/apache/hop/workflow/actions/simpleeval/ActionSimpleEvalDialog.java
  plugins/actions/simpleeval/src/main/resources/org/apache/hop/workflow/actions/simpleeval/messages/messages_de_DE.properties
  plugins/actions/simpleeval/src/main/resources/org/apache/hop/workflow/actions/simpleeval/messages/messages_en_US.properties
  plugins/actions/simpleeval/src/main/resources/org/apache/hop/workflow/actions/simpleeval/messages/messages_es_AR.properties
  plugins/actions/simpleeval/src/main/resources/org/apache/hop/workflow/actions/simpleeval/messages/messages_fr_FR.properties
  plugins/actions/simpleeval/src/main/resources/org/apache/hop/workflow/actions/simpleeval/messages/messages_it_IT.properties
  plugins/actions/simpleeval/src/main/resources/org/apache/hop/workflow/actions/simpleeval/messages/messages_ko_KR.properties
  plugins/actions/simpleeval/src/main/resources/org/apache/hop/workflow/actions/simpleeval/messages/messages_pt_BR.properties
  plugins/actions/simpleeval/src/main/resources/org/apache/hop/workflow/actions/simpleeval/messages/messages_zh_CN.properties
  plugins/actions/simpleeval/src/test/java/org/apache/hop/workflow/actions/simpleeval/ActionSimpleEvalTest.java
  plugins/actions/simpleeval/src/test/java/org/apache/hop/workflow/actions/simpleeval/WorkflowActionSimpleEvalLoadSaveTest.java
  plugins/actions/simpleeval/src/test/resources/simple-eval-action.xml
Labels: Actions

#2943 Cleanup XML of action SQL #1994
  core/src/main/java/org/apache/hop/core/Const.java
  core/src/test/java/org/apache/hop/core/ConstTest.java
  plugins/actions/sql/src/main/java/org/apache/hop/workflow/actions/sql/ActionSql.java
  plugins/actions/sql/src/main/java/org/apache/hop/workflow/actions/sql/ActionSqlDialog.java
  plugins/actions/sql/src/test/java/org/apache/hop/workflow/actions/sql/WorkflowActionSqlTest.java
Labels: Actions

#2956 fix #1995
  plugins/actions/tableexists/src/main/java/org/apache/hop/workflow/actions/tableexists/ActionTableExists.java
  plugins/actions/tableexists/src/main/java/org/apache/hop/workflow/actions/tableexists/ActionTableExistsDialog.java
  plugins/actions/tableexists/src/main/resources/org/apache/hop/workflow/actions/tableexists/messages/messages_it_IT.properties
  plugins/actions/tableexists/src/test/java/org/apache/hop/workflow/actions/tableexists/WorkflowActionTableExistsLoadSaveTest.java
  ui/src/main/java/org/apache/hop/ui/pipeline/transform/BaseTransformDialog.java
  ui/src/main/java/org/apache/hop/ui/workflow/action/ActionDialog.java
Labels: Hop Gui

#2963 Cleanup XML of action Set Variables #1989
  plugins/actions/setvariables/src/main/java/org/apache/hop/workflow/actions/setvariables/ActionSetVariables.java
  plugins/actions/setvariables/src/main/java/org/apache/hop/workflow/actions/setvariables/ActionSetVariablesDialog.java
  plugins/actions/setvariables/src/main/resources/org/apache/hop/workflow/actions/setvariables/messages/messages_en_US.properties
  plugins/actions/setvariables/src/main/resources/org/apache/hop/workflow/actions/setvariables/messages/messages_es_AR.properties
  plugins/actions/setvariables/src/main/resources/org/apache/hop/workflow/actions/setvariables/messages/messages_fr_FR.properties
  plugins/actions/setvariables/src/main/resources/org/apache/hop/workflow/actions/setvariables/messages/messages_it_IT.properties
  plugins/actions/setvariables/src/main/resources/org/apache/hop/workflow/actions/setvariables/messages/messages_ja_JP.properties
  plugins/actions/setvariables/src/main/resources/org/apache/hop/workflow/actions/setvariables/messages/messages_ko_KR.properties
  plugins/actions/setvariables/src/main/resources/org/apache/hop/workflow/actions/setvariables/messages/messages_zh_CN.properties
  plugins/actions/setvariables/src/test/java/org/apache/hop/workflow/actions/setvariables/ActionSetVariablesTest.java
  plugins/actions/setvariables/src/test/java/org/apache/hop/workflow/actions/setvariables/WorkflowActionSetVariablesLoadSaveTest.java
  plugins/actions/setvariables/src/test/resources/set-variables-action.xml
Labels: Actions

#2976 Update SWT version, fixes #2975
  pom.xml
  rap/pom.xml
Labels: Hop Gui

#2977 Sonar cleanup
  core/src/main/java/org/apache/hop/core/plugins/HopURLClassLoader.java
  engine/src/main/java/org/apache/hop/execution/sampler/plugins/random/RandomRowsExecutionDataSampler.java
  engine/src/main/java/org/apache/hop/execution/sampler/plugins/random/RandomRowsExecutionDataSamplerStore.java
  engine/src/main/java/org/apache/hop/partition/PartitionSchema.java
  engine/src/main/java/org/apache/hop/pipeline/transform/DynamicWaitTimes.java
  engine/src/main/java/org/apache/hop/server/HopServer.java
  engine/src/main/java/org/apache/hop/www/HopServer.java
  plugins/actions/ftp/src/main/java/org/apache/hop/workflow/actions/ftp/ActionFtpDialog.java
  plugins/actions/ftp/src/main/java/org/apache/hop/workflow/actions/ftpdelete/ActionFtpDeleteDialog.java
  plugins/actions/ftp/src/main/java/org/apache/hop/workflow/actions/ftpput/ActionFtpPutDialog.java
  plugins/actions/ftp/src/main/java/org/apache/hop/workflow/actions/sftp/ActionSftpDialog.java
  plugins/actions/ftp/src/main/java/org/apache/hop/workflow/actions/sftpput/ActionSftpPutDialog.java
  plugins/actions/getpop/src/main/java/org/apache/hop/workflow/actions/getpop/ActionGetPOPDialog.java
  plugins/actions/snowflake/src/main/java/org/apache/hop/workflow/actions/snowflake/WarehouseManagerDialog.java
  plugins/engines/beam/src/main/java/org/apache/hop/beam/core/transform/TransformBatchTransform.java
  plugins/misc/async/src/main/java/org/apache/hop/www/async/AsyncStatusServlet.java
  plugins/tech/azure/src/main/java/org/apache/hop/pipeline/transforms/eventhubs/write/AzureWriterMeta.java
  plugins/tech/cassandra/src/main/java/org/apache/hop/workflow/actions/execcql/ExecCqlDialog.java
  plugins/tech/neo4j/src/main/java/org/apache/hop/neo4j/actions/cypherscript/CypherScript.java
  plugins/tech/neo4j/src/main/java/org/apache/hop/neo4j/execution/path/pipeline/NeoPipelineExecutionViewerCypherTab.java
  plugins/tech/neo4j/src/main/java/org/apache/hop/neo4j/execution/path/pipeline/NeoPipelineExecutionViewerLineageTab.java
  plugins/tech/neo4j/src/main/java/org/apache/hop/neo4j/execution/path/workflow/NeoWorkflowExecutionViewerCypherTab.java
  plugins/tech/neo4j/src/main/java/org/apache/hop/neo4j/execution/path/workflow/NeoWorkflowExecutionViewerLineageTab.java
  plugins/tech/neo4j/src/main/java/org/apache/hop/neo4j/transforms/cypherbuilder/operation/CreateOperation.java
  plugins/tech/neo4j/src/main/java/org/apache/hop/neo4j/transforms/cypherbuilder/operation/EdgeMatchOperation.java
  plugins/tech/neo4j/src/main/java/org/apache/hop/neo4j/transforms/cypherbuilder/operation/MatchOperation.java
  plugins/tech/neo4j/src/main/java/org/apache/hop/neo4j/transforms/cypherbuilder/operation/MergeOperation.java
  plugins/tech/neo4j/src/main/java/org/apache/hop/neo4j/transforms/cypherbuilder/operation/SetOperation.java
  plugins/transforms/drools/src/main/java/org/apache/hop/pipeline/transforms/drools/RulesAccumulator.java
  plugins/transforms/drools/src/main/java/org/apache/hop/pipeline/transforms/drools/RulesExecutor.java
  plugins/transforms/jdbc-metadata/src/main/java/org/apache/pipeline/transform/jdbcmetadata/JdbcMetadata.java
  plugins/transforms/jdbc-metadata/src/main/java/org/apache/pipeline/transform/jdbcmetadata/JdbcMetadataMeta.java
  plugins/transforms/mailinput/src/main/java/org/apache/hop/pipeline/transforms/mailinput/MailInputDialog.java
  plugins/transforms/orabulkloader/src/main/java/org/apache/hop/pipeline/transforms/orabulkloader/OraBulkLoader.java
  plugins/transforms/orabulkloader/src/main/java/org/apache/hop/pipeline/transforms/orabulkloader/OraBulkLoaderDialog.java
  plugins/transforms/orabulkloader/src/main/java/org/apache/hop/pipeline/transforms/orabulkloader/OraBulkLoaderMeta.java
  plugins/transforms/propertyinput/src/main/java/org/apache/hop/pipeline/transforms/propertyinput/PropertyInputMeta.java
  plugins/transforms/serverstatus/src/main/java/org/apache/hop/pipeline/transforms/serverstatus/GetServerStatusMeta.java
  plugins/transforms/tika/src/main/java/org/apache/hop/pipeline/transforms/tika/TikaMeta.java
  plugins/transforms/verticabulkloader/src/main/java/org/apache/hop/pipeline/transforms/vertica/bulkloader/VerticaBulkLoader.java
  plugins/transforms/verticabulkloader/src/main/java/org/apache/hop/pipeline/transforms/vertica/bulkloader/VerticaBulkLoaderDialog.java
  ui/src/main/java/org/apache/hop/ui/core/widget/StyledTextComp.java
  ui/src/main/java/org/apache/hop/ui/hopgui/perspective/execution/DragViewZoomBase.java
  ui/src/main/java/org/apache/hop/ui/hopgui/perspective/execution/PipelineExecutionViewer.java
  ui/src/main/java/org/apache/hop/ui/hopgui/perspective/execution/WorkflowExecutionViewer.java
  ui/src/main/java/org/apache/hop/ui/hopgui/shared/BaseExecutionViewer.java
Labels: Hop Gui, Neo4j
