Repository apache/hop, pull requests merged in 2024-09, with the labels that each got.

#4249 provide information about used actions, transforms and metadata types in a project #4229
  docs/hop-user-manual/modules/ROOT/pages/hop-tools/hop-conf/hop-conf.adoc
  plugins/misc/projects/src/main/java/org/apache/hop/projects/project/ManageProjectsOptionPlugin.java
  plugins/misc/projects/src/main/java/org/apache/hop/projects/project/Project.java
  plugins/misc/projects/src/main/java/org/apache/hop/projects/util/ProjectsUtil.java
Labels: Documentation

#4256 add padded base64 calculator function
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/calculator.adoc
  plugins/transforms/calculator/src/main/java/org/apache/hop/pipeline/transforms/calculator/Calculator.java
  plugins/transforms/calculator/src/main/java/org/apache/hop/pipeline/transforms/calculator/CalculatorMetaFunction.java
  plugins/transforms/calculator/src/main/resources/org/apache/hop/pipeline/transforms/calculator/messages/messages_de_DE.properties
  plugins/transforms/calculator/src/main/resources/org/apache/hop/pipeline/transforms/calculator/messages/messages_en_US.properties
Labels: Documentation

#4270 Cleanup XML of action Snowflake Warehouse Manager #1993
  plugins/actions/snowflake/src/main/java/org/apache/hop/workflow/actions/snowflake/WarehouseManager.java
  plugins/actions/snowflake/src/main/resources/org/apache/hop/workflow/actions/snowflake/messages/messages_en_US.properties
  plugins/actions/snowflake/src/main/resources/org/apache/hop/workflow/actions/snowflake/messages/messages_fr_FR.properties
Labels: Actions

#4253 add creating custom json string
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/javascript.adoc
Labels: Documentation

#4287 provide more context about logo vs icon in the tech docs. fixes #4284
  docs/hop-tech-manual/modules/ROOT/pages/hop-logo-and-icons.adoc
Labels: Documentation

#4289 Cherry pick documentation change
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/javascript.adoc
Labels: Documentation

#4291 Update MDI documentation, fixes #3275
  docs/hop-user-manual/modules/ROOT/pages/pipeline/metadata-injection.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/addxml.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/apache-tika.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/append.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/avro-decode.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/avro-encode.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/avro-file-input.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/avro-file-output.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/aws-sns-notify.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/aws-sqs-reader.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/coalesce.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/csvinput.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/dimensionlookup.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/excelwriter.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/formula.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/getdatafromxml.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/getfilesrowcount.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/getrecordsfromstream.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/getrowsfromresult.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/gettablenames.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/getvariable.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/ifnull.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/joinrows.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/jsoninput.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/jsonoutput.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/memgroupby.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/mergerows.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/multimerge.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/nullif.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/orabulkloader.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/postgresbulkloader.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/redshift-bulkloader.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/replacestring.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/rownormaliser.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/selectvalues.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/serverstatus.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/setvalueconstant.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/setvaluefield.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/sort.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/sortedmerge.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/splitfields.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/streamlookup.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/stringcut.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/switchcase.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/synchronizeaftermerge.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/tableoutput.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/textfileinput.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/textfileoutput.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/update.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/userdefinedjavaexpression.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/validator.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/valuemapper.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/verticabulkloader.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/xmljoin.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/xmloutput.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/xslt.adoc
Labels: Documentation

#4294 Fix save button when editing text files, fixes #4290
  ui/src/main/java/org/apache/hop/ui/hopgui/perspective/explorer/ExplorerPerspective.java
  ui/src/main/java/org/apache/hop/ui/hopgui/perspective/explorer/file/types/text/BaseTextExplorerFileTypeHandler.java
  ui/src/main/java/org/apache/hop/ui/hopgui/perspective/metadata/MetadataPerspective.java
Labels: Hop Gui

#4299 [SONAR] cleanup
  core/src/main/java/org/apache/hop/core/row/RowMeta.java
  core/src/main/java/org/apache/hop/core/row/value/ValueMetaBase.java
  engine/src/main/java/org/apache/hop/core/util/KeyValue.java
  engine/src/main/java/org/apache/hop/pipeline/PipelineHopMeta.java
  plugins/actions/mail/src/main/java/org/apache/hop/workflow/actions/mail/ActionMail.java
  plugins/misc/projects/src/main/java/org/apache/hop/projects/environment/ManageEnvironmentsOptionPlugin.java
  plugins/tech/cassandra/src/main/java/org/apache/hop/databases/cassandra/metadata/CassandraConnectionEditor.java
  plugins/tech/cassandra/src/main/java/org/apache/hop/databases/cassandra/util/CqlUtils.java
  plugins/tech/cassandra/src/main/java/org/apache/hop/pipeline/transforms/cassandrainput/CassandraInputMeta.java
  plugins/tech/neo4j/src/main/java/org/apache/hop/neo4j/logging/util/LoggingCore.java
  plugins/transforms/ifnull/src/main/java/org/apache/hop/pipeline/transforms/ifnull/IfNullDialog.java
  plugins/transforms/javascript/src/main/java/org/apache/hop/pipeline/transforms/javascript/ScriptValuesDialog.java
  plugins/transforms/ldap/src/main/java/org/apache/hop/pipeline/transforms/ldapinput/LdapConnection.java
  plugins/transforms/mail/src/main/java/org/apache/hop/pipeline/transforms/mail/MailDialog.java
  plugins/transforms/mongodb/src/main/java/org/apache/hop/mongo/wrapper/field/MongoArrayExpansion.java
  plugins/transforms/mongodb/src/main/java/org/apache/hop/mongo/wrapper/field/MongoField.java
  plugins/transforms/mongodb/src/main/java/org/apache/hop/pipeline/transforms/mongodbdelete/MongoDbDeleteData.java
  plugins/transforms/mongodb/src/main/java/org/apache/hop/pipeline/transforms/mongodboutput/MongoDbOutputData.java
  plugins/transforms/script/src/main/java/org/apache/hop/pipeline/transforms/script/Script.java
  plugins/transforms/textfile/src/main/java/org/apache/hop/pipeline/transforms/fileinput/TextFileInput.java
  plugins/transforms/textfile/src/main/java/org/apache/hop/pipeline/transforms/fileinput/TextFileInputMeta.java
  plugins/transforms/webservices/src/main/java/org/apache/hop/pipeline/transforms/webservices/wsdl/Wsdl.java
  ui/src/main/java/org/apache/hop/ui/core/dialog/BaseDialog.java
  ui/src/main/java/org/apache/hop/ui/hopgui/file/pipeline/HopGuiPipelineGraph.java
Labels: Hop Gui, Neo4j

#4300 Improve Documentation for Running Apache Hop in Airflow
  docs/hop-user-manual/modules/ROOT/pages/how-to-guides/run-hop-in-apache-airflow.adoc
Labels: Documentation

#4302 add update from #4300 to main. fixes #4301
  docs/hop-user-manual/modules/ROOT/pages/how-to-guides/run-hop-in-apache-airflow.adoc
Labels: Documentation

#4307 Update metadata-injection.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/metadata-injection.adoc
Labels: Documentation

#4319 File explorer show/hidde tooltip not translated #4317
  ui/src/main/java/org/apache/hop/ui/hopgui/perspective/explorer/ExplorerPerspective.java
Labels: Hop Gui

#4305 Add a metadata documentation help pop-menu #4304
  ui/src/main/java/org/apache/hop/ui/hopgui/perspective/metadata/MetadataPerspective.java
Labels: Hop Gui, Metadata

#4306 Cleanup XML of transform Execute Tests #2008
  docs/hop-user-manual/modules/ROOT/pages/pipeline/metadata-injection.adoc
  plugins/misc/testing/src/main/java/org/apache/hop/testing/transforms/exectests/ExecuteTestsDialog.java
  plugins/misc/testing/src/main/java/org/apache/hop/testing/transforms/exectests/ExecuteTestsMeta.java
  plugins/misc/testing/src/main/resources/org/apache/hop/testing/transforms/exectests/messages/messages_en_US.properties
Labels: Documentation, Transforms

#4336 variable resolving of project home in VFS dialog, fixes #4318
  plugins/misc/projects/src/main/java/org/apache/hop/projects/xp/HopGuiFileReplaceHomeVariable.java
  ui/src/main/java/org/apache/hop/ui/core/vfs/HopVfsFileDialog.java
Labels: Hop Gui

#4332 TabItem script unreadable in dark mode #4331
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/javascript.adoc
  plugins/transforms/javascript/src/main/java/org/apache/hop/pipeline/transforms/javascript/ScriptValues.java
  plugins/transforms/javascript/src/main/java/org/apache/hop/pipeline/transforms/javascript/ScriptValuesDialog.java
  plugins/transforms/script/src/main/java/org/apache/hop/pipeline/transforms/script/ScriptDialog.java
Labels: Documentation

#4323 Fixes #4321 - Cannot delete folders with Azure Multiaccount authentication
  integration-tests/azure/main-0008-create-fill-delete-folder.hwf
  integration-tests/azure/metadata/AzureConnectionDefinition/azit.json
  plugins/actions/deletefolders/src/main/java/org/apache/hop/workflow/actions/deletefolders/ActionDeleteFolders.java
Labels: Integration Testing

#4343 add documentation and fix schema definition documentation, #4062
  docs/hop-user-manual/modules/ROOT/nav.adoc
  docs/hop-user-manual/modules/ROOT/pages/metadata-types/azure-authentication.adoc
  plugins/misc/static-schema/src/main/java/org/apache/hop/staticschema/metadata/SchemaDefinition.java
  plugins/tech/azure/src/main/java/org/apache/hop/vfs/azure/metadatatype/AzureMetadataType.java
Labels: Documentation

#4351 Azure authentication icon
  plugins/tech/azure/src/main/java/org/apache/hop/vfs/azure/metadatatype/AzureMetadataType.java
  ui/src/main/resources/ui/images/authentication.svg
Labels: Hop Gui

#4345 Update dependencies, fixes #4112
  integration-tests/mdi/datasets/golden-apache-tika.csv
  integration-tests/transforms/datasets/golden-apache-tika.csv
  lib/pom.xml
  plugins/databases/clickhouse/pom.xml
  plugins/engines/beam/pom.xml
  plugins/engines/beam/src/assembly/assembly.xml
  plugins/tech/cassandra/pom.xml
  plugins/tech/google/pom.xml
  plugins/tech/google/src/assembly/assembly.xml
  plugins/transforms/edi2xml/pom.xml
  plugins/transforms/script/pom.xml
  plugins/transforms/tika/pom.xml
Labels: Integration Testing

#4313 Code cleanup HopGuiPipelineGraph and AreaOwner #4312
  engine/src/main/java/org/apache/hop/core/gui/AreaOwner.java
  ui/src/main/java/org/apache/hop/ui/hopgui/file/pipeline/HopGuiPipelineGraph.java
Labels: Hop Gui

#4350 Kettle import replace in content for Javascript and UJDC #4340
  plugins/misc/import/src/main/java/org/apache/hop/imports/kettle/KettleConst.java
Labels: Import

#4311 prevent invalid workflow hops, preliminary fix. #4310
  ui/src/main/java/org/apache/hop/ui/hopgui/file/workflow/HopGuiWorkflowGraph.java
  ui/src/main/resources/org/apache/hop/ui/hopgui/file/workflow/messages/messages_en_US.properties
Labels: Hop Gui

#4329 DimensionLookup transform fails with hop-run #4328
  plugins/transforms/dimensionlookup/src/main/java/org/apache/hop/pipeline/transforms/dimensionlookup/DimensionLookupMeta.java
Labels: Transforms

#4357 Kettle import replace in content for Action Javascript #4340
  plugins/misc/import/src/main/java/org/apache/hop/imports/kettle/KettleConst.java
Labels: Import

#4362 Fix typo
  docs/hop-user-manual/modules/ROOT/pages/getting-started/hop-what-is-hop.adoc
Labels: Documentation

#4364 Fix typo
  docs/hop-user-manual/modules/ROOT/pages/getting-started/hop-what-is-hop.adoc
Labels: Documentation

#4368 removed references to Hop Translator. fixes #4271
  docs/hop-dev-manual/modules/ROOT/assets/images/hop-translator-after-start.png
  docs/hop-dev-manual/modules/ROOT/assets/images/hop-translator-save-files-dialog.png
  docs/hop-dev-manual/modules/ROOT/assets/images/hop-translator-translating-a-key.png
  docs/hop-dev-manual/modules/ROOT/pages/getting-started.adoc
  docs/hop-dev-manual/modules/ROOT/pages/internationalisation.adoc
  docs/hop-user-manual/modules/ROOT/nav.adoc
  docs/hop-user-manual/modules/ROOT/pages/getting-started/hop-tools.adoc
  docs/hop-user-manual/modules/ROOT/pages/hop-tools/hop-translator.adoc
  docs/hop-user-manual/modules/ROOT/pages/hop-tools/index.adoc
  docs/hop-user-manual/modules/ROOT/pages/snippets/hop-tools/hop-tools.adoc
  docs/hop-user-manual/modules/ROOT/pages/snippets/hop-tools/hop-translator.adoc
Labels: Documentation
