Repository apache/hop, pull requests merged in 2024-05, with the labels that each got.

#3903 Deprecate IProvidesModelerMeta interface #3902
  engine/src/main/java/org/apache/hop/core/IProvidesModelerMeta.java
  plugins/tech/aws/src/main/java/org/apache/hop/pipeline/transforms/redshift/bulkloader/RedshiftBulkLoaderMeta.java
  plugins/transforms/combinationlookup/src/main/java/org/apache/hop/pipeline/transforms/combinationlookup/CombinationLookupMeta.java
  plugins/transforms/combinationlookup/src/test/java/org/apache/hop/pipeline/transforms/combinationlookup/CombinationLookupMetaTest.java
  plugins/transforms/databaselookup/src/main/java/org/apache/hop/pipeline/transforms/databaselookup/DatabaseLookupMeta.java
  plugins/transforms/databaselookup/src/test/java/org/apache/hop/pipeline/transforms/databaselookup/DatabaseLookupMetaTest.java
  plugins/transforms/dimensionlookup/src/main/java/org/apache/hop/pipeline/transforms/dimensionlookup/DimensionLookupMeta.java
  plugins/transforms/insertupdate/src/main/java/org/apache/hop/pipeline/transforms/insertupdate/InsertUpdateMeta.java
  plugins/transforms/insertupdate/src/test/java/org/apache/hop/pipeline/transforms/insertupdate/InsertUpdateMetaTest.java
  plugins/transforms/tableoutput/src/main/java/org/apache/hop/pipeline/transforms/tableoutput/TableOutputMeta.java
  plugins/transforms/tableoutput/src/test/java/org/apache/hop/pipeline/transforms/tableoutput/TableOutputMetaTest.java
  plugins/transforms/verticabulkloader/src/main/java/org/apache/hop/pipeline/transforms/vertica/bulkloader/VerticaBulkLoaderMeta.java
Labels: Transforms

#3904 fix for split files in json output enhanced. fixes #3871
  integration-tests/transforms/0073-json-output-enhanced-split-files-3871.hpl
  integration-tests/transforms/0073-json-output-enhanced-split-files-validation-3871.hpl
  integration-tests/transforms/main-0073-json-output-enhanced-split-files-3871.hwf
  plugins/transforms/json/src/main/java/org/apache/hop/pipeline/transforms/jsonoutputenhanced/JsonOutput.java
Labels: Integration Testing

#3905 Best understanding Stream lookup transform "Get fields" button #3157
  plugins/transforms/streamlookup/src/main/java/org/apache/hop/pipeline/transforms/streamlookup/StreamLookupDialog.java
  plugins/transforms/streamlookup/src/main/resources/org/apache/hop/pipeline/transforms/streamlookup/messages/messages_de_DE.properties
  plugins/transforms/streamlookup/src/main/resources/org/apache/hop/pipeline/transforms/streamlookup/messages/messages_en_US.properties
  plugins/transforms/streamlookup/src/main/resources/org/apache/hop/pipeline/transforms/streamlookup/messages/messages_es_AR.properties
  plugins/transforms/streamlookup/src/main/resources/org/apache/hop/pipeline/transforms/streamlookup/messages/messages_es_ES.properties
  plugins/transforms/streamlookup/src/main/resources/org/apache/hop/pipeline/transforms/streamlookup/messages/messages_fr_FR.properties
  plugins/transforms/streamlookup/src/main/resources/org/apache/hop/pipeline/transforms/streamlookup/messages/messages_it_IT.properties
  plugins/transforms/streamlookup/src/main/resources/org/apache/hop/pipeline/transforms/streamlookup/messages/messages_ja_JP.properties
  plugins/transforms/streamlookup/src/main/resources/org/apache/hop/pipeline/transforms/streamlookup/messages/messages_pt_BR.properties
  plugins/transforms/streamlookup/src/main/resources/org/apache/hop/pipeline/transforms/streamlookup/messages/messages_zh_CN.properties
Labels: Transforms

#3906 WorkflowExecutor send HopExtensionPoint.WorkflowStart twice #3769
  plugins/transforms/workflowexecutor/src/main/java/org/apache/hop/pipeline/transforms/workflowexecutor/WorkflowExecutor.java
Labels: Transforms

#3912 fix snmp integration test, #3894
  docker/integration-tests/integration-tests-snmp.yaml
  integration-tests/snmp/001-check-log.hpl
  integration-tests/snmp/main-001-snmp-trap-test.hwf
Labels: Containers, Integration Testing

#3913 Add connection timeout and read timeout to Rest transform #3811
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/rest.adoc
  plugins/transforms/http/src/main/java/org/apache/hop/pipeline/transforms/http/Http.java
  plugins/transforms/rest/src/main/java/org/apache/hop/pipeline/transforms/rest/Rest.java
  plugins/transforms/rest/src/main/java/org/apache/hop/pipeline/transforms/rest/RestData.java
  plugins/transforms/rest/src/main/java/org/apache/hop/pipeline/transforms/rest/RestDialog.java
  plugins/transforms/rest/src/main/java/org/apache/hop/pipeline/transforms/rest/RestMeta.java
  plugins/transforms/rest/src/main/resources/org/apache/hop/pipeline/transforms/rest/messages/messages_en_US.properties
  plugins/transforms/rest/src/test/java/org/apache/hop/pipeline/transforms/rest/RestMetaTest.java
Labels: Documentation, Transforms

#3930 Change the transformations category #3929
  plugins/transforms/ifnull/src/main/java/org/apache/hop/pipeline/transforms/ifnull/IfNullMeta.java
  plugins/transforms/nullif/src/main/java/org/apache/hop/pipeline/transforms/nullif/NullIfMeta.java
  plugins/transforms/stringoperations/src/main/java/org/apache/hop/pipeline/transforms/stringoperations/StringOperationsMeta.java
Labels: Transforms

#3936 fix #3834
  integration-tests/database/0012-dimension-lookup-update-update.hpl
  integration-tests/database/dev-env-config.json
  plugins/transforms/dimensionlookup/src/main/java/org/apache/hop/pipeline/transforms/dimensionlookup/DimensionLookup.java
  plugins/transforms/dimensionlookup/src/main/java/org/apache/hop/pipeline/transforms/dimensionlookup/DimensionLookupData.java
  plugins/transforms/dimensionlookup/src/main/java/org/apache/hop/pipeline/transforms/dimensionlookup/DimensionLookupDialog.java
  plugins/transforms/dimensionlookup/src/main/java/org/apache/hop/pipeline/transforms/dimensionlookup/DimensionLookupMeta.java
  plugins/transforms/dimensionlookup/src/main/resources/org/apache/hop/pipeline/transforms/dimensionlookup/messages/messages_en_US.properties
  plugins/transforms/dimensionlookup/src/test/java/org/apache/hop/pipeline/transforms/dimensionlookup/DimensionLookupMetaTest.java
Labels: Integration Testing

#3937 Synchronize After Merge - specify connection through variables #3839
  integration-tests/database/0013-synchronize-after-merge.hpl
  plugins/transforms/insertupdate/src/main/java/org/apache/hop/pipeline/transforms/insertupdate/InsertUpdateMeta.java
  plugins/transforms/synchronizeaftermerge/src/main/java/org/apache/hop/pipeline/transforms/synchronizeaftermerge/SynchronizeAfterMerge.java
  plugins/transforms/synchronizeaftermerge/src/main/java/org/apache/hop/pipeline/transforms/synchronizeaftermerge/SynchronizeAfterMergeDialog.java
  plugins/transforms/synchronizeaftermerge/src/main/java/org/apache/hop/pipeline/transforms/synchronizeaftermerge/SynchronizeAfterMergeMeta.java
  plugins/transforms/synchronizeaftermerge/src/test/java/org/apache/hop/pipeline/transforms/synchronizeaftermerge/SynchronizeAfterMergeMetaInjectionTest.java
  plugins/transforms/synchronizeaftermerge/src/test/java/org/apache/hop/pipeline/transforms/synchronizeaftermerge/SynchronizeAfterMergeMetaTest.java
  plugins/transforms/synchronizeaftermerge/src/test/java/org/apache/hop/pipeline/transforms/synchronizeaftermerge/SynchronizeAfterMergeTest.java
Labels: Integration Testing, Transforms

#3946 Add info about My Domain URLs for Salesforce cxns #3945
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/salesforce-connection.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/salesforceinput.adoc
Labels: Documentation

#3948 exclude MDI template from samples IT #2237
  integration-tests/samples/read-samples-build-hop-run.hpl
Labels: Integration Testing

#3949 add a comment about hierarchical namespaces, fixes #3154
  docs/hop-user-manual/modules/ROOT/pages/vfs/azure-blob-storage-vfs.adoc
Labels: Documentation

#3951 updated system properties/variables information #3943
  docs/hop-user-manual/modules/ROOT/assets/images/system-properties-menu.png
  docs/hop-user-manual/modules/ROOT/assets/images/variables/system-variables.png
  docs/hop-user-manual/modules/ROOT/pages/variables.adoc
Labels: Documentation

#3952 Fixed typos in hop-usps.adoc
  docs/hop-user-manual/modules/ROOT/pages/hop-usps.adoc
Labels: Documentation

#3972 switch to java 17, fixes #3971
  .github/workflows/pr_build_code.yml
  .github/workflows/pr_build_docs.yml
  .mvn/jvm.config
  Jenkinsfile
  Jenkinsfile.daily
  Jenkinsfile.hop-web-selenium
  README.md
  assemblies/lib-beam/pom.xml
  assemblies/lib/pom.xml
  assemblies/plugins/tech/cassandra/pom.xml
  docker/Dockerfile
  docker/Dockerfile.dataflowTemplate
  docker/Dockerfile.rest
  docker/Dockerfile.web
  docker/integration-tests/Dockerfile.unit-tests
  docs/hop-dev-manual/modules/ROOT/pages/hopweb/index.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/beam/flink-k8s-operator-running-hop-pipeline.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/beam/running-the-beam-samples.adoc
  integration-tests/cratedb/import/output-stream.csv
  integration-tests/mdi/files/excelwriter-mdi-test.xlsx
  integration-tests/spreadsheet/files/sample-file-append.xlsx
  plugins/tech/cassandra/pom.xml
  plugins/tech/cassandra/src/test/java/org/apache/hop/database/cassandra/util/CassandraUtilsTest.java
  plugins/transforms/checksum/src/test/java/org/apache/hop/pipeline/transforms/checksum/CheckSumTest.java
  pom.xml
Labels: Containers, Documentation, Integration Testing

#3966 Align label widgets for workflow and pipeline properties #3965
  ui/src/main/java/org/apache/hop/ui/pipeline/dialog/PipelineDialog.java
  ui/src/main/java/org/apache/hop/ui/workflow/dialog/WorkflowDialog.java
  ui/src/main/resources/org/apache/hop/ui/pipeline/dialog/messages/messages_de_DE.properties
  ui/src/main/resources/org/apache/hop/ui/pipeline/dialog/messages/messages_en_US.properties
  ui/src/main/resources/org/apache/hop/ui/pipeline/dialog/messages/messages_es_ES.properties
  ui/src/main/resources/org/apache/hop/ui/pipeline/dialog/messages/messages_fr_FR.properties
  ui/src/main/resources/org/apache/hop/ui/pipeline/dialog/messages/messages_it_IT.properties
  ui/src/main/resources/org/apache/hop/ui/pipeline/dialog/messages/messages_ja_JP.properties
  ui/src/main/resources/org/apache/hop/ui/pipeline/dialog/messages/messages_nl_NL.properties
  ui/src/main/resources/org/apache/hop/ui/pipeline/dialog/messages/messages_pt_PT.properties
  ui/src/main/resources/org/apache/hop/ui/pipeline/dialog/messages/messages_zh_CN.properties
  ui/src/main/resources/org/apache/hop/ui/workflow/dialog/messages/messages_de_DE.properties
  ui/src/main/resources/org/apache/hop/ui/workflow/dialog/messages/messages_en_US.properties
  ui/src/main/resources/org/apache/hop/ui/workflow/dialog/messages/messages_es_AR.properties
  ui/src/main/resources/org/apache/hop/ui/workflow/dialog/messages/messages_es_ES.properties
  ui/src/main/resources/org/apache/hop/ui/workflow/dialog/messages/messages_fr_FR.properties
  ui/src/main/resources/org/apache/hop/ui/workflow/dialog/messages/messages_it_IT.properties
  ui/src/main/resources/org/apache/hop/ui/workflow/dialog/messages/messages_ja_JP.properties
  ui/src/main/resources/org/apache/hop/ui/workflow/dialog/messages/messages_ko_KR.properties
  ui/src/main/resources/org/apache/hop/ui/workflow/dialog/messages/messages_pt_BR.properties
  ui/src/main/resources/org/apache/hop/ui/workflow/dialog/messages/messages_zh_CN.properties
Labels: Hop Gui

#3959 updated beam versions #3291
  docs/hop-user-manual/modules/ROOT/pages/pipeline/beam/getting-started-with-beam.adoc
Labels: Documentation

#3973 [RELEASE] update documentation version
  docs/hop-dev-manual/antora.yml
  docs/hop-tech-manual/antora.yml
  docs/hop-user-manual/antora.yml
Labels: Documentation

#3975 Update hop-gui.adoc
  docs/hop-user-manual/modules/ROOT/pages/hop-tools/hop-gui.adoc
Labels: Documentation

#3962 Remote run configuration refers to itself #3935
  engine/src/main/java/org/apache/hop/pipeline/engines/remote/RemotePipelineEngine.java
  engine/src/main/java/org/apache/hop/workflow/engines/remote/RemoteWorkflowEngine.java
Labels: Metadata, Pipelines, Workflows

#3979 Shortcuts to switch perspective are not working #3779
  ui/src/main/java/org/apache/hop/ui/hopgui/HopGuiKeyHandler.java
Labels: Hop Gui

#3976 Update hop-gui.adoc
  docs/hop-user-manual/modules/ROOT/pages/hop-tools/hop-gui.adoc
Labels: Documentation

#3947 Avoid multiple hops to the same destination #3944
  ui/src/main/java/org/apache/hop/ui/hopgui/file/pipeline/HopGuiPipelineGraph.java
  ui/src/main/java/org/apache/hop/ui/hopgui/file/workflow/HopGuiWorkflowGraph.java
  ui/src/main/java/org/apache/hop/ui/hopgui/file/workflow/delegates/HopGuiWorkflowActionDelegate.java
Labels: Hop Gui, Pipelines, Transforms

#3992 Bump jandex from 3.1.6 to 3.1.8 #3991
  pom.xml
Labels: dependencies

#3996 Fix typo #3987, #3955
  plugins/actions/setvariables/src/main/resources/org/apache/hop/workflow/actions/setvariables/messages/messages_en_US.properties
  plugins/transforms/json/src/main/java/org/apache/hop/pipeline/transforms/jsonoutputenhanced/JsonOutputDialog.java
Labels: Actions

#3995 Create tempory file for tests in ram #3986
  plugins/transforms/textfile/src/test/java/org/apache/hop/pipeline/transforms/textfileoutput/TextFileOutputTest.java
Labels: Transforms
