Repository apache/hop, pull requests merged in 2024-11, with the labels that each got.

#4498 Documentation update - see #4494
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/rowdenormaliser.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/rownormaliser.adoc
Labels: Documentation

#4505 Do not load keywords when no connection, #4387
  plugins/actions/sql/src/main/java/org/apache/hop/workflow/actions/sql/ActionSqlDialog.java
  plugins/actions/waitforsql/src/main/java/org/apache/hop/workflow/actions/waitforsql/ActionWaitForSqlDialog.java
  plugins/transforms/databasejoin/src/main/java/org/apache/hop/pipeline/transforms/databasejoin/DatabaseJoinDialog.java
  plugins/transforms/dynamicsqlrow/src/main/java/org/apache/hop/pipeline/transforms/dynamicsqlrow/DynamicSqlRowDialog.java
  plugins/transforms/sql/src/main/java/org/apache/hop/pipeline/transforms/sql/ExecSqlDialog.java
  plugins/transforms/tableinput/src/main/java/org/apache/hop/pipeline/transforms/tableinput/TableInputDialog.java
  ui/src/main/java/org/apache/hop/ui/core/widget/ConditionEditor.java
  ui/src/main/java/org/apache/hop/ui/core/widget/highlight/GenericCodeHighlight.java
  ui/src/main/java/org/apache/hop/ui/core/widget/highlight/JavaHighlight.java
  ui/src/main/java/org/apache/hop/ui/core/widget/highlight/JavaScriptHighlight.java
  ui/src/main/java/org/apache/hop/ui/core/widget/highlight/SQLValuesHighlight.java
Labels: Hop Gui

#4517 Only hide and disable the project metadata folder, fixes #4515
  ui/src/main/java/org/apache/hop/ui/hopgui/perspective/explorer/ExplorerPerspective.java
Labels: Hop Gui

#4520 Cleaning up some widget layouts #4466
  engine/src/main/resources/org/apache/hop/pipeline/transforms/injector/messages/messages_en_US.properties
  engine/src/main/resources/org/apache/hop/pipeline/transforms/injector/messages/messages_fr_FR.properties
  plugins/actions/ftp/src/main/java/org/apache/hop/workflow/actions/ftp/ActionFtpDialog.java
  plugins/actions/ftp/src/main/java/org/apache/hop/workflow/actions/ftpput/ActionFtpPutDialog.java
  plugins/actions/ftp/src/main/java/org/apache/hop/workflow/actions/sftp/ActionSftpDialog.java
  plugins/actions/ftp/src/main/java/org/apache/hop/workflow/actions/sftpput/ActionSftpPutDialog.java
  plugins/actions/ftp/src/main/resources/org/apache/hop/workflow/actions/ftpput/messages/messages_en_US.properties
  plugins/actions/mssqlbulkload/src/main/java/org/apache/hop/workflow/actions/mssqlbulkload/ActionMssqlBulkLoadDialog.java
  plugins/actions/mssqlbulkload/src/main/resources/org/apache/hop/workflow/actions/mssqlbulkload/messages/messages_en_US.properties
  plugins/actions/mysqlbulkfile/src/main/java/org/apache/hop/workflow/actions/mysqlbulkfile/ActionMysqlBulkFileDialog.java
  plugins/actions/mysqlbulkfile/src/main/resources/org/apache/hop/workflow/actions/mysqlbulkfile/messages/messages_en_US.properties
  plugins/actions/mysqlbulkload/src/main/java/org/apache/hop/workflow/actions/mysqlbulkload/ActionMysqlBulkLoadDialog.java
  plugins/actions/mysqlbulkload/src/main/resources/org/apache/hop/workflow/actions/mysqlbulkload/messages/messages_en_US.properties
  plugins/transforms/creditcardvalidator/src/main/java/org/apache/hop/pipeline/transforms/creditcardvalidator/CreditCardValidatorDialog.java
  plugins/transforms/mail/src/main/java/org/apache/hop/pipeline/transforms/mail/MailDialog.java
  plugins/transforms/pipelineexecutor/src/main/java/org/apache/hop/pipeline/transforms/pipelineexecutor/PipelineExecutorDialog.java
  plugins/transforms/salesforce/src/main/java/org/apache/hop/pipeline/transforms/salesforceinput/SalesforceInputDialog.java
  plugins/transforms/salesforce/src/main/resources/org/apache/hop/pipeline/transforms/salesforceinput/messages/messages_en_US.properties
  plugins/transforms/stringcut/src/main/resources/org/apache/hop/pipeline/transforms/stringcut/messages/messages_en_US.properties
  ui/src/main/java/org/apache/hop/ui/core/widget/LabelText.java
  ui/src/main/java/org/apache/hop/ui/core/widget/LabelTextVar.java
  ui/src/main/resources/org/apache/hop/ui/workflow/actions/messages/messages_en_US.properties
Labels: Hop Gui, Transforms, Translations, Actions

#4524 added merge join deadlock examples. #4523
  docs/hop-user-manual/modules/ROOT/assets/images/how-to-guides/deadlocks-merge-join/deadlock-merge-join-blocking-transform.png
  docs/hop-user-manual/modules/ROOT/assets/images/how-to-guides/deadlocks-merge-join/deadlock-merge-join-sort-both-streams.png
  docs/hop-user-manual/modules/ROOT/assets/images/how-to-guides/deadlocks-merge-join/deadlock-sample-merge-join-pipeline.png
  docs/hop-user-manual/modules/ROOT/nav.adoc
  docs/hop-user-manual/modules/ROOT/pages/how-to-guides/avoiding-deadlocks.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/mergejoin.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/streamlookup.adoc
Labels: Documentation

#4528 fix MDI for datagrid, fixes #4525
  integration-tests/mdi/0011-data-grid-parent.hpl
  plugins/transforms/datagrid/src/main/java/org/apache/hop/pipeline/transforms/datagrid/DataGridDataMeta.java
Labels: Integration Testing

#4533 Pipeline executor - can't select the pipeline name from a field #4495
  plugins/transforms/pipelineexecutor/src/main/java/org/apache/hop/pipeline/transforms/pipelineexecutor/PipelineExecutorDialog.java
Labels: Transforms

#4537 Update formula transform documentation, #3777
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/formula.adoc
Labels: Documentation

#4539 Set same look and feel to Help button #4538
  ui/src/main/java/org/apache/hop/ui/util/HelpUtils.java
Labels: Hop Gui

#4530 added ./ hop server commands linux/macos. fixes #4521
  docs/hop-user-manual/modules/ROOT/pages/hop-server/index.adoc
Labels: Documentation

#4497 Translations update from Weblate
  engine/src/main/resources/org/apache/hop/pipeline/transforms/injector/messages/messages_de_DE.properties
  engine/src/main/resources/org/apache/hop/pipeline/transforms/injector/messages/messages_es_AR.properties
  engine/src/main/resources/org/apache/hop/pipeline/transforms/injector/messages/messages_es_ES.properties
  engine/src/main/resources/org/apache/hop/pipeline/transforms/injector/messages/messages_it_IT.properties
  engine/src/main/resources/org/apache/hop/pipeline/transforms/injector/messages/messages_ja_JP.properties
  engine/src/main/resources/org/apache/hop/pipeline/transforms/injector/messages/messages_ko_KR.properties
  engine/src/main/resources/org/apache/hop/pipeline/transforms/injector/messages/messages_zh_CN.properties
  plugins/actions/createfile/src/main/resources/org/apache/hop/workflow/actions/createfile/messages/messages_fr_FR.properties
  plugins/actions/ftp/src/main/resources/org/apache/hop/workflow/actions/ftpput/messages/messages_es_AR.properties
  plugins/actions/ftp/src/main/resources/org/apache/hop/workflow/actions/ftpput/messages/messages_it_IT.properties
  plugins/actions/ftp/src/main/resources/org/apache/hop/workflow/actions/ftpput/messages/messages_ko_KR.properties
  plugins/actions/ftp/src/main/resources/org/apache/hop/workflow/actions/ftpput/messages/messages_zh_CN.properties
  plugins/actions/mssqlbulkload/src/main/resources/org/apache/hop/workflow/actions/mssqlbulkload/messages/messages_es_AR.properties
  plugins/actions/mssqlbulkload/src/main/resources/org/apache/hop/workflow/actions/mssqlbulkload/messages/messages_fr_FR.properties
  plugins/actions/mssqlbulkload/src/main/resources/org/apache/hop/workflow/actions/mssqlbulkload/messages/messages_it_IT.properties
  plugins/actions/mssqlbulkload/src/main/resources/org/apache/hop/workflow/actions/mssqlbulkload/messages/messages_ja_JP.properties
  plugins/actions/mssqlbulkload/src/main/resources/org/apache/hop/workflow/actions/mssqlbulkload/messages/messages_ko_KR.properties
  plugins/actions/mysqlbulkfile/src/main/resources/org/apache/hop/workflow/actions/mysqlbulkfile/messages/messages_es_AR.properties
  plugins/actions/mysqlbulkfile/src/main/resources/org/apache/hop/workflow/actions/mysqlbulkfile/messages/messages_fr_FR.properties
  plugins/actions/mysqlbulkfile/src/main/resources/org/apache/hop/workflow/actions/mysqlbulkfile/messages/messages_it_IT.properties
  plugins/actions/mysqlbulkfile/src/main/resources/org/apache/hop/workflow/actions/mysqlbulkfile/messages/messages_ja_JP.properties
  plugins/actions/mysqlbulkfile/src/main/resources/org/apache/hop/workflow/actions/mysqlbulkfile/messages/messages_ko_KR.properties
  plugins/actions/mysqlbulkfile/src/main/resources/org/apache/hop/workflow/actions/mysqlbulkfile/messages/messages_zh_CN.properties
  plugins/actions/mysqlbulkload/src/main/resources/org/apache/hop/workflow/actions/mysqlbulkload/messages/messages_de_DE.properties
  plugins/actions/mysqlbulkload/src/main/resources/org/apache/hop/workflow/actions/mysqlbulkload/messages/messages_es_AR.properties
  plugins/actions/mysqlbulkload/src/main/resources/org/apache/hop/workflow/actions/mysqlbulkload/messages/messages_fr_FR.properties
  plugins/actions/mysqlbulkload/src/main/resources/org/apache/hop/workflow/actions/mysqlbulkload/messages/messages_it_IT.properties
  plugins/actions/mysqlbulkload/src/main/resources/org/apache/hop/workflow/actions/mysqlbulkload/messages/messages_ja_JP.properties
  plugins/actions/mysqlbulkload/src/main/resources/org/apache/hop/workflow/actions/mysqlbulkload/messages/messages_ko_KR.properties
  plugins/actions/mysqlbulkload/src/main/resources/org/apache/hop/workflow/actions/mysqlbulkload/messages/messages_zh_CN.properties
  plugins/actions/repeat/src/main/resources/org/apache/hop/workflow/actions/repeat/messages/messages_zh_CN.properties
  plugins/misc/projects/src/main/resources/org/apache/hop/projects/config/messages/messages_fr_FR.properties
  plugins/tech/aws/src/main/resources/org/apache/hop/pipeline/transforms/redshift/bulkloader/messages/messages_fr_FR.properties
  plugins/transforms/cratedbbulkloader/src/main/resources/org/apache/hop/pipeline/transforms/cratedbbulkloader/messages/messages_fr_FR.properties
  plugins/transforms/salesforce/src/main/resources/org/apache/hop/pipeline/transforms/salesforceinput/messages/messages_es_AR.properties
  plugins/transforms/salesforce/src/main/resources/org/apache/hop/pipeline/transforms/salesforceinput/messages/messages_it_IT.properties
  plugins/transforms/salesforce/src/main/resources/org/apache/hop/pipeline/transforms/salesforceinput/messages/messages_ja_JP.properties
  plugins/transforms/salesforce/src/main/resources/org/apache/hop/pipeline/transforms/salesforceinput/messages/messages_ko_KR.properties
  plugins/transforms/salesforce/src/main/resources/org/apache/hop/pipeline/transforms/salesforceinput/messages/messages_zh_CN.properties
  plugins/transforms/sortedmerge/src/main/resources/org/apache/hop/pipeline/transforms/sortedmerge/messages/messages_fr_FR.properties
  plugins/transforms/sqlfileoutput/src/main/resources/org/apache/hop/pipeline/transforms/sqlfileoutput/messages/messages_fr_FR.properties
  plugins/transforms/stringcut/src/main/resources/org/apache/hop/pipeline/transforms/stringcut/messages/messages_fr_FR.properties
  plugins/transforms/stringcut/src/main/resources/org/apache/hop/pipeline/transforms/stringcut/messages/messages_it_IT.properties
  plugins/transforms/stringcut/src/main/resources/org/apache/hop/pipeline/transforms/stringcut/messages/messages_ja_JP.properties
  plugins/transforms/stringcut/src/main/resources/org/apache/hop/pipeline/transforms/stringcut/messages/messages_ko_KR.properties
  plugins/transforms/stringcut/src/main/resources/org/apache/hop/pipeline/transforms/stringcut/messages/messages_zh_CN.properties
  plugins/transforms/tableoutput/src/main/resources/org/apache/hop/pipeline/transforms/tableoutput/messages/messages_fr_FR.properties
  plugins/transforms/textfile/src/main/resources/org/apache/hop/pipeline/transforms/fileinput/text/messages/messages_pt_BR.properties
  plugins/transforms/uniquerows/src/main/resources/org/apache/hop/pipeline/transforms/uniquerows/messages/messages_fr_FR.properties
  plugins/transforms/verticabulkloader/src/main/resources/org/apache/hop/pipeline/transforms/vertica/bulkloader/messages/messages_fr_FR.properties
  ui/src/main/resources/org/apache/hop/ui/workflow/actions/messages/messages_de_DE.properties
  ui/src/main/resources/org/apache/hop/ui/workflow/actions/messages/messages_es_AR.properties
  ui/src/main/resources/org/apache/hop/ui/workflow/actions/messages/messages_es_ES.properties
  ui/src/main/resources/org/apache/hop/ui/workflow/actions/messages/messages_it_IT.properties
  ui/src/main/resources/org/apache/hop/ui/workflow/actions/messages/messages_ja_JP.properties
  ui/src/main/resources/org/apache/hop/ui/workflow/actions/messages/messages_ko_KR.properties
Labels: Hop Gui

#4542 Add option to convert null to `#N/A`, fixes #3777
  docs/hop-user-manual/modules/ROOT/pages/getting-started/index.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/formula.adoc
  plugins/transforms/formula/src/main/java/org/apache/hop/pipeline/transforms/formula/FormulaDialog.java
  plugins/transforms/formula/src/main/java/org/apache/hop/pipeline/transforms/formula/FormulaMetaFunction.java
  plugins/transforms/formula/src/main/java/org/apache/hop/pipeline/transforms/formula/util/FormulaParser.java
  plugins/transforms/formula/src/main/resources/org/apache/hop/pipeline/transforms/formula/messages/messages_en_US.properties
Labels: Documentation

#4547 couple of fixes, #3699, #3759, #4541
  core/src/main/java/org/apache/hop/core/row/value/ValueMetaBase.java
  plugins/databases/mysql/src/main/java/org/apache/hop/databases/mysql/MySqlDatabaseMeta.java
  plugins/transforms/combinationlookup/src/main/java/org/apache/hop/pipeline/transforms/combinationlookup/CombinationLookupDialog.java
  plugins/transforms/combinationlookup/src/main/java/org/apache/hop/pipeline/transforms/combinationlookup/CombinationLookupMeta.java
  ui/src/main/java/org/apache/hop/ui/hopgui/perspective/explorer/ExplorerPerspective.java
Labels: Hop Gui

#4550 added row grouping tab specifications in workflow execution. fixes #2594
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/workflow-executor.adoc
Labels: Documentation

#4553 updated getting started Hop GUI overview.fixes #4552
  docs/hop-user-manual/modules/ROOT/assets/images/getting-started/gs-hop-gui-overview-1.png
  docs/hop-user-manual/modules/ROOT/assets/images/getting-started/gs-hop-gui-overview-2.png
  docs/hop-user-manual/modules/ROOT/pages/getting-started/hop-gui.adoc
  docs/hop-user-manual/modules/ROOT/pages/hop-tools/hop-import.adoc
  docs/hop-user-manual/modules/ROOT/pages/plugins/import/kettle-import.adoc
Labels: Documentation

#4503 XML Cleanup Neo4j Output and Neo4j Check connections #2010 #2013
  integration-tests/neo4j/tests/neo4j-output-create-nodes-relationship/neo4j-output-create-nodes-relationship.hpl
  plugins/tech/neo4j/src/main/java/org/apache/hop/neo4j/actions/check/CheckConnections.java
  plugins/tech/neo4j/src/main/java/org/apache/hop/neo4j/transforms/output/Neo4JOutput.java
  plugins/tech/neo4j/src/main/java/org/apache/hop/neo4j/transforms/output/Neo4JOutputDialog.java
  plugins/tech/neo4j/src/main/java/org/apache/hop/neo4j/transforms/output/Neo4JOutputMeta.java
  plugins/tech/neo4j/src/main/java/org/apache/hop/neo4j/transforms/output/fields/LabelField.java
  plugins/tech/neo4j/src/main/java/org/apache/hop/neo4j/transforms/output/fields/NodeField.java
  plugins/tech/neo4j/src/main/java/org/apache/hop/neo4j/transforms/output/fields/NodeFromField.java
  plugins/tech/neo4j/src/main/java/org/apache/hop/neo4j/transforms/output/fields/NodeToField.java
  plugins/tech/neo4j/src/main/java/org/apache/hop/neo4j/transforms/output/fields/PropertyField.java
Labels: Integration Testing, Neo4j

#4508 XML cleanup for Neo4j Split Graph transform. fixes #2014
  plugins/tech/neo4j/src/main/java/org/apache/hop/neo4j/transforms/split/SplitGraphMeta.java
Labels: Neo4j

#4507 XML cleanup for Neo4j Logging Info transform #2012
  plugins/tech/neo4j/src/main/java/org/apache/hop/neo4j/transforms/loginfo/GetLoggingInfo.java
  plugins/tech/neo4j/src/main/java/org/apache/hop/neo4j/transforms/loginfo/GetLoggingInfoDialog.java
  plugins/tech/neo4j/src/main/java/org/apache/hop/neo4j/transforms/loginfo/GetLoggingInfoField.java
  plugins/tech/neo4j/src/main/java/org/apache/hop/neo4j/transforms/loginfo/GetLoggingInfoMeta.java
  plugins/tech/neo4j/src/main/java/org/apache/hop/neo4j/transforms/loginfo/GetLoggingInfoTypes.java
Labels: Neo4j

#4509 XML cleanup and doc link fix for Neo4j Generate CSVs. fixes #2011
  plugins/tech/neo4j/src/main/java/org/apache/hop/neo4j/transforms/gencsv/GenerateCsvMeta.java
Labels: Neo4j

#4556 Fix for #4545
  docs/hop-user-manual/modules/ROOT/pages/hop-gui/file-dialog.adoc
  docs/hop-user-manual/modules/ROOT/pages/hop-gui/index.adoc
  docs/hop-user-manual/modules/ROOT/pages/hop-gui/perspective-plugin.adoc
  docs/hop-user-manual/modules/ROOT/pages/hop-tools/hop-gui.adoc
  docs/hop-user-manual/modules/ROOT/pages/hop-tools/index.adoc
  docs/hop-user-manual/modules/ROOT/pages/how-to-guides/index.adoc
  docs/hop-user-manual/modules/ROOT/pages/how-to-guides/joins-lookups.adoc
  docs/hop-user-manual/modules/ROOT/pages/metadata-types/index.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/errorhandling.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/hop-pipeline-editor.adoc
  docs/hop-user-manual/modules/ROOT/pages/projects/metadata.adoc
  docs/hop-user-manual/modules/ROOT/pages/samples/samples.adoc
  docs/hop-user-manual/modules/ROOT/pages/technology/technology.adoc
  docs/hop-user-manual/modules/ROOT/pages/workflow/actions.adoc
  docs/hop-user-manual/modules/ROOT/pages/workflow/workflows.adoc
Labels: Documentation

#4563 fix strange behaviour on grids, fixes #3801
  plugins/transforms/datagrid/src/main/java/org/apache/hop/pipeline/transforms/datagrid/DataGridDialog.java
  ui/src/main/java/org/apache/hop/ui/core/widget/TableView.java
Labels: Hop Gui

#4565 Add XML_ALLOW_DOCTYPE_DECL to IT test config , #2744
  integration-tests/xml/hop-config.json
Labels: Integration Testing

#4589 added Run configuration field - pipeline and workflow executor.fixes #4587
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/pipeline-executor.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/workflow-executor.adoc
Labels: Documentation

#4590 RegEx Evaluation - Documentation update based on #4585
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/regexeval.adoc
Labels: Documentation

#4595 Fix clicked transform that is not part of the current selection #4578
  ui/src/main/java/org/apache/hop/ui/hopgui/file/pipeline/HopGuiPipelineGraph.java
  ui/src/main/java/org/apache/hop/ui/hopgui/file/workflow/HopGuiWorkflowGraph.java
Labels: Hop Gui

#4608 added beam missing links - transform plugins.fixes #4607
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms.adoc
Labels: Documentation

#4625 updated beam input and beam output page names.fixes #4609
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/beamfileinput.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/beamfileoutput.adoc
Labels: Documentation

#4622 Fix encrypt PGP transform #4621
  plugins/transforms/pgp/src/main/java/org/apache/hop/pipeline/transforms/pgpencryptstream/PGPEncryptStreamMeta.java
Labels: Transforms

#4618 Improve navigation, selection and move elements in graph #4617, #4598, #4620
  engine/src/main/java/org/apache/hop/core/gui/BasePainter.java
  engine/src/main/java/org/apache/hop/pipeline/PipelineMeta.java
  engine/src/main/java/org/apache/hop/pipeline/PipelinePainter.java
  engine/src/main/java/org/apache/hop/workflow/WorkflowPainter.java
  ui/src/main/java/org/apache/hop/ui/hopgui/file/pipeline/HopGuiPipelineGraph.java
  ui/src/main/java/org/apache/hop/ui/hopgui/file/workflow/HopGuiWorkflowGraph.java
  ui/src/main/java/org/apache/hop/ui/hopgui/perspective/dataorch/HopGuiAbstractGraph.java
  ui/src/main/java/org/apache/hop/ui/hopgui/perspective/execution/DragViewZoomBase.java
Labels: Hop Gui

#4605 doc updates for plugins, projects, kettle import #4602
  docs/hop-tech-manual/modules/ROOT/nav.adoc
  docs/hop-tech-manual/modules/ROOT/pages/hop-vs-kettle/hop-import.adoc
  docs/hop-tech-manual/modules/ROOT/pages/hop-vs-kettle/import-kettle-projects.adoc
  docs/hop-user-manual/modules/ROOT/nav.adoc
  docs/hop-user-manual/modules/ROOT/pages/hop-tools/hop-import.adoc
  docs/hop-user-manual/modules/ROOT/pages/plugins/external-plugins.adoc
  docs/hop-user-manual/modules/ROOT/pages/plugins/projects.adoc
  docs/hop-user-manual/modules/ROOT/pages/plugins/projects/projects.adoc
Labels: Documentation

#4631 Integration test to deserialize all actions and transforms #4630
  integration-tests/deserialize/0001-deserialize.hpl
  integration-tests/deserialize/all-actions.hwf
  integration-tests/deserialize/all-transforms.hpl
  integration-tests/deserialize/dev-env-config.json
  integration-tests/deserialize/hop-config.json
  integration-tests/deserialize/main-0001-deserialize.hwf
  integration-tests/deserialize/metadata/pipeline-run-configuration/local.json
  integration-tests/deserialize/metadata/workflow-run-configuration/local.json
  integration-tests/deserialize/project-config.json
Labels: Integration Testing

#4627 Implementing issue #4571
  assemblies/plugins/pom.xml
  docs/hop-user-manual/modules/ROOT/nav.adoc
  docs/hop-user-manual/modules/ROOT/pages/database/databases/singlestore.adoc
  plugins/databases/pom.xml
  plugins/databases/singlestore/pom.xml
  plugins/databases/singlestore/src/assembly/assembly.xml
  plugins/databases/singlestore/src/main/java/org/apache/hop/databases/singlestore/SingleStoreDatabaseMeta.java
  plugins/databases/singlestore/src/main/resources/version.xml
  plugins/databases/singlestore/src/test/java/org/apache/hop/databases/singlestore/SingleStoreDatabaseMetaTest.java
Labels: Documentation

#4638 Replace setEchoChar('*') with SWT.PASSWORD #4637
  plugins/actions/as400command/src/main/java/org/apache/hop/workflow/actions/as400command/ActionAs400CommandDialog.java
  plugins/engines/beam/src/main/java/org/apache/hop/beam/transforms/kinesis/BeamKinesisConsumeDialog.java
  plugins/engines/beam/src/main/java/org/apache/hop/beam/transforms/kinesis/BeamKinesisProduceDialog.java
  plugins/tech/azure/src/main/java/org/apache/hop/pipeline/transforms/eventhubs/listen/AzureListenerDialog.java
  plugins/tech/azure/src/main/java/org/apache/hop/pipeline/transforms/eventhubs/write/AzureWriterDialog.java
  ui/src/main/java/org/apache/hop/ui/core/database/DatabaseMetaEditor.java
  ui/src/main/java/org/apache/hop/ui/core/gui/GuiCompositeWidgets.java
Labels: Hop Gui

#4636 [RELEASE] dependency upgrades
  docs/hop-user-manual/modules/ROOT/assets/images/transforms/icons/stanfordnlp.svg
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/detectlanguage.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/stanfordnlp.adoc
  lib/pom.xml
  plugins/databases/clickhouse/pom.xml
  plugins/engines/beam/pom.xml
  plugins/engines/beam/src/assembly/assembly.xml
  plugins/tech/parquet/pom.xml
  plugins/transforms/detectlanguage/pom.xml
  plugins/transforms/detectlanguage/src/assembly/assembly.xml
  pom.xml
Labels: Documentation

#4643 content is lost when adding a new row during edit, fixes #4642
  ui/src/main/java/org/apache/hop/ui/core/widget/TableView.java
Labels: Hop Gui
