Repository apache/hop, pull requests merged in 2024-04, with the labels that each got.

#3774 Fix HOP_PLATFORM_RUNTIME=Server in hop-server.bat #3773
  assemblies/static/src/main/resources/hop-server.bat
Labels: Hop Server

#3782 Translations update from Weblate
  plugins/actions/deletefolders/src/main/resources/org/apache/hop/workflow/actions/deletefolders/messages/messages_de_DE.properties
  plugins/actions/waitforsql/src/main/resources/org/apache/hop/workflow/actions/waitforsql/messages/messages_de_DE.properties
  plugins/misc/projects/src/main/resources/org/apache/hop/projects/project/messages/messages_de_DE.properties
  plugins/misc/reflection/src/main/resources/org/apache/hop/reflection/probe/transform/messages/messages_de_DE.properties
  plugins/transforms/blockingtransform/src/main/resources/org/apache/hop/pipeline/transforms/blockingtransform/messages/messages_de_DE.properties
  plugins/transforms/writetolog/src/main/resources/org/apache/hop/pipeline/transforms/writetolog/messages/messages_de_DE.properties
  ui/src/main/resources/org/apache/hop/ui/pipeline/debug/messages/messages_de_DE.properties
  ui/src/main/resources/org/apache/hop/ui/workflow/config/messages/messages_de_DE.properties
Labels: Hop Gui

#3789 Oracle databases do support prepared statement metadata retrieval #3515
  plugins/databases/oracle/src/main/java/org/apache/hop/databases/oracle/OracleDatabaseMeta.java
  plugins/databases/oracle/src/test/java/org/apache/hop/databases/oracle/OracleDatabaseMetaTest.java
Labels: Database

#3787 TableView do not reliably delete rows #3712, #3767
  ui/src/main/java/org/apache/hop/ui/core/widget/TableView.java
Labels: Hop Gui

#3631 Update repeat.adoc re: repeating pipeline bug
  docs/hop-user-manual/modules/ROOT/pages/workflow/actions/repeat.adoc
Labels: Documentation

#3766 Fixes #3748: Support for Azurite for development and test purposes
  docker/integration-tests/integration-tests-azure.yaml
  integration-tests/azure/0001-read_parquet_from_azure_azfs_scheme.hpl
  integration-tests/azure/0001-write_parquet_to_azure_azfs_scheme.hpl
  integration-tests/azure/0002-read_parquet_from_azure_azure_scheme.hpl
  integration-tests/azure/0002-write_parquet_to_azure_azure_scheme.hpl
  integration-tests/azure/datasets/golden-dataset-employees.csv
  integration-tests/azure/dev-env-config.json
  integration-tests/azure/hop-config.json
  integration-tests/azure/main-0001-write-and-read-parquet-azfs-scheme.hwf
  integration-tests/azure/main-0002-write-and-read-parquet-azure-scheme.hwf
  integration-tests/azure/metadata/dataset/Employees.json
  integration-tests/azure/metadata/pipeline-run-configuration/local.json
  integration-tests/azure/metadata/unit-test/0001-read_parquet_from_azure_azfs_scheme UNIT.json
  integration-tests/azure/metadata/unit-test/0002-read_parquet_from_azure_azure_scheme UNIT.json
  integration-tests/azure/metadata/workflow-run-configuration/local.json
  integration-tests/azure/project-config.json
  plugins/tech/azure/src/main/java/org/apache/hop/vfs/azure/AzureFileObject.java
  plugins/tech/azure/src/main/java/org/apache/hop/vfs/azure/AzureFileProvider.java
  plugins/tech/azure/src/main/java/org/apache/hop/vfs/azure/AzureFileSystem.java
  plugins/tech/azure/src/main/java/org/apache/hop/vfs/azure/config/AzureConfig.java
  plugins/tech/azure/src/main/java/org/apache/hop/vfs/azure/config/AzureConfigPlugin.java
  plugins/tech/azure/src/main/resources/org/apache/hop/vfs/azure/config/messages/messages_en_US.properties
  plugins/tech/azure/src/test/java/org/apache/hop/vfs/azure/AzureFileNameParserTest.java
Labels: Containers, Integration Testing

#3796 Translations update from Weblate
  core/src/main/resources/org/apache/hop/core/plugins/messages/messages_de_DE.properties
  engine/src/main/resources/org/apache/hop/workflow/messages/messages_de_DE.properties
  plugins/actions/eval/src/main/resources/org/apache/hop/workflow/actions/eval/messages/messages_de_DE.properties
  plugins/actions/ftp/src/main/resources/org/apache/hop/workflow/actions/sftp/messages/messages_de_DE.properties
  plugins/actions/mail/src/main/resources/org/apache/hop/workflow/actions/mail/messages/messages_de_DE.properties
  plugins/actions/msgboxinfo/src/main/resources/org/apache/hop/workflow/actions/msgboxinfo/messages/messages_de_DE.properties
  plugins/actions/sql/src/main/resources/org/apache/hop/workflow/actions/sql/messages/messages_de_DE.properties
  plugins/actions/tableexists/src/main/resources/org/apache/hop/workflow/actions/tableexists/messages/messages_de_DE.properties
  plugins/actions/zipfile/src/main/resources/org/apache/hop/workflow/actions/zipfile/messages/messages_de_DE.properties
  plugins/engines/beam/src/main/resources/org/apache/hop/beam/gui/messages/messages_de_DE.properties
  plugins/engines/beam/src/main/resources/org/apache/hop/beam/transforms/io/messages/messages_de_DE.properties
  plugins/misc/import/src/main/resources/org/apache/hop/imports/kettle/messages/messages_de_DE.properties
  plugins/misc/projects/src/main/resources/org/apache/hop/projects/project/messages/messages_de_DE.properties
  plugins/tech/aws/src/main/resources/org/apache/hop/pipeline/transforms/redshift/bulkloader/messages/messages_de_DE.properties
  plugins/tech/parquet/src/main/resources/org/apache/hop/parquet/transforms/input/messages/messages_de_DE.properties
  plugins/transforms/datagrid/src/main/resources/org/apache/hop/pipeline/transforms/datagrid/messages/messages_de_DE.properties
  plugins/transforms/textfile/src/main/resources/org/apache/hop/pipeline/transforms/textfileoutput/messages/messages_de_DE.properties
  ui/src/main/resources/org/apache/hop/ui/core/vfs/messages/messages_de_DE.properties
  ui/src/main/resources/org/apache/hop/ui/hopgui/file/pipeline/messages/messages_de_DE.properties
  ui/src/main/resources/org/apache/hop/ui/hopgui/file/workflow/delegates/messages/messages_de_DE.properties
  ui/src/main/resources/org/apache/hop/ui/hopgui/file/workflow/messages/messages_de_DE.properties
  ui/src/main/resources/org/apache/hop/ui/hopgui/perspective/configuration/messages/messages_de_DE.properties
  ui/src/main/resources/org/apache/hop/ui/hopgui/perspective/pluginexplorer/messages/messages_de_DE.properties
  ui/src/main/resources/org/apache/hop/ui/hopgui/perspective/search/messages/messages_de_DE.properties
  ui/src/main/resources/org/apache/hop/ui/pipeline/config/messages/messages_de_DE.properties
Labels: Hop Gui

#3798 Translations update from Weblate
  plugins/actions/createfile/src/main/resources/org/apache/hop/workflow/actions/createfile/messages/messages_de_DE.properties
  plugins/actions/simpleeval/src/main/resources/org/apache/hop/workflow/actions/simpleeval/messages/messages_de_DE.properties
  plugins/actions/waitforfile/src/main/resources/org/apache/hop/workflow/actions/waitforfile/messages/messages_de_DE.properties
  plugins/transforms/mail/src/main/resources/org/apache/hop/pipeline/transforms/mail/messages/messages_de_DE.properties
  plugins/transforms/mergejoin/src/main/resources/org/apache/hop/pipeline/transforms/mergejoin/messages/messages_de_DE.properties
  ui/src/main/resources/org/apache/hop/ui/hopgui/file/workflow/messages/messages_de_DE.properties
  ui/src/main/resources/org/apache/hop/ui/hopgui/messages/messages_de_DE.properties
Labels: Hop Gui

#3807 [BUILD] add checkstyle for starImports
  .github/workflows/pr_build_code.yml
  engine/src/main/java/org/apache/hop/run/HopRun.java
  plugins/actions/mailvalidator/src/main/java/org/apache/hop/workflow/actions/mailvalidator/ActionMailValidatorDialog.java
  plugins/actions/mailvalidator/src/main/java/org/apache/hop/workflow/actions/mailvalidator/MailValidation.java
  plugins/actions/truncatetables/src/test/java/org/apache/hop/workflow/actions/truncatetables/ActionTruncateTablesLoadSaveTest.java
  plugins/engines/beam/src/main/java/org/apache/hop/beam/engines/spark/BeamSparkPipelineRunConfiguration.java
  plugins/tech/azure/src/main/java/org/apache/hop/vfs/azure/AzureFileObject.java
  plugins/tech/azure/src/test/java/org/apache/hop/vfs/azure/AzureFileNameParserTest.java
  plugins/tech/google/src/main/java/org/apache/hop/pipeline/transforms/googlesheets/GoogleSheetsCredentials.java
  plugins/transforms/excel/src/main/java/org/apache/hop/pipeline/transforms/excelinput/ExcelInputDialog.java
  plugins/transforms/excel/src/main/java/org/apache/hop/pipeline/transforms/excelwriter/ExcelWriterTransformDialog.java
  plugins/transforms/filemetadata/src/main/java/org/apache/hop/pipeline/transforms/filemetadata/FileMetadataDialog.java
  plugins/transforms/jdbc-metadata/src/main/java/org/apache/pipeline/transform/jdbcmetadata/JdbcMetadata.java
  plugins/transforms/jdbc-metadata/src/main/java/org/apache/pipeline/transform/jdbcmetadata/JdbcMetadataDialog.java
  plugins/transforms/json/src/test/java/org/apache/hop/pipeline/transforms/jsonoutput/JsonOutputTest.java
  plugins/transforms/memgroupby/src/test/java/org/apache/hop/pipeline/transforms/memgroupby/MemoryGroupByMetaTest.java
  plugins/transforms/replacestring/src/test/java/org/apache/hop/pipeline/transforms/replacestring/ReplaceStringTest.java
  plugins/transforms/salesforce/src/main/java/org/apache/hop/pipeline/transforms/salesforceinput/SalesforceInputDialog.java
  plugins/transforms/schemamapping/src/main/java/org/apache/hop/pipeline/transforms/schemamapping/SchemaMappingDialog.java
  plugins/transforms/tableinput/src/main/java/org/apache/hop/pipeline/transforms/tableinput/TableInputDialog.java
  plugins/transforms/textfile/src/main/java/org/apache/hop/pipeline/transforms/csvinput/CsvInputDialog.java
  plugins/transforms/textfile/src/main/java/org/apache/hop/pipeline/transforms/fileinput/text/TextFileInputDialog.java
  plugins/transforms/textfile/src/main/java/org/apache/hop/pipeline/transforms/textfileoutput/TextFileOutputDialog.java
  plugins/transforms/verticabulkloader/src/main/java/org/apache/hop/pipeline/transforms/vertica/bulkloader/VerticaBulkLoader.java
  plugins/transforms/verticabulkloader/src/main/java/org/apache/hop/pipeline/transforms/vertica/bulkloader/VerticaBulkLoaderDialog.java
  plugins/transforms/verticabulkloader/src/main/java/org/apache/hop/pipeline/transforms/vertica/bulkloader/VerticaBulkLoaderMeta.java
  pom.xml
  tools/maven/checkstyle.xml
  ui/src/main/java/org/apache/hop/ui/core/widget/ConditionEditor.java
Labels: Hop Gui

#3816 [DOC UPDATE] Upon renaming master branch to main
  docs/hop-dev-manual/modules/ROOT/pages/setup-dev-environment.adoc
Labels: Documentation

#3791 3790 - Support CrateDB database plugin
  assemblies/lib-jdbc/pom.xml
  assemblies/plugins/databases/cratedb-assemblies/pom.xml
  assemblies/plugins/databases/cratedb-assemblies/src/assembly/assembly.xml
  assemblies/plugins/databases/cratedb-assemblies/src/main/resources/dependencies.xml
  assemblies/plugins/databases/cratedb-assemblies/src/main/resources/version.xml
  assemblies/plugins/databases/pom.xml
  assemblies/plugins/dist/pom.xml
  docs/hop-user-manual/modules/ROOT/nav.adoc
  docs/hop-user-manual/modules/ROOT/pages/database/databases/cratedb.adoc
  plugins/databases/cratedb/pom.xml
  plugins/databases/cratedb/src/main/java/org/apache/hop/databases/cratedb/CrateDbDatabaseMeta.java
  plugins/databases/cratedb/src/test/java/org/apache/hop/databases/cratedb/CrateDBDatabaseMetaIT.java
  plugins/databases/cratedb/src/test/java/org/apache/hop/databases/cratedb/CrateDBDatabaseMetaTest.java
  plugins/databases/cratedb/src/test/java/org/apache/hop/databases/cratedb/CrateDBValueMetaBaseTest.java
  plugins/databases/cratedb/src/test/java/org/apache/hop/databases/cratedb/ReleaseSavePointTest.java
  plugins/databases/pom.xml
Labels: Documentation

#3841 static schema definition doc updates. fixes #3831
  docs/hop-user-manual/modules/ROOT/nav.adoc
  docs/hop-user-manual/modules/ROOT/pages/metadata-types/static-schema-definition.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/csvinput.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/excelinput.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/excelwriter.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/schemamapping.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/textfileinput.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/textfileoutput.adoc
Labels: Documentation

#3843 neo4j driver upgrade. fixes #3842
  assemblies/plugins/tech/neo4j/pom.xml
  plugins/tech/neo4j/pom.xml
Labels: Neo4j

#3851 Translations update from Weblate
  engine/src/main/resources/org/apache/hop/pipeline/transform/messages/messages_de_DE.properties
  plugins/actions/waitforsql/src/main/resources/org/apache/hop/workflow/actions/waitforsql/messages/messages_de_DE.properties
  plugins/transforms/excel/src/main/resources/org/apache/hop/pipeline/transforms/excelwriter/messages/messages_de_DE.properties
  plugins/transforms/fake/src/main/resources/org/apache/hop/pipeline/transforms/fake/messages/messages_de_DE.properties
  plugins/transforms/fieldsplitter/src/main/resources/org/apache/hop/pipeline/transforms/fieldsplitter/messages/messages_de_DE.properties
  plugins/transforms/pipelineexecutor/src/main/resources/org/apache/hop/pipeline/transforms/pipelineexecutor/messages/messages_de_DE.properties
  plugins/transforms/regexeval/src/main/resources/org/apache/hop/pipeline/transforms/regexeval/messages/messages_de_DE.properties
  plugins/transforms/setvalueconstant/src/main/resources/org/apache/hop/pipeline/transforms/setvalueconstant/messages/messages_de_DE.properties
  plugins/transforms/tableoutput/src/main/resources/org/apache/hop/pipeline/transforms/tableoutput/messages/messages_de_DE.properties
  plugins/transforms/textfile/src/main/resources/org/apache/hop/pipeline/transforms/fileinput/messages/messages_de_DE.properties
  plugins/transforms/update/src/main/resources/org/apache/hop/pipeline/transforms/update/messages/messages_de_DE.properties
  ui/src/main/resources/org/apache/hop/ui/core/database/dialog/messages/messages_de_DE.properties
  ui/src/main/resources/org/apache/hop/ui/core/dialog/messages/messages_de_DE.properties
  ui/src/main/resources/org/apache/hop/ui/hopgui/file/workflow/messages/messages_de_DE.properties
Labels: Hop Gui

#3856 Translations update from Weblate
  plugins/tech/neo4j/src/main/resources/org/apache/hop/neo4j/perspective/messages/messages_de_DE.properties
  plugins/transforms/excel/src/main/resources/org/apache/hop/pipeline/transforms/excelinput/messages/messages_de_DE.properties
  plugins/transforms/memgroupby/src/main/resources/org/apache/hop/pipeline/transforms/memgroupby/messages/messages_de_DE.properties
  plugins/transforms/selectvalues/src/main/resources/org/apache/hop/pipeline/transforms/selectvalues/messages/messages_de_DE.properties
  plugins/transforms/uniquerowsbyhashset/src/main/resources/org/apache/hop/pipeline/transforms/uniquerowsbyhashset/messages/messages_de_DE.properties
  plugins/transforms/update/src/main/resources/org/apache/hop/pipeline/transforms/update/messages/messages_de_DE.properties
  plugins/transforms/valuemapper/src/main/resources/org/apache/hop/pipeline/transforms/valuemapper/messages/messages_de_DE.properties
Labels: Neo4j

#3863 Translations update from Weblate
  plugins/engines/beam/src/main/resources/org/apache/hop/beam/transforms/bigtable/messages/messages_de_DE.properties
  plugins/tech/neo4j/src/main/resources/org/apache/hop/neo4j/actions/constraint/messages/messages_de_DE.properties
  plugins/tech/neo4j/src/main/resources/org/apache/hop/neo4j/transforms/gencsv/messages/messages_de_DE.properties
  plugins/tech/neo4j/src/main/resources/org/apache/hop/neo4j/transforms/importer/messages/messages_de_DE.properties
  plugins/tech/neo4j/src/main/resources/org/apache/hop/neo4j/transforms/split/messages/messages_de_DE.properties
  plugins/transforms/getfilenames/src/main/resources/org/apache/hop/pipeline/transforms/getfilenames/messages/messages_de_DE.properties
  plugins/transforms/metadata/src/main/resources/org/apache/hop/pipeline/transforms/metainput/messages/messages_de_DE.properties
  ui/src/main/resources/org/apache/hop/ui/hopgui/file/pipeline/messages/messages_de_DE.properties
Labels: Hop Gui, Neo4j

#3870 failing test and test environment, fixes #3869
  docker/integration-tests/Dockerfile.unit-tests
  integration-tests/scripts/run-tests-docker.sh
  plugins/tech/avro/src/main/samples/transforms/avro-file-input.hpl
Labels: Containers, Integration Testing

#3868 Improves error message for Changing sequence transformation #3815
  plugins/transforms/fieldschangesequence/src/main/java/org/apache/hop/pipeline/transforms/fieldschangesequence/FieldsChangeSequence.java
Labels: Transforms

#3884 Fake - Add support ValueMetaInteger for methods that return long #3848
  plugins/transforms/fake/src/main/java/org/apache/hop/pipeline/transforms/fake/FakeDialog.java
  plugins/transforms/fake/src/main/java/org/apache/hop/pipeline/transforms/fake/FakeMeta.java
  plugins/transforms/fake/src/main/samples/transforms/fake-data-generate-person-record.hpl
Labels: Transforms

#3889 Translations update from Weblate
  engine/src/main/resources/org/apache/hop/pipeline/messages/messages_es_ES.properties
  engine/src/main/resources/org/apache/hop/pipeline/messages/messages_ja_JP.properties
  engine/src/main/resources/org/apache/hop/pipeline/messages/messages_zh_CN.properties
  engine/src/main/resources/org/apache/hop/workflow/messages/messages_zh_CN.properties
  plugins/tech/google/src/main/resources/org/apache/hop/pipeline/transforms/googlesheets/messages/messages_en_FR.properties
  plugins/tech/neo4j/src/main/resources/org/apache/hop/neo4j/transforms/output/messages/messages_zh_CN.properties
  plugins/transforms/http/src/main/resources/org/apache/hop/pipeline/transforms/http/messages/messages_es_AR.properties
  plugins/transforms/http/src/main/resources/org/apache/hop/pipeline/transforms/http/messages/messages_it_IT.properties
  plugins/transforms/http/src/main/resources/org/apache/hop/pipeline/transforms/http/messages/messages_ja_JP.properties
  plugins/transforms/http/src/main/resources/org/apache/hop/pipeline/transforms/http/messages/messages_ko_KR.properties
  plugins/transforms/sql/src/main/resources/org/apache/hop/pipeline/transforms/sql/messages/messages_zh_CN.properties
  plugins/transforms/tableexists/src/main/resources/org/apache/hop/pipeline/transforms/tableexists/messages/messages_ko_KR.properties
  plugins/transforms/tableexists/src/main/resources/org/apache/hop/pipeline/transforms/tableexists/messages/messages_zh_CN.properties
  plugins/transforms/verticabulkloader/src/main/resources/org/apache/hop/pipeline/transforms/vertica/bulkloader/messages/messages_de_DE.properties
  plugins/transforms/verticabulkloader/src/main/resources/org/apache/hop/pipeline/transforms/vertica/bulkloader/messages/messages_es_AR.properties
  plugins/transforms/verticabulkloader/src/main/resources/org/apache/hop/pipeline/transforms/vertica/bulkloader/messages/messages_es_ES.properties
  plugins/transforms/verticabulkloader/src/main/resources/org/apache/hop/pipeline/transforms/vertica/bulkloader/messages/messages_fr_FR.properties
  plugins/transforms/verticabulkloader/src/main/resources/org/apache/hop/pipeline/transforms/vertica/bulkloader/messages/messages_it_IT.properties
  plugins/transforms/verticabulkloader/src/main/resources/org/apache/hop/pipeline/transforms/vertica/bulkloader/messages/messages_ja_JP.properties
  plugins/transforms/verticabulkloader/src/main/resources/org/apache/hop/pipeline/transforms/vertica/bulkloader/messages/messages_ko_KR.properties
  plugins/transforms/verticabulkloader/src/main/resources/org/apache/hop/pipeline/transforms/vertica/bulkloader/messages/messages_zh_CN.properties
  ui/src/main/resources/org/apache/hop/ui/core/dialog/messages/messages_fr_FR.properties
  ui/src/main/resources/org/apache/hop/ui/core/dialog/messages/messages_ja_JP.properties
  ui/src/main/resources/org/apache/hop/ui/core/dialog/messages/messages_zh_CN.properties
Labels: Hop Gui, Neo4j

#3890 Translations update from Weblate
  engine/src/main/resources/org/apache/hop/core/util/messages/messages_pt_BR.properties
  plugins/tech/cassandra/src/main/resources/org/apache/hop/databases/cassandra/util/messages/messages_zh_CN.properties
  plugins/transforms/mapping/src/main/resources/org/apache/hop/pipeline/transforms/output/messages/messages_zh_CN.properties
  ui/src/main/resources/org/apache/hop/ui/pipeline/dialog/messages/messages_es_AR.properties
  ui/src/main/resources/org/apache/hop/ui/pipeline/dialog/messages/messages_fr_FR.properties
  ui/src/main/resources/org/apache/hop/ui/pipeline/dialog/messages/messages_ja_JP.properties
  ui/src/main/resources/org/apache/hop/ui/pipeline/dialog/messages/messages_ko_KR.properties
  ui/src/main/resources/org/apache/hop/ui/pipeline/dialog/messages/messages_pt_BR.properties
  ui/src/main/resources/org/apache/hop/ui/pipeline/dialog/messages/messages_pt_PT.properties
  ui/src/main/resources/org/apache/hop/ui/pipeline/dialog/messages/messages_zh_CN.properties
Labels: Hop Gui

#3891 Translations update from Weblate
  plugins/misc/testing/src/main/resources/org/apache/hop/testing/gui/messages/messages_zh_CN.properties
  ui/src/main/resources/org/apache/hop/ui/hopgui/dialog/messages/messages_zh_CN.properties
Labels: Hop Gui

#3892 Translations update from Weblate
  engine/src/main/resources/org/apache/hop/pipeline/transform/messages/messages_fr_FR.properties
  engine/src/main/resources/org/apache/hop/pipeline/transform/messages/messages_ja_JP.properties
  engine/src/main/resources/org/apache/hop/pipeline/transform/messages/messages_zh_CN.properties
  ui/src/main/resources/org/apache/hop/ui/workflow/config/messages/messages_de_DE.properties
  ui/src/main/resources/org/apache/hop/ui/workflow/config/messages/messages_it_IT.properties
Labels: Hop Gui

#3896 textfile input improvement, GuiWidget improvement
  plugins/tech/google/src/main/resources/org/apache/hop/pipeline/transforms/googleanalytics/messages/messages_en_US.properties
  plugins/transforms/textfile/src/main/java/org/apache/hop/pipeline/transforms/fileinput/text/TextFileInputMeta.java
  ui/src/main/java/org/apache/hop/ui/core/gui/BaseGuiWidgets.java
Labels: Hop Gui

#3873 fix #3872
  integration-tests/transforms/0072-prepare-parquet-file.hpl
  integration-tests/transforms/0072-read-parquet-file.hpl
  integration-tests/transforms/main-0072-parquet-input-test-delete.hwf
  plugins/tech/parquet/src/main/java/org/apache/hop/parquet/transforms/input/ParquetInput.java
  plugins/tech/parquet/src/main/java/org/apache/hop/parquet/transforms/input/ParquetInputData.java
Labels: Integration Testing

#3876 Get Table Names - add support connection through variables #3835
  plugins/transforms/gettablenames/src/main/java/org/apache/hop/pipeline/transforms/gettablenames/GetTableNames.java
  plugins/transforms/gettablenames/src/main/java/org/apache/hop/pipeline/transforms/gettablenames/GetTableNamesDialog.java
  plugins/transforms/gettablenames/src/main/java/org/apache/hop/pipeline/transforms/gettablenames/GetTableNamesMeta.java
  plugins/transforms/gettablenames/src/main/resources/org/apache/hop/pipeline/transforms/gettablenames/messages/messages_en_US.properties
  plugins/transforms/gettablenames/src/main/resources/org/apache/hop/pipeline/transforms/gettablenames/messages/messages_es_AR.properties
  plugins/transforms/gettablenames/src/main/resources/org/apache/hop/pipeline/transforms/gettablenames/messages/messages_fr_FR.properties
  plugins/transforms/gettablenames/src/main/resources/org/apache/hop/pipeline/transforms/gettablenames/messages/messages_it_IT.properties
  plugins/transforms/gettablenames/src/main/resources/org/apache/hop/pipeline/transforms/gettablenames/messages/messages_ja_JP.properties
  plugins/transforms/gettablenames/src/main/resources/org/apache/hop/pipeline/transforms/gettablenames/messages/messages_ko_KR.properties
  plugins/transforms/gettablenames/src/main/resources/org/apache/hop/pipeline/transforms/gettablenames/messages/messages_zh_CN.properties
Labels: Transforms
