Repository apache/hop, pull requests merged in 2024-07, with the labels that each got.

#4088 Translations update from Weblate
  core/src/main/resources/org/apache/hop/core/database/messages/messages_zh_CN.properties
  core/src/main/resources/org/apache/hop/i18n/messages/messages_zh_CN.properties
  engine/src/main/resources/org/apache/hop/execution/local/messages/messages_zh_CN.properties
  engine/src/main/resources/org/apache/hop/execution/messages/messages_zh_CN.properties
  engine/src/main/resources/org/apache/hop/execution/sampler/plugins/dataprof/messages/messages_zh_CN.properties
  engine/src/main/resources/org/apache/hop/execution/sampler/plugins/messages/messages_zh_CN.properties
  plugins/actions/ftp/src/main/resources/org/apache/hop/workflow/actions/ftpput/messages/messages_zh_CN.properties
  plugins/actions/ftp/src/main/resources/org/apache/hop/workflow/actions/util/messages/messages_zh_CN.properties
  plugins/actions/getpop/src/main/resources/org/apache/hop/workflow/actions/getpop/messages/messages_zh_CN.properties
  plugins/actions/pipeline/src/main/resources/org/apache/hop/workflow/actions/pipeline/messages/messages_zh_CN.properties
  plugins/actions/snowflake/src/main/resources/org/apache/hop/workflow/actions/snowflake/messages/messages_zh_CN.properties
  plugins/actions/workflow/src/main/resources/org/apache/hop/workflow/actions/workflow/messages/messages_zh_CN.properties
  plugins/databases/access/src/main/resources/org/apache/hop/pipeline/transforms/accessoutput/messages/messages_zh_CN.properties
  plugins/engines/beam/src/main/resources/org/apache/hop/beam/engines/dataflow/messages/messages_zh_CN.properties
  plugins/engines/beam/src/main/resources/org/apache/hop/beam/engines/spark/messages/messages_zh_CN.properties
  plugins/engines/beam/src/main/resources/org/apache/hop/beam/gui/messages/messages_zh_CN.properties
  plugins/engines/beam/src/main/resources/org/apache/hop/beam/transforms/hivecatalog/messages/messages_zh_CN.properties
  plugins/engines/beam/src/main/resources/org/apache/hop/beam/transforms/io/messages/messages_zh_CN.properties
  plugins/engines/beam/src/main/resources/org/apache/hop/beam/transforms/kinesis/messages/messages_zh_CN.properties
  plugins/engines/beam/src/main/resources/org/apache/hop/beam/transforms/pubsub/messages/messages_zh_CN.properties
  plugins/misc/debug/src/main/resources/org/apache/hop/debug/action/messages/messages_zh_CN.properties
  plugins/misc/git/src/main/resources/org/apache/hop/git/messages/messages_zh_CN.properties
  plugins/tech/avro/src/main/resources/org/apache/hop/avro/transforms/avrooutput/messages/messages_zh_CN.properties
  plugins/tech/aws/src/main/resources/org/apache/hop/pipeline/transforms/aws/sns/messages/messages_zh_CN.properties
  plugins/tech/aws/src/main/resources/org/apache/hop/pipeline/transforms/aws/sqs/messages/messages_zh_CN.properties
  plugins/tech/aws/src/main/resources/org/apache/hop/pipeline/transforms/redshift/bulkloader/messages/messages_zh_CN.properties
  plugins/tech/azure/src/main/resources/org/apache/hop/vfs/azure/config/messages/messages_zh_CN.properties
  plugins/tech/cassandra/src/main/resources/org/apache/hop/pipeline/transforms/cassandraoutput/messages/messages_zh_CN.properties
  plugins/tech/cassandra/src/main/resources/org/apache/hop/pipeline/transforms/cassandrasstableoutput/writer/messages/messages_zh_CN.properties
  plugins/tech/google/src/main/resources/org/apache/hop/pipeline/transforms/googleanalytics/messages/messages_zh_CN.properties
  plugins/tech/google/src/main/resources/org/apache/hop/pipeline/transforms/googlesheets/messages/messages_zh_CN.properties
  plugins/tech/neo4j/src/main/resources/org/apache/hop/neo4j/execution/messages/messages_zh_CN.properties
  plugins/tech/neo4j/src/main/resources/org/apache/hop/neo4j/transforms/cypher/messages/messages_zh_CN.properties
  plugins/tech/neo4j/src/main/resources/org/apache/hop/neo4j/transforms/cypherbuilder/messages/messages_zh_CN.properties
  plugins/tech/neo4j/src/main/resources/org/apache/hop/neo4j/transforms/graph/messages/messages_zh_CN.properties
  plugins/transforms/clonerow/src/main/resources/org/apache/hop/pipeline/transforms/clonerow/messages/messages_zh_CN.properties
  plugins/transforms/dorisbulkloader/src/main/resources/org/apache/hop/pipeline/transforms/dorisbulkloader/messages/messages_zh_CN.properties
  plugins/transforms/drools/src/main/resources/org/apache/hop/pipeline/transforms/drools/messages/messages_zh_CN.properties
  plugins/transforms/execinfo/src/main/resources/org/apache/hop/pipeline/transforms/execinfo/messages/messages_zh_CN.properties
  plugins/transforms/fieldsplitter/src/main/resources/org/apache/hop/pipeline/transforms/fieldsplitter/messages/messages_zh_CN.properties
  plugins/transforms/filemetadata/src/main/resources/org/apache/hop/pipeline/transforms/filemetadata/messages/messages_zh_CN.properties
  plugins/transforms/formula/src/main/resources/org/apache/hop/pipeline/transforms/formula/messages/messages_zh_CN.properties
  plugins/transforms/jdbc-metadata/src/main/resources/org/apache/pipeline/transform/jdbcmetadata/messages/messages_zh_CN.properties
  plugins/transforms/json/src/main/resources/org/apache/hop/pipeline/transforms/jsonoutputenhanced/messages/messages_zh_CN.properties
  plugins/transforms/ldap/src/main/resources/org/apache/hop/pipeline/transforms/ldapinput/messages/messages_zh_CN.properties
  plugins/transforms/mailinput/src/main/resources/org/apache/hop/pipeline/transforms/mailinput/messages/messages_zh_CN.properties
  plugins/transforms/mongodb/src/main/resources/org/apache/hop/mongo/wrapper/messages/messages_zh_CN.properties
  plugins/transforms/mongodb/src/main/resources/org/apache/hop/pipeline/transforms/mongodbdelete/messages/messages_zh_CN.properties
  plugins/transforms/mongodb/src/main/resources/org/apache/hop/pipeline/transforms/mongodboutput/messages/messages_pt_BR.properties
  plugins/transforms/orabulkloader/src/main/resources/org/apache/hop/pipeline/transforms/orabulkloader/messages/messages_zh_CN.properties
  plugins/transforms/salesforce/src/main/resources/org/apache/hop/pipeline/transforms/salesforceinsert/messages/messages_zh_CN.properties
  plugins/transforms/salesforce/src/main/resources/org/apache/hop/pipeline/transforms/salesforceupsert/messages/messages_zh_CN.properties
  plugins/transforms/salesforce/src/main/resources/org/apache/hop/pipeline/transforms/salesforceutils/messages/messages_zh_CN.properties
  plugins/transforms/schemamapping/src/main/resources/org/apache/hop/pipeline/transforms/schemamapping/messages/messages_zh_CN.properties
  plugins/transforms/script/src/main/resources/org/apache/hop/pipeline/transforms/script/messages/messages_zh_CN.properties
  plugins/transforms/selectvalues/src/main/resources/org/apache/hop/pipeline/transforms/selectvalues/messages/messages_zh_CN.properties
  plugins/transforms/splitfieldtorows/src/main/resources/org/apache/hop/pipeline/transforms/splitfieldtorows/messages/messages_zh_CN.properties
  plugins/transforms/validator/src/main/resources/org/apache/hop/pipeline/transforms/validator/messages/messages_zh_CN.properties
  plugins/transforms/xml/src/main/resources/org/apache/hop/pipeline/transforms/xml/xmlinputstream/messages/messages_zh_CN.properties
  ui/src/main/resources/org/apache/hop/ui/core/dialog/messages/messages_zh_CN.properties
Labels: Hop Gui, Neo4j

#4093 Action AS400Command has a bad dependency to the JT400 library #4085
  assemblies/plugins/actions/as400command/src/assembly/assembly.xml
  assemblies/plugins/actions/as400command/src/main/resources/dependencies.xml
  plugins/actions/as400command/src/main/java/org/apache/hop/workflow/actions/as400command/ActionAs400Command.java
Labels: Actions

#4079 Sort Rows XML cleanup #1933
  integration-tests/sort_and_unique/0003-sort-order-ascending-case-sensitive-unique.hpl
  integration-tests/sort_and_unique/0004-sort-order-ascending-case-insensitive-unique.hpl
  integration-tests/sort_and_unique/main-0003-sort-order-ascending-case-sensitive-unique.hwf
  integration-tests/sort_and_unique/main-0004-sort-order-ascending-case-insensitive-unique.hwf
  plugins/transforms/json/src/test/java/org/apache/hop/TestUtilities.java
  plugins/transforms/sort/src/main/java/org/apache/hop/pipeline/transforms/sort/SortRows.java
  plugins/transforms/sort/src/main/java/org/apache/hop/pipeline/transforms/sort/SortRowsDialog.java
  plugins/transforms/sort/src/main/java/org/apache/hop/pipeline/transforms/sort/SortRowsField.java
  plugins/transforms/sort/src/main/java/org/apache/hop/pipeline/transforms/sort/SortRowsMeta.java
  plugins/transforms/sort/src/test/java/org/apache/hop/pipeline/transforms/sort/SortRowsMetaInjectionTest.java
  plugins/transforms/sort/src/test/java/org/apache/hop/pipeline/transforms/sort/SortRowsMetaTest.java
  plugins/transforms/streamschemamerge/src/test/java/org/apache/hop/pipeline/transforms/streamschemamerge/TestUtilities.java
Labels: Integration Testing

#4096 calculator doc updates. fixes #3545
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/calculator.adoc
Labels: Documentation

#4098 various minor doc updates. fixes #4097
  docs/hop-dev-manual/modules/ROOT/pages/hopweb/index.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/cratedb-bulkloader.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/filterrows.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/formula.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/getvariable.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/writetolog.adoc
  docs/hop-user-manual/modules/ROOT/pages/workflow/actions/setvariables.adoc
Labels: Documentation

#4101 Windows batch enhancement #4100
  assemblies/static/src/main/resources/hop-conf.bat
  assemblies/static/src/main/resources/hop-gui.bat
  assemblies/static/src/main/resources/hop-run.bat
  assemblies/static/src/main/resources/hop-search.bat
  assemblies/static/src/main/resources/hop-server.bat
Labels: Hop Config, Hop Gui, Hop Run, Hop Server

#4113 remove unused plugins and inherit plugins from Apache POM, fixes #4103
  assemblies/pom.xml
  core/pom.xml
  engine-beam/pom.xml
  engine/pom.xml
  plugins/actions/pom.xml
  plugins/databases/pom.xml
  plugins/engines/pom.xml
  plugins/misc/pom.xml
  plugins/pom.xml
  plugins/transforms/pom.xml
  plugins/valuetypes/pom.xml
  pom.xml
  rap/pom.xml
  rcp/pom.xml
  rest/pom.xml
Labels: Beam, Hop Gui

#4043 CrateDB numbers conversion - fixes ClassCastException
  integration-tests/cratedb/0003-http-endpoint-double-precision-VERIFY.hpl
  integration-tests/cratedb/0003-http-endpoint-double-precision.hpl
  integration-tests/cratedb/datasets/housing.csv
  integration-tests/cratedb/main-0003-http-endpoint-double-precision.hwf
  integration-tests/cratedb/metadata/unit-test/0003-http-endpoint-double-precision UNIT.json
  integration-tests/cratedb/metadata/unit-test/0003-http-endpoint-double-precision-VERIFY UNIT.json
  plugins/transforms/cratedbbulkloader/pom.xml
  plugins/transforms/cratedbbulkloader/src/main/java/org/apache/hop/pipeline/transforms/cratedbbulkloader/CrateDBBulkLoader.java
  plugins/transforms/cratedbbulkloader/src/main/java/org/apache/hop/pipeline/transforms/cratedbbulkloader/CrateDBBulkLoaderData.java
  plugins/transforms/cratedbbulkloader/src/test/java/org/apache/hop/pipeline/transforms/cratedbbulkloader/http/CrateDBBulkImportTest.java
  plugins/transforms/cratedbbulkloader/src/test/java/org/apache/hop/pipeline/transforms/cratedbbulkloader/http/HttpClientBulkImportResponseTest.java
Labels: Integration Testing

#4140 Fix SnowflakeWarehouseManager action documentation url #4139
  plugins/actions/snowflake/src/main/java/org/apache/hop/workflow/actions/snowflake/WarehouseManager.java
Labels: Actions

#4130 Fix readme.txt
  assemblies/static/src/main/resources/README.txt
Labels: Documentation

#4126 Table exists action throws an error when added to a workflow #4121
  plugins/actions/tableexists/src/main/java/org/apache/hop/workflow/actions/tableexists/ActionTableExists.java
  plugins/actions/tableexists/src/main/java/org/apache/hop/workflow/actions/tableexists/ActionTableExistsDialog.java
  plugins/actions/tableexists/src/main/resources/org/apache/hop/workflow/actions/tableexists/messages/messages_de_DE.properties
  plugins/actions/tableexists/src/main/resources/org/apache/hop/workflow/actions/tableexists/messages/messages_en_US.properties
  plugins/actions/tableexists/src/main/resources/org/apache/hop/workflow/actions/tableexists/messages/messages_es_AR.properties
  plugins/actions/tableexists/src/main/resources/org/apache/hop/workflow/actions/tableexists/messages/messages_fr_FR.properties
  plugins/actions/tableexists/src/main/resources/org/apache/hop/workflow/actions/tableexists/messages/messages_it_IT.properties
  plugins/actions/tableexists/src/main/resources/org/apache/hop/workflow/actions/tableexists/messages/messages_ja_JP.properties
  plugins/actions/tableexists/src/main/resources/org/apache/hop/workflow/actions/tableexists/messages/messages_ko_KR.properties
  plugins/actions/tableexists/src/main/resources/org/apache/hop/workflow/actions/tableexists/messages/messages_nl_NL.properties
  plugins/actions/tableexists/src/main/resources/org/apache/hop/workflow/actions/tableexists/messages/messages_pt_BR.properties
  plugins/actions/tableexists/src/main/resources/org/apache/hop/workflow/actions/tableexists/messages/messages_zh_CN.properties
Labels: Actions

#4133 updated hop web status information. fixes #4132
  docs/hop-dev-manual/modules/ROOT/pages/hopweb/index.adoc
  docs/hop-user-manual/modules/ROOT/pages/hop-gui/hop-web.adoc
Labels: Documentation

#4170 [DOC] add hex info for string replacement
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/replacestring.adoc
  docs/hop-user-manual/modules/ROOT/pages/variables.adoc
Labels: Documentation

#4148 Small cleanup Mapping transform dialog #4147
  plugins/transforms/mapping/src/main/resources/org/apache/hop/pipeline/transforms/mapping/messages/messages_de_DE.properties
  plugins/transforms/mapping/src/main/resources/org/apache/hop/pipeline/transforms/mapping/messages/messages_en_US.properties
  plugins/transforms/mapping/src/main/resources/org/apache/hop/pipeline/transforms/mapping/messages/messages_fr_FR.properties
  plugins/transforms/mapping/src/main/resources/org/apache/hop/pipeline/transforms/mapping/messages/messages_it_IT.properties
Labels: Transforms

#4163 Dimension Lookup & Update Transform SQL Button NPE #4153
  plugins/transforms/dimensionlookup/src/main/java/org/apache/hop/pipeline/transforms/dimensionlookup/DimensionLookupMeta.java
Labels: Transforms

#4142 JSON Output -> Compatibility mode flag doesnt save #3757
  plugins/transforms/json/src/main/java/org/apache/hop/pipeline/transforms/jsonoutput/JsonOutputMeta.java
  plugins/transforms/json/src/main/resources/org/apache/hop/pipeline/transforms/jsonoutput/messages/messages_en_US.properties
Labels: Transforms

#4171 [DOC] fix references in docs
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/replacestring.adoc
  docs/hop-user-manual/modules/ROOT/pages/variables.adoc
Labels: Documentation

#4164 Redundant delete button in Copy Files action #4149
  plugins/actions/copyfiles/src/main/java/org/apache/hop/workflow/actions/copyfiles/ActionCopyFilesDialog.java
Labels: Actions

#4159 Sonar issues about deprecated methods #4158
  core/src/main/java/org/apache/hop/core/logging/LogLevel.java
  engine/src/main/java/org/apache/hop/config/HopConfig.java
  engine/src/main/java/org/apache/hop/pipeline/PipelineExecutionConfiguration.java
  engine/src/main/java/org/apache/hop/run/HopRun.java
  engine/src/main/java/org/apache/hop/workflow/Workflow.java
  engine/src/main/java/org/apache/hop/workflow/WorkflowExecutionConfiguration.java
  engine/src/main/java/org/apache/hop/workflow/WorkflowPainter.java
  engine/src/main/java/org/apache/hop/www/HopServer.java
  plugins/engines/beam/src/main/java/org/apache/hop/beam/pipeline/HopPipelineMetaToBeamPipelineConverter.java
  plugins/misc/debug/src/main/java/org/apache/hop/debug/util/DebugLevelUtil.java
  plugins/tech/neo4j/src/main/java/org/apache/hop/neo4j/execution/NeoExecutionInfoLocation.java
  rest/src/main/java/org/apache/hop/rest/Hop.java
  ui/src/main/java/org/apache/hop/ui/hopgui/file/workflow/HopGuiWorkflowGraph.java
  ui/src/main/java/org/apache/hop/ui/hopgui/file/workflow/delegates/HopGuiWorkflowActionDelegate.java
Labels: Hop Gui, Neo4j

#4165 Deprecate ActionBase.getUsedDatabaseConnections method #2041
  engine/src/main/java/org/apache/hop/workflow/action/ActionBase.java
  plugins/actions/checkdbconnection/src/main/java/org/apache/hop/workflow/actions/checkdbconnection/ActionCheckDbConnections.java
  plugins/actions/columnsexist/src/main/java/org/apache/hop/workflow/actions/columnsexist/ActionColumnsExist.java
  plugins/actions/evaluatetablecontent/src/main/java/org/apache/hop/workflow/actions/evaluatetablecontent/ActionEvalTableContent.java
  plugins/actions/mssqlbulkload/src/main/java/org/apache/hop/workflow/actions/mssqlbulkload/ActionMssqlBulkLoad.java
  plugins/actions/mysqlbulkfile/src/main/java/org/apache/hop/workflow/actions/mysqlbulkfile/ActionMysqlBulkFile.java
  plugins/actions/mysqlbulkload/src/main/java/org/apache/hop/workflow/actions/mysqlbulkload/ActionMysqlBulkLoad.java
  plugins/actions/sql/src/main/java/org/apache/hop/workflow/actions/sql/ActionSql.java
  plugins/actions/waitforsql/src/main/java/org/apache/hop/workflow/actions/waitforsql/ActionWaitForSql.java
Labels: Actions

#4152 Rename org.apache.hop.server.HopServer to HopServerMeta #4150
  engine/src/main/java/org/apache/hop/base/AbstractMeta.java
  engine/src/main/java/org/apache/hop/core/search/HopServerSearchableAnalyser.java
  engine/src/main/java/org/apache/hop/execution/remote/RemoteExecutionInfoLocation.java
  engine/src/main/java/org/apache/hop/pipeline/engines/remote/HopServerTypeMetadata.java
  engine/src/main/java/org/apache/hop/pipeline/engines/remote/RemotePipelineEngine.java
  engine/src/main/java/org/apache/hop/run/HopRun.java
  engine/src/main/java/org/apache/hop/server/HopServerMeta.java
  engine/src/main/java/org/apache/hop/workflow/engines/remote/HopServerTypeMetadata.java
  engine/src/main/java/org/apache/hop/workflow/engines/remote/RemoteWorkflowEngine.java
  engine/src/main/java/org/apache/hop/www/HopServer.java
  engine/src/main/java/org/apache/hop/www/HopServerConfig.java
  engine/src/main/java/org/apache/hop/www/HopServerSingleton.java
  engine/src/main/java/org/apache/hop/www/WebServer.java
  engine/src/test/java/org/apache/hop/core/metadata/SerializableMetadataProviderTest.java
  engine/src/test/java/org/apache/hop/server/HopServerTest.java
  engine/src/test/java/org/apache/hop/www/WebServerTest.java
  plugins/transforms/serverstatus/src/main/java/org/apache/hop/pipeline/transforms/serverstatus/GetServerStatus.java
  ui/src/main/java/org/apache/hop/ui/hopgui/HopGui.java
  ui/src/main/java/org/apache/hop/ui/hopgui/file/workflow/delegates/HopGuiWorkflowRunDelegate.java
  ui/src/main/java/org/apache/hop/ui/server/HopServerEditor.java
Labels: Hop Gui, Hop Server, Metadata
