Repository apache/hop, pull requests merged in 2024-10, with the labels that each got.

#4379 [RELEASE] update doc version, fix pom, update release guide
  docs/hop-dev-manual/antora.yml
  docs/hop-dev-manual/modules/ROOT/pages/apache-release/creating-a-release.adoc
  docs/hop-tech-manual/antora.yml
  docs/hop-user-manual/antora.yml
  pom.xml
Labels: Documentation

#4333 added right-click menu option. #4324
  docs/hop-user-manual/modules/ROOT/assets/images/hop-gui/hop-gui-file-explorer-right-menu.png
  docs/hop-user-manual/modules/ROOT/assets/images/hop-gui/perspective-explorer-git-toolbar-operations.png
  docs/hop-user-manual/modules/ROOT/assets/images/hop-gui/perspective-explorer-toolbar-items.png
  docs/hop-user-manual/modules/ROOT/pages/hop-gui/perspective-file-explorer.adoc
Labels: Documentation

#4372 HopGuiWorkflowGridDelegate does not stop timer auto refresh #4371
  engine/src/main/java/org/apache/hop/workflow/Workflow.java
  engine/src/main/resources/org/apache/hop/workflow/messages/messages_en_US.properties
  ui/src/main/java/org/apache/hop/ui/hopgui/file/workflow/HopGuiWorkflowGraph.java
  ui/src/main/java/org/apache/hop/ui/hopgui/file/workflow/delegates/HopGuiWorkflowGridDelegate.java
  ui/src/main/java/org/apache/hop/ui/hopgui/perspective/dataorch/HopDataOrchestrationPerspective.java
Labels: Hop Gui

#4385 MetaInject step not correctly imported from Kettle #4384
  plugins/misc/import/src/main/java/org/apache/hop/imports/kettle/KettleImport.java
Labels: Import

#4390 updated git integration images. #4327
  docs/hop-user-manual/modules/ROOT/assets/images/hop-gui/hop-gui-file-explorer-right-menu.png
  docs/hop-user-manual/modules/ROOT/assets/images/hop-gui/perspective-explorer-git-toolbar-operations.png
  docs/hop-user-manual/modules/ROOT/assets/images/hop-gui/perspective-explorer-toolbar-items.png
Labels: Documentation

#4399 Update Release documentation
  docs/hop-dev-manual/modules/ROOT/pages/apache-release/creating-a-release.adoc
  docs/hop-dev-manual/modules/ROOT/pages/apache-release/promoting-a-release.adoc
Labels: Documentation

#4409 fixed missing translations in context dialog, fixes #4403
  ui/src/main/java/org/apache/hop/ui/hopgui/context/metadata/MetadataContextHandler.java
Labels: Hop Gui

#4428 Refresh explorer when switching perspective and git pull, fixes #3619
  plugins/misc/git/src/main/java/org/apache/hop/git/GitGuiPlugin.java
  plugins/transforms/ldap/src/main/java/org/apache/hop/pipeline/transforms/ldapinput/LdapProtocol.java
  ui/src/main/java/org/apache/hop/ui/hopgui/perspective/explorer/ExplorerPerspective.java
Labels: Hop Gui

#4425 Add file format options to MS Access Output #4424
  plugins/databases/access/src/main/java/org/apache/hop/pipeline/transforms/accessoutput/AccessFileFormat.java
  plugins/databases/access/src/main/java/org/apache/hop/pipeline/transforms/accessoutput/AccessOutput.java
  plugins/databases/access/src/main/java/org/apache/hop/pipeline/transforms/accessoutput/AccessOutputDialog.java
  plugins/databases/access/src/main/java/org/apache/hop/pipeline/transforms/accessoutput/AccessOutputMeta.java
  plugins/databases/access/src/main/resources/org/apache/hop/pipeline/transforms/accessoutput/messages/messages_de_DE.properties
  plugins/databases/access/src/main/resources/org/apache/hop/pipeline/transforms/accessoutput/messages/messages_en_US.properties
  plugins/databases/access/src/main/resources/org/apache/hop/pipeline/transforms/accessoutput/messages/messages_es_ES.properties
  plugins/databases/access/src/main/resources/org/apache/hop/pipeline/transforms/accessoutput/messages/messages_fr_FR.properties
  plugins/databases/access/src/main/resources/org/apache/hop/pipeline/transforms/accessoutput/messages/messages_it_IT.properties
  plugins/databases/access/src/main/resources/org/apache/hop/pipeline/transforms/accessoutput/messages/messages_ko_KR.properties
  plugins/databases/access/src/main/resources/org/apache/hop/pipeline/transforms/accessoutput/messages/messages_pt_BR.properties
  plugins/databases/access/src/main/resources/org/apache/hop/pipeline/transforms/accessoutput/messages/messages_zh_CN.properties
Labels: Transforms

#4435 Translations update from Weblate
  plugins/actions/copyfiles/src/main/resources/org/apache/hop/workflow/actions/copyfiles/messages/messages_fr_FR.properties
  plugins/actions/copymoveresultfilenames/src/main/resources/org/apache/hop/workflow/actions/copymoveresultfilenames/messages/messages_fr_FR.properties
  plugins/actions/deletefiles/src/main/resources/org/apache/hop/workflow/actions/deletefiles/messages/messages_fr_FR.properties
  plugins/actions/deleteresultfilenames/src/main/resources/org/apache/hop/workflow/actions/deleteresultfilenames/messages/messages_fr_FR.properties
  plugins/actions/folderscompare/src/main/resources/org/apache/hop/workflow/actions/folderscompare/messages/messages_fr_FR.properties
  plugins/actions/movefiles/src/main/resources/org/apache/hop/workflow/actions/movefiles/messages/messages_fr_FR.properties
  plugins/actions/pgpfiles/src/main/resources/org/apache/hop/workflow/actions/pgpdecryptfiles/messages/messages_fr_FR.properties
  plugins/actions/pgpfiles/src/main/resources/org/apache/hop/workflow/actions/pgpencryptfiles/messages/messages_fr_FR.properties
  plugins/actions/ping/src/main/resources/org/apache/hop/workflow/actions/ping/messages/messages_fr_FR.properties
  plugins/actions/telnet/src/main/resources/org/apache/hop/workflow/actions/telnet/messages/messages_fr_FR.properties
  plugins/actions/zipfile/src/main/resources/org/apache/hop/workflow/actions/zipfile/messages/messages_fr_FR.properties
  plugins/databases/access/src/main/resources/org/apache/hop/pipeline/transforms/accessoutput/messages/messages_de_DE.properties
  plugins/databases/access/src/main/resources/org/apache/hop/pipeline/transforms/accessoutput/messages/messages_fr_FR.properties
  plugins/databases/access/src/main/resources/org/apache/hop/pipeline/transforms/accessoutput/messages/messages_it_IT.properties
  plugins/databases/access/src/main/resources/org/apache/hop/pipeline/transforms/accessoutput/messages/messages_ko_KR.properties
  plugins/databases/access/src/main/resources/org/apache/hop/pipeline/transforms/accessoutput/messages/messages_pt_BR.properties
  plugins/databases/access/src/main/resources/org/apache/hop/pipeline/transforms/accessoutput/messages/messages_zh_CN.properties
  plugins/tech/avro/src/main/resources/org/apache/hop/avro/transforms/avrooutput/messages/messages_fr_FR.properties
  plugins/tech/aws/src/main/resources/org/apache/hop/pipeline/transforms/redshift/bulkloader/messages/messages_fr_FR.properties
  plugins/tech/neo4j/src/main/resources/org/apache/hop/neo4j/transforms/loginfo/messages/messages_fr_FR.properties
  plugins/transforms/cratedbbulkloader/src/main/resources/org/apache/hop/pipeline/transforms/cratedbbulkloader/messages/messages_fr_FR.properties
  plugins/transforms/databasejoin/src/main/resources/org/apache/hop/pipeline/transforms/databasejoin/messages/messages_fr_FR.properties
  plugins/transforms/delete/src/main/resources/org/apache/hop/pipeline/transforms/delete/messages/messages_fr_FR.properties
  plugins/transforms/excel/src/main/resources/org/apache/hop/pipeline/transforms/excelinput/messages/messages_fr_FR.properties
  plugins/transforms/getfilesrowcount/src/main/resources/org/apache/hop/pipeline/transforms/getfilesrowcount/messages/messages_fr_FR.properties
  plugins/transforms/httppost/src/main/resources/org/apache/hop/pipeline/transforms/httppost/messages/messages_fr_FR.properties
  plugins/transforms/insertupdate/src/main/resources/org/apache/hop/pipeline/transforms/insertupdate/messages/messages_fr_FR.properties
  plugins/transforms/json/src/main/resources/org/apache/hop/pipeline/transforms/jsoninput/messages/messages_fr_FR.properties
  plugins/transforms/json/src/main/resources/org/apache/hop/pipeline/transforms/jsonoutput/messages/messages_fr_FR.properties
  plugins/transforms/json/src/main/resources/org/apache/hop/pipeline/transforms/jsonoutputenhanced/messages/messages_fr_FR.properties
  plugins/transforms/ldap/src/main/resources/org/apache/hop/pipeline/transforms/ldapinput/messages/messages_fr_FR.properties
  plugins/transforms/ldap/src/main/resources/org/apache/hop/pipeline/transforms/ldapoutput/messages/messages_fr_FR.properties
  plugins/transforms/loadfileinput/src/main/resources/org/apache/hop/pipeline/transforms/loadfileinput/messages/messages_fr_FR.properties
  plugins/transforms/orabulkloader/src/main/resources/org/apache/hop/pipeline/transforms/orabulkloader/messages/messages_fr_FR.properties
  plugins/transforms/pgbulkloader/src/main/resources/org/apache/hop/pipeline/transforms/pgbulkloader/messages/messages_fr_FR.properties
  plugins/transforms/processfiles/src/main/resources/org/apache/hop/pipeline/transforms/processfiles/messages/messages_fr_FR.properties
  plugins/transforms/propertyinput/src/main/resources/org/apache/hop/pipeline/transforms/propertyinput/messages/messages_fr_FR.properties
  plugins/transforms/script/src/main/resources/org/apache/hop/pipeline/transforms/script/messages/messages_fr_FR.properties
  plugins/transforms/systemdata/src/main/resources/org/apache/hop/pipeline/transforms/systemdata/messages/messages_fr_FR.properties
  plugins/transforms/tableoutput/src/main/resources/org/apache/hop/pipeline/transforms/tableoutput/messages/messages_fr_FR.properties
  plugins/transforms/textfile/src/main/resources/org/apache/hop/pipeline/transforms/fileinput/messages/messages_fr_FR.properties
  plugins/transforms/textfile/src/main/resources/org/apache/hop/pipeline/transforms/fileinput/text/messages/messages_fr_FR.properties
  plugins/transforms/tika/src/main/resources/org/apache/hop/pipeline/transforms/tika/messages/messages_fr_FR.properties
  plugins/transforms/tokenreplacement/src/main/resources/org/apache/hop/pipeline/transforms/tokenreplacement/messages/messages_fr_FR.properties
  plugins/transforms/verticabulkloader/src/main/resources/org/apache/hop/pipeline/transforms/vertica/bulkloader/messages/messages_fr_FR.properties
  plugins/transforms/xml/src/main/resources/org/apache/hop/pipeline/transforms/xml/getxmldata/messages/messages_fr_FR.properties
  plugins/transforms/yamlinput/src/main/resources/org/apache/hop/pipeline/transforms/yamlinput/messages/messages_fr_FR.properties
  ui/src/main/resources/org/apache/hop/ui/hopgui/dialog/messages/messages_fr_FR.properties
  ui/src/main/resources/org/apache/hop/ui/hopgui/file/pipeline/messages/messages_fr_FR.properties
  ui/src/main/resources/org/apache/hop/ui/hopgui/file/workflow/messages/messages_fr_FR.properties
Labels: Hop Gui, Neo4j

#4421 removed kill references for hop server from docs and CLI. fixes #4420
  docs/hop-user-manual/modules/ROOT/pages/hop-server/index.adoc
  engine/src/main/java/org/apache/hop/www/HopServer.java
Labels: Documentation

#4434 Git improvements, #2634
  plugins/misc/git/src/main/java/org/apache/hop/git/GitGuiPlugin.java
  plugins/misc/git/src/main/java/org/apache/hop/git/HopDiff.java
  plugins/misc/git/src/main/java/org/apache/hop/git/info/GitInfoExplorerFileTypeHandler.java
  plugins/misc/git/src/main/java/org/apache/hop/git/model/UIGit.java
  plugins/misc/git/src/main/java/org/apache/hop/git/model/VCS.java
  plugins/misc/git/src/main/resources/org/apache/hop/git/messages/messages_en_US.properties
  plugins/misc/git/src/test/java/org/apache/hop/git/model/UIGitTest.java
  ui/src/main/java/org/apache/hop/ui/core/dialog/EnterUsernamePasswordDialog.java
  ui/src/main/java/org/apache/hop/ui/hopgui/perspective/explorer/ExplorerPerspective.java
Labels: Hop Gui

#4443 updated java version requirement. #4437
  docs/hop-user-manual/modules/ROOT/pages/getting-started/hop-download-install.adoc
Labels: Documentation

#4446 Fix layout for Detect language transform #4444
  docs/hop-user-manual/modules/ROOT/assets/images/transforms/icons/detectlanguage.svg
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/detectlanguage.adoc
  plugins/transforms/detectlanguage/src/main/java/org/apache/hop/pipeline/transforms/language/DetectLanguageDialog.java
  plugins/transforms/detectlanguage/src/main/java/org/apache/hop/pipeline/transforms/language/DetectLanguageMeta.java
  plugins/transforms/detectlanguage/src/main/resources/org/apache/hop/pipeline/transforms/language/messages/messages_en_US.properties
Labels: Documentation, Transforms

#4438 Fields tab in Text File Output transform (UI Bug) #4436
  assemblies/debug/pom.xml
  plugins/transforms/textfile/src/main/java/org/apache/hop/pipeline/transforms/textfileoutput/TextFileOutputDialog.java
Labels: Transforms

#4461 Fix layout transform Rule Accumulator and Executor #4457
  plugins/transforms/drools/src/main/java/org/apache/hop/pipeline/transforms/drools/RulesAccumulatorDialog.java
  plugins/transforms/drools/src/main/java/org/apache/hop/pipeline/transforms/drools/RulesExecutorDialog.java
Labels: Transforms

#4452 added internal vaiables pipelines workflows copynr. #2642
  docs/hop-user-manual/modules/ROOT/pages/plugins/plugins.adoc
  docs/hop-user-manual/modules/ROOT/pages/variables.adoc
Labels: Documentation

#4423 4422 Added information about how to establish a SSL cert based service acc…
  docs/hop-user-manual/modules/ROOT/assets/images/database/databases/snowflake/bcpkix.png
  docs/hop-user-manual/modules/ROOT/assets/images/database/databases/snowflake/bcprov.png
  docs/hop-user-manual/modules/ROOT/assets/images/database/databases/snowflake/hop-connection-general-tab.png
  docs/hop-user-manual/modules/ROOT/assets/images/database/databases/snowflake/hop-connection-options-tab.png
  docs/hop-user-manual/modules/ROOT/assets/images/database/databases/snowflake/private_key_file_in_hop_root.png
  docs/hop-user-manual/modules/ROOT/assets/images/database/databases/snowflake/snowflake_account_url.png
  docs/hop-user-manual/modules/ROOT/assets/images/database/databases/snowflake/snowflake_and_bc_jars.png
  docs/hop-user-manual/modules/ROOT/assets/images/database/databases/snowflake/snowflake_service_user_create.png
  docs/hop-user-manual/modules/ROOT/pages/database/databases/snowflake.adoc
Labels: Documentation

#4414 Integrate with and prompt various language models through popular platforms (OpenAI, Anthropic, Hugging Face, Mistral, Ollama) #4396
  assemblies/plugins/pom.xml
  docs/hop-user-manual/modules/ROOT/assets/images/transforms/icons/languagemodelchat.svg
  docs/hop-user-manual/modules/ROOT/nav.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/languagemodelchat.adoc
  plugins/transforms/languagemodelchat/pom.xml
  plugins/transforms/languagemodelchat/src/assembly/assembly.xml
  plugins/transforms/languagemodelchat/src/main/java/dev/langchain4j/model/huggingface/DedicatedEndpointFactoryCreator.java
  plugins/transforms/languagemodelchat/src/main/java/dev/langchain4j/model/huggingface/DedicatedEndpointHuggingFaceApi.java
  plugins/transforms/languagemodelchat/src/main/java/dev/langchain4j/model/huggingface/DedicatedEndpointHuggingFaceChatModel.java
  plugins/transforms/languagemodelchat/src/main/java/dev/langchain4j/model/huggingface/DedicatedEndpointHuggingFaceClient.java
  plugins/transforms/languagemodelchat/src/main/java/org/apache/hop/pipeline/transforms/languagemodelchat/LanguageModelChat.java
  plugins/transforms/languagemodelchat/src/main/java/org/apache/hop/pipeline/transforms/languagemodelchat/LanguageModelChatData.java
  plugins/transforms/languagemodelchat/src/main/java/org/apache/hop/pipeline/transforms/languagemodelchat/LanguageModelChatDialog.java
  plugins/transforms/languagemodelchat/src/main/java/org/apache/hop/pipeline/transforms/languagemodelchat/LanguageModelChatMeta.java
  plugins/transforms/languagemodelchat/src/main/java/org/apache/hop/pipeline/transforms/languagemodelchat/internals/BaseMessage.java
  plugins/transforms/languagemodelchat/src/main/java/org/apache/hop/pipeline/transforms/languagemodelchat/internals/LanguageModel.java
  plugins/transforms/languagemodelchat/src/main/java/org/apache/hop/pipeline/transforms/languagemodelchat/internals/LanguageModelChatModelName.java
  plugins/transforms/languagemodelchat/src/main/java/org/apache/hop/pipeline/transforms/languagemodelchat/internals/LanguageModelFacade.java
  plugins/transforms/languagemodelchat/src/main/java/org/apache/hop/pipeline/transforms/languagemodelchat/internals/Message.java
  plugins/transforms/languagemodelchat/src/main/java/org/apache/hop/pipeline/transforms/languagemodelchat/internals/ModelType.java
  plugins/transforms/languagemodelchat/src/main/java/org/apache/hop/pipeline/transforms/languagemodelchat/internals/ui/CancelButton.java
  plugins/transforms/languagemodelchat/src/main/java/org/apache/hop/pipeline/transforms/languagemodelchat/internals/ui/CompositeParameters.java
  plugins/transforms/languagemodelchat/src/main/java/org/apache/hop/pipeline/transforms/languagemodelchat/internals/ui/FormDataBuilder.java
  plugins/transforms/languagemodelchat/src/main/java/org/apache/hop/pipeline/transforms/languagemodelchat/internals/ui/GeneralSettingsComposite.java
  plugins/transforms/languagemodelchat/src/main/java/org/apache/hop/pipeline/transforms/languagemodelchat/internals/ui/IDialogComposite.java
  plugins/transforms/languagemodelchat/src/main/java/org/apache/hop/pipeline/transforms/languagemodelchat/internals/ui/OkButton.java
  plugins/transforms/languagemodelchat/src/main/java/org/apache/hop/pipeline/transforms/languagemodelchat/internals/ui/PopulateInputsAdapter.java
  plugins/transforms/languagemodelchat/src/main/java/org/apache/hop/pipeline/transforms/languagemodelchat/internals/ui/TransformNameComposite.java
  plugins/transforms/languagemodelchat/src/main/java/org/apache/hop/pipeline/transforms/languagemodelchat/internals/ui/i18nUtil.java
  plugins/transforms/languagemodelchat/src/main/java/org/apache/hop/pipeline/transforms/languagemodelchat/internals/ui/models/AbstractModelComposite.java
  plugins/transforms/languagemodelchat/src/main/java/org/apache/hop/pipeline/transforms/languagemodelchat/internals/ui/models/AnthropicComposite.java
  plugins/transforms/languagemodelchat/src/main/java/org/apache/hop/pipeline/transforms/languagemodelchat/internals/ui/models/HuggingFaceComposite.java
  plugins/transforms/languagemodelchat/src/main/java/org/apache/hop/pipeline/transforms/languagemodelchat/internals/ui/models/IModelComposite.java
  plugins/transforms/languagemodelchat/src/main/java/org/apache/hop/pipeline/transforms/languagemodelchat/internals/ui/models/MistralComposite.java
  plugins/transforms/languagemodelchat/src/main/java/org/apache/hop/pipeline/transforms/languagemodelchat/internals/ui/models/OllamaComposite.java
  plugins/transforms/languagemodelchat/src/main/java/org/apache/hop/pipeline/transforms/languagemodelchat/internals/ui/models/OpenAiComposite.java
  plugins/transforms/languagemodelchat/src/main/resources/languagemodelchat.svg
  plugins/transforms/languagemodelchat/src/main/resources/org/apache/hop/pipeline/transforms/languagemodelchat/messages/messages_en_US.properties
  plugins/transforms/languagemodelchat/src/main/resources/version.xml
  plugins/transforms/languagemodelchat/src/main/samples/transforms/languagemodelchat/fact-checking/bespoke-minicheck.hpl
  plugins/transforms/languagemodelchat/src/main/samples/transforms/languagemodelchat/zero-shot/anthropic.hpl
  plugins/transforms/languagemodelchat/src/main/samples/transforms/languagemodelchat/zero-shot/huggingface.hpl
  plugins/transforms/languagemodelchat/src/main/samples/transforms/languagemodelchat/zero-shot/mistral.hpl
  plugins/transforms/languagemodelchat/src/main/samples/transforms/languagemodelchat/zero-shot/ollama.hpl
  plugins/transforms/languagemodelchat/src/main/samples/transforms/languagemodelchat/zero-shot/openai.hpl
  plugins/transforms/languagemodelchat/src/test/java/org/apache/hop/pipeline/transforms/languagemodelchat/LanguageModelChatMetaTest.java
  plugins/transforms/pom.xml
Labels: Documentation

#4465 Add doc link in nav
  docs/hop-user-manual/modules/ROOT/nav.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/detectlanguage.adoc
Labels: Documentation

#4445 removed duplicate vfs mentions. #4381
  docs/hop-user-manual/modules/ROOT/nav.adoc
  docs/hop-user-manual/modules/ROOT/pages/plugins/plugins.adoc
Labels: Documentation

#4474 Remove some duplicate libraries
  integration-tests/xml/main-0001-xml-join-test.hwf
  lib/pom.xml
  plugins/actions/xml/pom.xml
  plugins/actions/xml/src/assembly/assembly.xml
  plugins/engines/beam/pom.xml
  plugins/engines/beam/src/assembly/assembly.xml
  plugins/tech/azure/pom.xml
  plugins/tech/azure/src/assembly/assembly.xml
  plugins/tech/cassandra/src/assembly/assembly.xml
  plugins/tech/google/src/assembly/assembly.xml
  plugins/transforms/drools/src/assembly/assembly.xml
  plugins/transforms/edi2xml/src/assembly/assembly.xml
  plugins/transforms/script/src/assembly/assembly.xml
  plugins/transforms/xml/pom.xml
  plugins/transforms/xml/src/assembly/assembly.xml
Labels: Integration Testing

#4480 Cleaning up some widget layouts #4466
  plugins/actions/delay/src/main/java/org/apache/hop/workflow/actions/delay/ActionDelayDialog.java
  plugins/actions/filesexist/src/main/resources/org/apache/hop/workflow/actions/filesexist/messages/messages_en_US.properties
  plugins/actions/ftp/src/main/java/org/apache/hop/workflow/actions/ftpdelete/ActionFtpDeleteDialog.java
  plugins/actions/ftp/src/main/resources/org/apache/hop/workflow/actions/ftpdelete/messages/messages_en_US.properties
  plugins/actions/mail/src/main/java/org/apache/hop/workflow/actions/mail/ActionMailDialog.java
  plugins/actions/mail/src/main/resources/org/apache/hop/workflow/actions/mail/messages/messages_en_US.properties
  plugins/actions/mailvalidator/src/main/java/org/apache/hop/workflow/actions/mailvalidator/ActionMailValidatorDialog.java
  plugins/actions/pgpfiles/src/main/resources/org/apache/hop/workflow/actions/pgpdecryptfiles/messages/messages_en_US.properties
  plugins/actions/pgpfiles/src/main/resources/org/apache/hop/workflow/actions/pgpencryptfiles/messages/messages_en_US.properties
  plugins/actions/ping/src/main/java/org/apache/hop/workflow/actions/ping/ActionPingDialog.java
  plugins/actions/repeat/src/main/java/org/apache/hop/workflow/actions/repeat/RepeatDialog.java
  plugins/actions/repeat/src/main/resources/org/apache/hop/workflow/actions/repeat/messages/messages_en_US.properties
  plugins/actions/sendnagiospassivecheck/src/main/java/org/apache/hop/workflow/actions/sendnagiospassivecheck/ActionSendNagiosPassiveCheckDialog.java
  plugins/actions/snmptrap/src/main/java/org/apache/hop/workflow/actions/snmptrap/ActionSNMPTrapDialog.java
  plugins/actions/snowflake/src/main/java/org/apache/hop/workflow/actions/snowflake/WarehouseManagerDialog.java
  plugins/actions/unzip/src/main/java/org/apache/hop/workflow/actions/unzip/ActionUnZipDialog.java
  plugins/actions/waitforsql/src/main/java/org/apache/hop/workflow/actions/waitforsql/ActionWaitForSqlDialog.java
  plugins/actions/xml/src/main/resources/org/apache/hop/workflow/actions/xml/xmlwellformed/messages/messages_en_US.properties
  plugins/actions/xml/src/main/resources/org/apache/hop/workflow/actions/xml/xsdvalidator/messages/messages_en_US.properties
  plugins/misc/reflection/src/main/java/org/apache/hop/reflection/pipeline/transform/PipelineLoggingDialog.java
  plugins/misc/reflection/src/main/java/org/apache/hop/reflection/workflow/transform/WorkflowLoggingDialog.java
  plugins/misc/rest/src/main/java/org/apache/hop/metadata/rest/RestConnectionEditor.java
  plugins/tech/aws/src/main/java/org/apache/hop/pipeline/transforms/redshift/bulkloader/RedshiftBulkLoaderDialog.java
  plugins/tech/aws/src/main/resources/org/apache/hop/pipeline/transforms/redshift/bulkloader/messages/messages_en_US.properties
  plugins/tech/cassandra/src/main/java/org/apache/hop/workflow/actions/execcql/ExecCqlDialog.java
  plugins/tech/cassandra/src/main/resources/org/apache/hop/workflow/actions/execcql/messages/messages_en_US.properties
  plugins/transforms/databasejoin/src/main/java/org/apache/hop/pipeline/transforms/databasejoin/DatabaseJoinDialog.java
  plugins/transforms/delay/src/main/java/org/apache/hop/pipeline/transforms/delay/DelayDialog.java
  plugins/transforms/mail/src/main/java/org/apache/hop/pipeline/transforms/mail/MailDialog.java
  plugins/transforms/mail/src/main/resources/org/apache/hop/pipeline/transforms/mail/messages/messages_en_US.properties
  plugins/transforms/monetdbbulkloader/src/main/java/org/apache/hop/pipeline/transforms/monetdbbulkloader/MonetDbBulkLoaderDialog.java
  plugins/transforms/monetdbbulkloader/src/main/resources/org/apache/hop/pipeline/transforms/monetdbbulkloader/messages/messages_en_US.properties
  plugins/transforms/orabulkloader/src/main/java/org/apache/hop/pipeline/transforms/orabulkloader/OraBulkLoaderDialog.java
  plugins/transforms/pipelineexecutor/src/main/java/org/apache/hop/pipeline/transforms/pipelineexecutor/PipelineExecutorDialog.java
  plugins/transforms/pipelineexecutor/src/main/resources/org/apache/hop/pipeline/transforms/pipelineexecutor/messages/messages_en_US.properties
  plugins/transforms/regexeval/src/main/java/org/apache/hop/pipeline/transforms/regexeval/RegexEvalDialog.java
  plugins/transforms/regexeval/src/main/resources/org/apache/hop/pipeline/transforms/regexeval/messages/messages_en_US.properties
  plugins/transforms/rest/src/main/resources/org/apache/hop/pipeline/transforms/rest/messages/messages_en_US.properties
  plugins/transforms/snowflake/src/main/resources/org/apache/hop/pipeline/transforms/snowflake/bulkloader/messages/messages_en_US.properties
  plugins/transforms/streamlookup/src/main/resources/org/apache/hop/pipeline/transforms/streamlookup/messages/messages_en_US.properties
  plugins/transforms/terafast/src/main/resources/org/apache/hop/pipeline/transforms/terafast/messages/messages_en_US.properties
  plugins/transforms/verticabulkloader/src/main/resources/org/apache/hop/pipeline/transforms/vertica/bulkloader/messages/messages_en_US.properties
  plugins/transforms/workflowexecutor/src/main/java/org/apache/hop/pipeline/transforms/workflowexecutor/WorkflowExecutorDialog.java
  plugins/transforms/workflowexecutor/src/main/resources/org/apache/hop/pipeline/transforms/workflowexecutor/messages/messages_en_US.properties
  plugins/transforms/xml/src/main/java/org/apache/hop/pipeline/transforms/xml/xsdvalidator/XsdValidatorDialog.java
  plugins/transforms/xml/src/main/resources/org/apache/hop/pipeline/transforms/xml/xmlinputstream/messages/messages_en_US.properties
  ui/src/main/java/org/apache/hop/ui/core/widget/LabelCombo.java
  ui/src/main/java/org/apache/hop/ui/core/widget/LabelComboVar.java
  ui/src/main/java/org/apache/hop/ui/core/widget/LabelText.java
  ui/src/main/java/org/apache/hop/ui/core/widget/LabelTextVar.java
Labels: Hop Gui, Transforms, Actions

#4493 updated differences in values and descriptions. #4479
  docs/hop-user-manual/modules/ROOT/pages/variables.adoc
Labels: Documentation

#4367 Ignore isblank check when looking at json fragments, fixes #3577
  integration-tests/json/0006-enhanced-json-output-json-fragment.hpl
  integration-tests/json/datasets/golden-enhanced-json-fragment.csv
  integration-tests/json/main-0006-enhanced-json-output-json-fragment.hwf
  integration-tests/json/metadata/dataset/golden-enhanced-json-fragment.json
  integration-tests/json/metadata/unit-test/0006-enhanced-json-output-json-fragment UNIT.json
  plugins/transforms/json/src/main/java/org/apache/hop/pipeline/transforms/jsonoutputenhanced/JsonOutput.java
Labels: Integration Testing

#4502 [DOC] remove mattermost references
  CONTRIBUTING.md
  README.md
  assemblies/static/src/main/resources/README.txt
  docs/hop-tech-manual/modules/ROOT/pages/hop-vs-kettle/if-you-know-kettle.adoc
Labels: Documentation
