Repository apache/hop, pull requests merged in 2024-12, with the labels that each got.

#4649 minor neo4j java driver upgrade. fixes #4647
  plugins/tech/neo4j/pom.xml
Labels: Neo4j

#4659 [RELEASE] doc version and pom formatting
  docs/hop-dev-manual/antora.yml
  docs/hop-tech-manual/antora.yml
  docs/hop-user-manual/antora.yml
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/regexeval.adoc
  pom.xml
Labels: Documentation

#4669 Add html to text documentation page , fixes #4668
  docs/hop-user-manual/modules/ROOT/nav.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/html2text.adoc
Labels: Documentation

#4658 Pipeline Executor and Workflow Executor + RESULT ROWS TAB - RESULT FILES TAB fields missing.fixes #4610
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/pipeline-executor.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/workflow-executor.adoc
Labels: Documentation

#4652 Add a property to the ColumnInfo class to define an image #4651
  ui/src/main/java/org/apache/hop/ui/core/dialog/PreviewRowsDialog.java
  ui/src/main/java/org/apache/hop/ui/core/widget/ColumnInfo.java
  ui/src/main/java/org/apache/hop/ui/core/widget/TableView.java
  ui/src/main/java/org/apache/hop/ui/hopgui/perspective/execution/PipelineExecutionViewer.java
Labels: Hop Gui

#4646 Move ValueMetaJson to Core library #4645
  core/src/main/java/org/apache/hop/core/row/IValueMeta.java
  core/src/main/java/org/apache/hop/core/row/value/ValueMetaAvroRecord.java
  core/src/main/java/org/apache/hop/core/row/value/ValueMetaBase.java
  core/src/main/java/org/apache/hop/core/row/value/ValueMetaBigNumber.java
  core/src/main/java/org/apache/hop/core/row/value/ValueMetaBinary.java
  core/src/main/java/org/apache/hop/core/row/value/ValueMetaBoolean.java
  core/src/main/java/org/apache/hop/core/row/value/ValueMetaDate.java
  core/src/main/java/org/apache/hop/core/row/value/ValueMetaFactory.java
  core/src/main/java/org/apache/hop/core/row/value/ValueMetaInteger.java
  core/src/main/java/org/apache/hop/core/row/value/ValueMetaJson.java
  core/src/main/java/org/apache/hop/core/row/value/ValueMetaNone.java
  core/src/main/java/org/apache/hop/core/row/value/ValueMetaNumber.java
  core/src/main/java/org/apache/hop/core/row/value/ValueMetaSerializable.java
  core/src/main/java/org/apache/hop/core/row/value/ValueMetaString.java
  core/src/main/resources/images/json.svg
  plugins/tech/neo4j/src/main/java/org/apache/hop/neo4j/core/value/ValueMetaGraph.java
  plugins/valuetypes/json/pom.xml
  plugins/valuetypes/json/src/assembly/assembly.xml
  plugins/valuetypes/json/src/main/java/org/apache/hop/core/row/value/ValueMetaJson.java
  plugins/valuetypes/json/src/main/resources/version.xml
  plugins/valuetypes/pom.xml
Labels: Neo4j

#4687 Improve documentation for the Language Chat Transform Plugin #4686
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/languagemodelchat.adoc
  plugins/transforms/languagemodelchat/src/main/java/org/apache/hop/pipeline/transforms/languagemodelchat/internals/ui/GeneralSettingsComposite.java
  plugins/transforms/languagemodelchat/src/main/java/org/apache/hop/pipeline/transforms/languagemodelchat/internals/ui/TransformNameComposite.java
  plugins/transforms/languagemodelchat/src/main/java/org/apache/hop/pipeline/transforms/languagemodelchat/internals/ui/models/AbstractModelComposite.java
  plugins/transforms/languagemodelchat/src/main/resources/org/apache/hop/pipeline/transforms/languagemodelchat/messages/messages_en_US.properties
Labels: Documentation

#4529 Segregate the schema definitions under relevant sub folders
  core/src/main/java/org/apache/hop/metadata/api/HopMetadata.java
  core/src/main/java/org/apache/hop/metadata/api/HopMetadataBase.java
  core/src/main/java/org/apache/hop/metadata/api/IHopMetadata.java
  core/src/main/java/org/apache/hop/metadata/api/IHopMetadataSerializer.java
  core/src/main/java/org/apache/hop/metadata/serializer/FileSystemNode.java
  core/src/main/java/org/apache/hop/metadata/serializer/json/JsonMetadataSerializer.java
  core/src/main/java/org/apache/hop/metadata/serializer/multi/MultiMetadataSerializer.java
  core/src/test/java/org/apache/hop/metadata/serializer/json/JsonMetadataSerializerTest.java
  plugins/misc/static-schema/src/main/java/org/apache/hop/staticschema/metadata/SchemaDefinition.java
  plugins/transforms/excel/src/main/java/org/apache/hop/pipeline/transforms/excelinput/ExcelInputDialog.java
  plugins/transforms/excel/src/main/java/org/apache/hop/pipeline/transforms/excelwriter/ExcelWriterTransformDialog.java
  plugins/transforms/textfile/src/main/java/org/apache/hop/pipeline/transforms/csvinput/CsvInputDialog.java
  plugins/transforms/textfile/src/main/java/org/apache/hop/pipeline/transforms/fileinput/text/TextFileInputDialog.java
  plugins/transforms/textfile/src/main/java/org/apache/hop/pipeline/transforms/textfileoutput/TextFileOutputDialog.java
  ui/src/main/java/org/apache/hop/ui/core/metadata/MetadataManager.java
  ui/src/main/java/org/apache/hop/ui/core/widget/MetaSelectionLine.java
  ui/src/main/java/org/apache/hop/ui/core/widget/TableView.java
  ui/src/main/java/org/apache/hop/ui/hopgui/perspective/metadata/MetadataPerspective.java
  ui/src/main/resources/org/apache/hop/ui/hopgui/perspective/metadata/messages/messages_en_US.properties
Labels: Hop Gui

#4703 fix doc headings. fixes #4702
  docs/hop-user-manual/modules/ROOT/pages/how-to-guides/joins-lookups.adoc
  docs/hop-user-manual/modules/ROOT/pages/workflow/workflows.adoc
Labels: Documentation

#4717 Revert and change folders for metadata items, #4712
  core/src/main/java/org/apache/hop/metadata/api/HopMetadata.java
  core/src/main/java/org/apache/hop/metadata/api/HopMetadataBase.java
  core/src/main/java/org/apache/hop/metadata/api/IHopMetadata.java
  core/src/main/java/org/apache/hop/metadata/api/IHopMetadataSerializer.java
  core/src/main/java/org/apache/hop/metadata/serializer/FileSystemNode.java
  core/src/main/java/org/apache/hop/metadata/serializer/json/JsonMetadataSerializer.java
  core/src/main/java/org/apache/hop/metadata/serializer/multi/MultiMetadataSerializer.java
  core/src/test/java/org/apache/hop/metadata/serializer/json/JsonMetadataSerializerTest.java
  plugins/misc/static-schema/src/main/java/org/apache/hop/staticschema/metadata/SchemaDefinition.java
  plugins/transforms/excel/src/main/java/org/apache/hop/pipeline/transforms/excelinput/ExcelInputDialog.java
  plugins/transforms/excel/src/main/java/org/apache/hop/pipeline/transforms/excelwriter/ExcelWriterTransformDialog.java
  plugins/transforms/textfile/src/main/java/org/apache/hop/pipeline/transforms/csvinput/CsvInputDialog.java
  plugins/transforms/textfile/src/main/java/org/apache/hop/pipeline/transforms/fileinput/text/TextFileInputDialog.java
  plugins/transforms/textfile/src/main/java/org/apache/hop/pipeline/transforms/textfileoutput/TextFileOutputDialog.java
  ui/src/main/java/org/apache/hop/ui/core/metadata/MetadataManager.java
  ui/src/main/java/org/apache/hop/ui/core/widget/MetaSelectionLine.java
  ui/src/main/java/org/apache/hop/ui/core/widget/TableView.java
  ui/src/main/java/org/apache/hop/ui/hopgui/context/metadata/MetadataContextHandler.java
  ui/src/main/java/org/apache/hop/ui/hopgui/perspective/metadata/MetadataPerspective.java
  ui/src/main/resources/org/apache/hop/ui/hopgui/perspective/metadata/messages/messages_en_US.properties
Labels: Hop Gui

#4710 ABORT transform + Options section incomplete.fixes #4709
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/abort.adoc
Labels: Documentation

#4716 Issues #4714 and #4715
  assemblies/plugins/pom.xml
  docs/hop-user-manual/modules/ROOT/nav.adoc
  docs/hop-user-manual/modules/ROOT/pages/database/databases/cloudera-impala.adoc
  plugins/databases/impala/pom.xml
  plugins/databases/impala/src/assembly/assembly.xml
  plugins/databases/impala/src/main/java/org/apache/hop/databases/impala/ImpalaDatabaseMeta.java
  plugins/databases/impala/src/main/resources/org/apache/hop/databases/impala/messages/messages_en_US.properties
  plugins/databases/impala/src/main/resources/version.xml
  plugins/databases/pom.xml
  plugins/tech/avro/src/main/java/org/apache/hop/avro/transforms/avroinput/AvroFileInput.java
Labels: Documentation

#4729 Do not start the search if no search term is provided. #4721
  ui/src/main/java/org/apache/hop/ui/hopgui/perspective/search/HopSearchPerspective.java
Labels: Hop Gui

#4711 Implement Undo/Redo for StyledText #4708 and Fix Variable insertion #4591
  plugins/actions/eval/src/main/java/org/apache/hop/workflow/actions/eval/ActionEvalDialog.java
  plugins/actions/sql/src/main/java/org/apache/hop/workflow/actions/sql/ActionSqlDialog.java
  plugins/actions/sql/src/main/resources/org/apache/hop/workflow/actions/sql/messages/messages_en_US.properties
  plugins/actions/waitforsql/src/main/java/org/apache/hop/workflow/actions/waitforsql/ActionWaitForSqlDialog.java
  plugins/transforms/janino/src/main/java/org/apache/hop/pipeline/transforms/userdefinedjavaclass/UserDefinedJavaClassDialog.java
  plugins/transforms/javascript/src/main/java/org/apache/hop/pipeline/transforms/javascript/ScriptValuesDialog.java
  plugins/transforms/ldap/src/main/java/org/apache/hop/pipeline/transforms/ldapinput/LdapInputDialog.java
  plugins/transforms/sql/src/main/java/org/apache/hop/pipeline/transforms/sql/ExecSqlDialog.java
  plugins/transforms/tableinput/src/main/java/org/apache/hop/pipeline/transforms/tableinput/TableInputDialog.java
  plugins/transforms/writetolog/src/main/java/org/apache/hop/pipeline/transforms/writetolog/WriteToLogDialog.java
  ui/src/main/java/org/apache/hop/ui/core/widget/ControlSpaceKeyAdapter.java
  ui/src/main/java/org/apache/hop/ui/core/widget/JavaScriptStyledTextComp.java
  ui/src/main/java/org/apache/hop/ui/core/widget/JavaStyledTextComp.java
  ui/src/main/java/org/apache/hop/ui/core/widget/SQLStyledTextComp.java
  ui/src/main/java/org/apache/hop/ui/core/widget/ScriptStyledTextComp.java
  ui/src/main/java/org/apache/hop/ui/core/widget/StyledTextComp.java
  ui/src/main/java/org/apache/hop/ui/core/widget/StyledTextVar.java
  ui/src/main/java/org/apache/hop/ui/core/widget/TextComposite.java
  ui/src/main/resources/org/apache/hop/ui/core/widget/messages/messages_en_US.properties
Labels: Hop Gui
