Repository apache/hop, pull requests merged in 2024-01, with the labels that each got.

#3486 Update simpleeval.adoc
  docs/hop-user-manual/modules/ROOT/pages/workflow/actions/simpleeval.adoc
Labels: Documentation

#3494 Update repeat.adoc
  docs/hop-user-manual/modules/ROOT/pages/workflow/actions/repeat.adoc
Labels: Documentation

#3537 Upgrade Janino from 3.1.2 to 3.1.11 #3530
  assemblies/plugins/transforms/janino/pom.xml
  plugins/transforms/janino/pom.xml
Labels: Transforms

#3543 Update formula.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/formula.adoc
Labels: Documentation

#3536 Update eval.adoc
  docs/hop-user-manual/modules/ROOT/pages/workflow/actions/eval.adoc
Labels: Documentation

#3547 Translations update from Weblate
  plugins/actions/pgpfiles/src/main/resources/org/apache/hop/workflow/actions/pgpverify/messages/messages_pt_BR.properties
  plugins/actions/xml/src/main/resources/org/apache/hop/workflow/actions/xml/dtdvalidator/messages/messages_pt_BR.properties
  plugins/actions/xml/src/main/resources/org/apache/hop/workflow/actions/xml/xsdvalidator/messages/messages_pt_BR.properties
  plugins/actions/xml/src/main/resources/org/apache/hop/workflow/actions/xml/xslt/messages/messages_pt_BR.properties
  plugins/misc/git/src/main/resources/org/apache/hop/git/messages/messages_pt_BR.properties
  plugins/tech/avro/src/main/resources/org/apache/hop/avro/transforms/avrooutput/messages/messages_pt_BR.properties
  plugins/tech/cassandra/src/main/resources/org/apache/hop/databases/cassandra/metadata/messages/messages_pt_BR.properties
  plugins/transforms/changefileencoding/src/main/resources/org/apache/hop/pipeline/transforms/changefileencoding/messages/messages_pt_BR.properties
  plugins/transforms/combinationlookup/src/main/resources/org/apache/hop/pipeline/transforms/combinationlookup/messages/messages_pt_BR.properties
  plugins/transforms/dimensionlookup/src/main/resources/org/apache/hop/pipeline/transforms/dimensionlookup/messages/messages_pt_BR.properties
  plugins/transforms/dorisbulkloader/src/main/resources/org/apache/hop/pipeline/transforms/dorisbulkloader/messages/messages_pt_BR.properties
  plugins/transforms/execprocess/src/main/resources/org/apache/hop/pipeline/transforms/execprocess/messages/messages_pt_BR.properties
  plugins/transforms/insertupdate/src/main/resources/org/apache/hop/pipeline/transforms/insertupdate/messages/messages_pt_BR.properties
  plugins/transforms/mail/src/main/resources/org/apache/hop/pipeline/transforms/mail/messages/messages_pt_BR.properties
  plugins/transforms/salesforce/src/main/resources/org/apache/hop/pipeline/transforms/salesforce/messages/messages_pt_BR.properties
  plugins/transforms/salesforce/src/main/resources/org/apache/hop/pipeline/transforms/salesforcedelete/messages/messages_pt_BR.properties
  plugins/transforms/setvariable/src/main/resources/org/apache/hop/pipeline/transforms/setvariable/messages/messages_pt_BR.properties
  plugins/transforms/sortedmerge/src/main/resources/org/apache/hop/pipeline/transforms/sortedmerge/messages/messages_pt_BR.properties
  plugins/transforms/synchronizeaftermerge/src/main/resources/org/apache/hop/pipeline/transforms/synchronizeaftermerge/messages/messages_pt_BR.properties
  plugins/transforms/terafast/src/main/resources/org/apache/hop/pipeline/transforms/terafast/messages/messages_pt_BR.properties
  plugins/transforms/textfile/src/main/resources/org/apache/hop/pipeline/transforms/textfileoutput/messages/messages_pt_BR.properties
  plugins/transforms/update/src/main/resources/org/apache/hop/pipeline/transforms/update/messages/messages_pt_BR.properties
  plugins/transforms/valuemapper/src/main/resources/org/apache/hop/pipeline/transforms/valuemapper/messages/messages_pt_BR.properties
  plugins/transforms/webserviceavailable/src/main/resources/org/apache/hop/pipeline/transforms/webserviceavailable/messages/messages_pt_BR.properties
  ui/src/main/resources/org/apache/hop/ui/hopgui/dialog/messages/messages_pt_BR.properties
  ui/src/main/resources/org/apache/hop/ui/pipeline/transform/common/messages/messages_pt_BR.properties
Labels: Hop Gui

#3550 Translations update from Weblate
  engine/src/main/resources/org/apache/hop/server/messages/messages_pt_BR.properties
  engine/src/main/resources/org/apache/hop/www/messages/messages_pt_BR.properties
  plugins/actions/evalfilesmetrics/src/main/resources/org/apache/hop/workflow/actions/evalfilesmetrics/messages/messages_pt_BR.properties
  plugins/actions/movefiles/src/main/resources/org/apache/hop/workflow/actions/movefiles/messages/messages_pt_BR.properties
  plugins/actions/pgpfiles/src/main/resources/org/apache/hop/workflow/actions/pgpdecryptfiles/messages/messages_pt_BR.properties
  plugins/actions/pgpfiles/src/main/resources/org/apache/hop/workflow/actions/pgpencryptfiles/messages/messages_pt_BR.properties
  plugins/databases/access/src/main/resources/org/apache/hop/pipeline/transforms/accessoutput/messages/messages_pt_BR.properties
  plugins/engines/beam/src/main/resources/org/apache/hop/beam/engines/flink/messages/messages_pt_BR.properties
  plugins/misc/import/src/main/resources/org/apache/hop/imports/kettle/messages/messages_pt_BR.properties
  plugins/misc/projects/src/main/resources/org/apache/hop/projects/environment/messages/messages_pt_BR.properties
  plugins/tech/avro/src/main/resources/org/apache/hop/avro/transforms/avrodecode/messages/messages_pt_BR.properties
  plugins/tech/avro/src/main/resources/org/apache/hop/avro/transforms/avrooutput/messages/messages_pt_BR.properties
  plugins/tech/aws/src/main/resources/org/apache/hop/pipeline/transforms/redshift/bulkloader/messages/messages_pt_BR.properties
  plugins/tech/google/src/main/resources/org/apache/hop/pipeline/transforms/googleanalytics/messages/messages_pt_BR.properties
  plugins/tech/google/src/main/resources/org/apache/hop/vfs/googledrive/config/messages/messages_pt_BR.properties
  plugins/transforms/dimensionlookup/src/main/resources/org/apache/hop/pipeline/transforms/dimensionlookup/messages/messages_pt_BR.properties
  plugins/transforms/dynamicsqlrow/src/main/resources/org/apache/hop/pipeline/transforms/dynamicsqlrow/messages/messages_pt_BR.properties
  plugins/transforms/edi2xml/src/main/resources/org/apache/hop/pipeline/transforms/edi2xml/messages/messages_pt_BR.properties
  plugins/transforms/excel/src/main/resources/org/apache/hop/pipeline/transforms/excelwriter/messages/messages_pt_BR.properties
  plugins/transforms/fileexists/src/main/resources/org/apache/hop/pipeline/transforms/fileexists/messages/messages_pt_BR.properties
  plugins/transforms/filelocked/src/main/resources/org/apache/hop/pipeline/transforms/filelocked/messages/messages_pt_BR.properties
  plugins/transforms/filemetadata/src/main/resources/org/apache/hop/pipeline/transforms/filemetadata/messages/messages_pt_BR.properties
  plugins/transforms/gettablenames/src/main/resources/org/apache/hop/pipeline/transforms/gettablenames/messages/messages_pt_BR.properties
  plugins/transforms/http/src/main/resources/org/apache/hop/pipeline/transforms/http/messages/messages_pt_BR.properties
  plugins/transforms/httppost/src/main/resources/org/apache/hop/pipeline/transforms/httppost/messages/messages_pt_BR.properties
  plugins/transforms/insertupdate/src/main/resources/org/apache/hop/pipeline/transforms/insertupdate/messages/messages_pt_BR.properties
  plugins/transforms/json/src/main/resources/org/apache/hop/pipeline/transforms/jsonoutput/messages/messages_pt_BR.properties
  plugins/transforms/json/src/main/resources/org/apache/hop/pipeline/transforms/jsonoutputenhanced/messages/messages_pt_BR.properties
  plugins/transforms/ldap/src/main/resources/org/apache/hop/pipeline/transforms/ldapinput/messages/messages_pt_BR.properties
  plugins/transforms/ldap/src/main/resources/org/apache/hop/pipeline/transforms/ldapoutput/messages/messages_pt_BR.properties
  plugins/transforms/loadfileinput/src/main/resources/org/apache/hop/pipeline/transforms/loadfileinput/messages/messages_pt_BR.properties
  plugins/transforms/mailinput/src/main/resources/org/apache/hop/pipeline/transforms/mailinput/messages/messages_pt_BR.properties
  plugins/transforms/monetdbbulkloader/src/main/resources/org/apache/hop/pipeline/transforms/monetdbbulkloader/messages/messages_pt_BR.properties
  plugins/transforms/mongodb/src/main/resources/org/apache/hop/mongo/messages/messages_pt_BR.properties
  plugins/transforms/numberrange/src/main/resources/org/apache/hop/pipeline/transforms/numberrange/messages/messages_pt_BR.properties
  plugins/transforms/orabulkloader/src/main/resources/org/apache/hop/pipeline/transforms/orabulkloader/messages/messages_pt_BR.properties
  plugins/transforms/pgbulkloader/src/main/resources/org/apache/hop/pipeline/transforms/pgbulkloader/messages/messages_pt_BR.properties
  plugins/transforms/processfiles/src/main/resources/org/apache/hop/pipeline/transforms/processfiles/messages/messages_pt_BR.properties
  plugins/transforms/propertyoutput/src/main/resources/org/apache/hop/pipeline/transforms/propertyoutput/messages/messages_pt_BR.properties
  plugins/transforms/salesforce/src/main/resources/org/apache/hop/pipeline/transforms/salesforceinsert/messages/messages_pt_BR.properties
  plugins/transforms/salesforce/src/main/resources/org/apache/hop/pipeline/transforms/salesforceupdate/messages/messages_pt_BR.properties
  plugins/transforms/salesforce/src/main/resources/org/apache/hop/pipeline/transforms/salesforceupsert/messages/messages_pt_BR.properties
  plugins/transforms/synchronizeaftermerge/src/main/resources/org/apache/hop/pipeline/transforms/synchronizeaftermerge/messages/messages_pt_BR.properties
  plugins/transforms/tableoutput/src/main/resources/org/apache/hop/pipeline/transforms/tableoutput/messages/messages_pt_BR.properties
  plugins/transforms/textfile/src/main/resources/org/apache/hop/pipeline/transforms/fileinput/text/messages/messages_pt_BR.properties
  plugins/transforms/textfile/src/main/resources/org/apache/hop/pipeline/transforms/textfileoutput/messages/messages_pt_BR.properties
  plugins/transforms/tokenreplacement/src/main/resources/org/apache/hop/pipeline/transforms/tokenreplacement/messages/messages_pt_BR.properties
  plugins/transforms/verticabulkloader/src/main/resources/org/apache/hop/pipeline/transforms/vertica/bulkloader/messages/messages_pt_BR.properties
  plugins/transforms/xml/src/main/resources/org/apache/hop/pipeline/transforms/xml/xslt/messages/messages_pt_BR.properties
  plugins/transforms/zipfile/src/main/resources/org/apache/hop/pipeline/transforms/zipfile/messages/messages_pt_BR.properties
  ui/src/main/resources/org/apache/hop/ui/hopgui/file/workflow/delegates/messages/messages_pt_BR.properties
Labels: Hop Gui

#3566 Refreshing display for slow transformation indicator #3564
  engine/src/main/java/org/apache/hop/pipeline/PipelinePainter.java
Labels: Hop Gui

#3562 Propose formats for the TIMESTAMP type in the TableView widget #3557
  ui/src/main/java/org/apache/hop/ui/core/widget/TableView.java
Labels: Hop Gui

#3575 Fix StyledTextComp COPY context menu and add icons #3571
  ui/src/main/java/org/apache/hop/ui/core/widget/StyledTextComp.java
Labels: Hop Gui

#3570 Fix some icons #3569
  ui/src/main/java/org/apache/hop/ui/core/gui/GuiResource.java
  ui/src/main/java/org/apache/hop/ui/hopgui/perspective/configuration/tabs/ConfigGeneralOptionsTab.java
  ui/src/main/java/org/apache/hop/ui/hopgui/perspective/configuration/tabs/ConfigGuiOptionsTab.java
  ui/src/main/resources/ui/images/close-panel.svg
  ui/src/main/resources/ui/images/hide-results.svg
  ui/src/main/resources/ui/images/options.svg
  ui/src/main/resources/ui/images/palette.svg
  ui/src/main/resources/ui/images/show-results.svg
Labels: Hop Gui

#3567 Update execsql.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/execsql.adoc
Labels: Documentation

#3568 Update joinrows.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/joinrows.adoc
Labels: Documentation

#3576 Update setvariables.adoc
  docs/hop-user-manual/modules/ROOT/pages/workflow/actions/setvariables.adoc
Labels: Documentation

#3565 Update splitfieldtorows.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/splitfieldtorows.adoc
Labels: Documentation

#3535 Fix multiple pipeline executors inside pipeline causes error #3503
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/getrecordsfromstream.adoc
  engine/src/main/java/org/apache/hop/pipeline/transform/BaseTransformMeta.java
  plugins/transforms/rowsfromresult/src/main/java/org/apache/hop/pipeline/transforms/recordsfromstream/RecordsFromStreamMeta.java
  plugins/transforms/rowsfromresult/src/main/java/org/apache/hop/pipeline/transforms/rowsfromresult/RowsFromResult.java
Labels: Documentation, Transforms

#3582 Update textfileinput.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/textfileinput.adoc
Labels: Documentation

#3561 Renaming a file is not readable on Windows in dark mode #3560
  ui/src/main/java/org/apache/hop/ui/hopgui/perspective/explorer/ExplorerPerspective.java
Labels: Hop Gui

#3597 Close dialog box when pressing enter in search filter #3555
  plugins/engines/beam/src/main/samples/beam/pipelines/kafka-aggregation-pipeline.hpl
  ui/src/main/java/org/apache/hop/ui/core/dialog/EnterSelectionDialog.java
Labels: Hop Gui
