Repository apache/hop, pull requests merged in 2024-03, with the labels that each got.

#3689 Translations update from Weblate
  core/src/main/resources/org/apache/hop/i18n/messages/messages_de_DE.properties
  plugins/actions/copymoveresultfilenames/src/main/resources/org/apache/hop/workflow/actions/copymoveresultfilenames/messages/messages_pt_BR.properties
  plugins/actions/ftp/src/main/resources/org/apache/hop/workflow/actions/ftp/messages/messages_pt_BR.properties
  plugins/actions/getpop/src/main/resources/org/apache/hop/workflow/actions/getpop/messages/messages_pt_BR.properties
  plugins/actions/mail/src/main/resources/org/apache/hop/workflow/actions/mail/messages/messages_pt_BR.properties
  plugins/actions/unzip/src/main/resources/org/apache/hop/workflow/actions/unzip/messages/messages_pt_BR.properties
  plugins/actions/zipfile/src/main/resources/org/apache/hop/workflow/actions/zipfile/messages/messages_pt_BR.properties
  plugins/engines/beam/src/main/resources/org/apache/hop/beam/engines/dataflow/messages/messages_pt_BR.properties
  plugins/engines/beam/src/main/resources/org/apache/hop/beam/engines/spark/messages/messages_pt_BR.properties
  plugins/misc/reflection/src/main/resources/org/apache/hop/reflection/probe/gui/messages/messages_de_DE.properties
  plugins/transforms/calculator/src/main/resources/org/apache/hop/pipeline/transforms/calculator/messages/messages_de_DE.properties
  plugins/transforms/constant/src/main/resources/org/apache/hop/pipeline/transforms/constant/messages/messages_de_DE.properties
  plugins/transforms/mail/src/main/resources/org/apache/hop/pipeline/transforms/mail/messages/messages_pt_BR.properties
  plugins/transforms/mailinput/src/main/resources/org/apache/hop/pipeline/transforms/mailinput/messages/messages_pt_BR.properties
  plugins/transforms/mapping/src/main/resources/org/apache/hop/pipeline/transforms/mapping/messages/messages_pt_BR.properties
  plugins/transforms/propertyinput/src/main/resources/org/apache/hop/pipeline/transforms/propertyinput/messages/messages_de_DE.properties
  plugins/transforms/rowgenerator/src/main/resources/org/apache/hop/pipeline/transforms/rowgenerator/messages/messages_de_DE.properties
  ui/src/main/resources/org/apache/hop/ui/core/dialog/messages/messages_de_DE.properties
Labels: Hop Gui

#3678 support for formula types. fixes #3670
  integration-tests/transforms/0070-excel-input-formula-3670.hpl
  integration-tests/transforms/files/sample_file_with_formulas.xlsx
  integration-tests/transforms/main-0070-excel-input-formulas-3670.hwf
  plugins/transforms/excel/src/main/java/org/apache/hop/pipeline/transforms/excelinput/ExcelInput.java
Labels: Integration Testing

#3704 Translations update from Weblate
  engine/src/main/resources/org/apache/hop/workflow/actions/dummy/messages/messages_de_DE.properties
  plugins/actions/copyfiles/src/main/resources/org/apache/hop/workflow/actions/copyfiles/messages/messages_pt_BR.properties
  plugins/actions/createfile/src/main/resources/org/apache/hop/workflow/actions/createfile/messages/messages_de_DE.properties
  plugins/actions/deletefiles/src/main/resources/org/apache/hop/workflow/actions/deletefiles/messages/messages_de_DE.properties
  plugins/actions/zipfile/src/main/resources/org/apache/hop/workflow/actions/zipfile/messages/messages_de_DE.properties
  plugins/databases/access/src/main/resources/org/apache/hop/pipeline/transforms/accessoutput/messages/messages_de_DE.properties
  plugins/misc/debug/src/main/resources/org/apache/hop/debug/action/messages/messages_de_DE.properties
  plugins/tech/neo4j/src/main/resources/org/apache/hop/neo4j/actions/check/messages/messages_de_DE.properties
  plugins/transforms/clonerow/src/main/resources/org/apache/hop/pipeline/transforms/clonerow/messages/messages_de_DE.properties
  plugins/transforms/coalesce/src/main/resources/org/apache/hop/pipeline/transforms/coalesce/messages/messages_de_DE.properties
  plugins/transforms/concatfields/src/main/resources/org/apache/hop/pipeline/transforms/concatfields/messages/messages_de_DE.properties
  plugins/transforms/dbproc/src/main/resources/org/apache/hop/pipeline/transforms/dbproc/messages/messages_de_DE.properties
  plugins/transforms/excel/src/main/resources/org/apache/hop/pipeline/transforms/excelwriter/messages/messages_de_DE.properties
  plugins/transforms/excel/src/main/resources/org/apache/hop/ui/core/widgets/messages/messages_de_DE.properties
  plugins/transforms/execsqlrow/src/main/resources/org/apache/hop/pipeline/transforms/execsqlrow/messages/messages_de_DE.properties
  plugins/transforms/filemetadata/src/main/resources/org/apache/hop/pipeline/transforms/filemetadata/messages/messages_de_DE.properties
  plugins/transforms/webservices/src/main/resources/org/apache/hop/pipeline/transforms/webservices/messages/wsdl/messages/messages_de_DE.properties
  ui/src/main/resources/org/apache/hop/ui/hopgui/file/workflow/messages/messages_de_DE.properties
  ui/src/main/resources/org/apache/hop/ui/i18n/editor/messages/messages_de_DE.properties
Labels: Hop Gui, Neo4j

#3706 Translations update from Weblate
  plugins/transforms/systemdata/src/main/resources/org/apache/hop/pipeline/transforms/systemdata/messages/messages_de_DE.properties
  plugins/transforms/textfile/src/main/resources/org/apache/hop/pipeline/transforms/textfileoutput/messages/messages_de_DE.properties
  ui/src/main/resources/org/apache/hop/ui/core/database/messages/messages_de_DE.properties
  ui/src/main/resources/org/apache/hop/ui/core/dialog/messages/messages_de_DE.properties
  ui/src/main/resources/org/apache/hop/ui/hopgui/file/pipeline/messages/messages_de_DE.properties
  ui/src/main/resources/org/apache/hop/ui/hopgui/messages/messages_de_DE.properties
Labels: Hop Gui

#3708 fix #3707 - SchemaMapping transform's tests fails
  integration-tests/transforms/datasets/golden-data-schemamapping.csv
  plugins/transforms/schemamapping/src/main/java/org/apache/hop/pipeline/transforms/schemamapping/SchemaMapping.java
Labels: Integration Testing

#3710 [Fix #3709] Update getdatafromxml.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/getdatafromxml.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/textfileinput.adoc
Labels: Documentation

#3714 [RELEASE] update documentation version
  docs/hop-dev-manual/antora.yml
  docs/hop-tech-manual/antora.yml
  docs/hop-user-manual/antora.yml
Labels: Documentation

#3700 Fix space encoded as URI with %20 in UI filename #3674
  plugins/misc/projects/src/main/java/org/apache/hop/projects/xp/HopGuiFileReplaceHomeVariable.java
Labels: Hop Gui

#3698 Add option to create parent folders in "Serialize to file" transform #3677
  plugins/transforms/cubeoutput/src/main/java/org/apache/hop/pipeline/transforms/cubeoutput/CubeOutput.java
  plugins/transforms/cubeoutput/src/main/java/org/apache/hop/pipeline/transforms/cubeoutput/CubeOutputDialog.java
  plugins/transforms/cubeoutput/src/main/java/org/apache/hop/pipeline/transforms/cubeoutput/CubeOutputMeta.java
  plugins/transforms/cubeoutput/src/main/resources/org/apache/hop/pipeline/transforms/cubeoutput/messages/messages_en_US.properties
Labels: Transforms

#3697 Fix Action Bulk load into MSSQL to support native connection #3693
  plugins/actions/mssqlbulkload/src/main/java/org/apache/hop/workflow/actions/mssqlbulkload/ActionMssqlBulkLoad.java
Labels: Actions

#3703 Remove MetadataExplorerDialog which is no longer useful
  ui/src/main/java/org/apache/hop/ui/hopgui/dialog/MetadataExplorerDialog.java
Labels: Hop Gui

#3726 Set character encoding before getting writer #3590
  engine/src/main/java/org/apache/hop/www/GetExecutionInfoServlet.java
Labels: Hop Server

#3722 Select values: Fix populate data type on get fields #3721
  plugins/transforms/selectvalues/src/main/java/org/apache/hop/pipeline/transforms/selectvalues/SelectValuesDialog.java
Labels: Transforms

#3747 Translations update from Weblate
  plugins/actions/copymoveresultfilenames/src/main/resources/org/apache/hop/workflow/actions/copymoveresultfilenames/messages/messages_pt_BR.properties
  plugins/actions/dostounix/src/main/resources/org/apache/hop/workflow/actions/dostounix/messages/messages_pt_BR.properties
  plugins/actions/movefiles/src/main/resources/org/apache/hop/workflow/actions/movefiles/messages/messages_pt_BR.properties
  plugins/actions/pgpfiles/src/main/resources/org/apache/hop/workflow/actions/pgpdecryptfiles/messages/messages_pt_BR.properties
  plugins/actions/pgpfiles/src/main/resources/org/apache/hop/workflow/actions/pgpencryptfiles/messages/messages_pt_BR.properties
  plugins/actions/xml/src/main/resources/org/apache/hop/workflow/actions/xml/xmlwellformed/messages/messages_pt_BR.properties
  plugins/misc/projects/src/main/resources/org/apache/hop/projects/gui/messages/messages_pt_BR.properties
  plugins/transforms/excel/src/main/resources/org/apache/hop/pipeline/transforms/excelinput/messages/messages_pt_BR.properties
  plugins/transforms/excel/src/main/resources/org/apache/hop/pipeline/transforms/excelwriter/messages/messages_pt_BR.properties
  plugins/transforms/getfilenames/src/main/resources/org/apache/hop/pipeline/transforms/getfilenames/messages/messages_pt_BR.properties
  plugins/transforms/memgroupby/src/main/resources/org/apache/hop/pipeline/transforms/memgroupby/messages/messages_pt_BR.properties
  plugins/transforms/tableexists/src/main/resources/org/apache/hop/pipeline/transforms/tableexists/messages/messages_pt_BR.properties
  plugins/transforms/textfile/src/main/resources/org/apache/hop/pipeline/transforms/csvinput/messages/messages_pt_BR.properties
  plugins/transforms/textfile/src/main/resources/org/apache/hop/pipeline/transforms/fileinput/text/messages/messages_pt_BR.properties
  plugins/transforms/textfile/src/main/resources/org/apache/hop/pipeline/transforms/textfileoutput/messages/messages_pt_BR.properties
  plugins/transforms/uniquerows/src/main/resources/org/apache/hop/pipeline/transforms/uniquerows/messages/messages_pt_BR.properties
  plugins/transforms/uniquerowsbyhashset/src/main/resources/org/apache/hop/pipeline/transforms/uniquerowsbyhashset/messages/messages_pt_BR.properties
  plugins/transforms/validator/src/main/resources/org/apache/hop/pipeline/transforms/validator/messages/messages_pt_BR.properties
  plugins/transforms/valuemapper/src/main/resources/org/apache/hop/pipeline/transforms/valuemapper/messages/messages_pt_BR.properties
  plugins/transforms/xml/src/main/resources/org/apache/hop/pipeline/transforms/xml/xmlinputstream/messages/messages_pt_BR.properties
  ui/src/main/resources/org/apache/hop/ui/core/metadata/messages/messages_pt_BR.properties
Labels: Hop Gui

#3751 Translations update from Weblate
  engine/src/main/resources/org/apache/hop/execution/local/messages/messages_de_DE.properties
  engine/src/main/resources/org/apache/hop/execution/messages/messages_de_DE.properties
  engine/src/main/resources/org/apache/hop/pipeline/messages/messages_de_DE.properties
  engine/src/main/resources/org/apache/hop/pipeline/transform/messages/messages_de_DE.properties
  plugins/actions/checkfilelocked/src/main/resources/org/apache/hop/workflow/actions/checkfilelocked/messages/messages_de_DE.properties
  plugins/actions/dostounix/src/main/resources/org/apache/hop/workflow/actions/dostounix/messages/messages_de_DE.properties
  plugins/actions/evalfilesmetrics/src/main/resources/org/apache/hop/workflow/actions/evalfilesmetrics/messages/messages_de_DE.properties
  plugins/actions/ping/src/main/resources/org/apache/hop/workflow/actions/ping/messages/messages_de_DE.properties
  plugins/misc/debug/src/main/resources/org/apache/hop/debug/transform/messages/messages_de_DE.properties
  plugins/misc/reflection/src/main/resources/org/apache/hop/reflection/workflow/transform/messages/messages_de_DE.properties
  plugins/misc/testing/src/main/resources/org/apache/hop/testing/gui/messages/messages_de_DE.properties
  plugins/tech/avro/src/main/resources/org/apache/hop/avro/transforms/avrooutput/messages/messages_de_DE.properties
  plugins/transforms/snowflake/src/main/resources/org/apache/hop/pipeline/transforms/snowflake/bulkloader/messages/messages_de_DE.properties
  plugins/transforms/tokenreplacement/src/main/resources/org/apache/hop/pipeline/transforms/tokenreplacement/messages/messages_de_DE.properties
  ui/src/main/resources/org/apache/hop/ui/core/dialog/messages/messages_de_DE.properties
  ui/src/main/resources/org/apache/hop/ui/execution/messages/messages_de_DE.properties
Labels: Hop Gui

#3750 fix ConcurrentModificationExceptions in script transforms. #3729
  integration-tests/transforms/0071-concurrent-scripts-3729.hpl
  integration-tests/transforms/main-0071-concurrent-scripts-3729.hwf
  plugins/transforms/script/src/main/java/org/apache/hop/pipeline/transforms/script/Script.java
  plugins/transforms/script/src/main/java/org/apache/hop/pipeline/transforms/script/ScriptDialog.java
  plugins/transforms/script/src/main/java/org/apache/hop/pipeline/transforms/script/ScriptUtils.java
Labels: Integration Testing

#3756 [IT] fix neo4j IT test
  integration-tests/neo4j/datasets/golden-action-constraint.csv
Labels: Integration Testing

#3673 fix #3666, fix #3588, fix #3738
  core/src/main/java/org/apache/hop/core/database/DatabaseMetaInformation.java
  plugins/databases/duckdb/src/main/java/org/apache/hop/databases/duckdb/DuckDBDatabaseMeta.java
  ui/src/main/java/org/apache/hop/ui/core/database/dialog/DatabaseExplorerDialog.java
Labels: Hop Gui

#3762 Rename "Create" to "Create a note" #3760
  ui/src/main/resources/org/apache/hop/ui/hopgui/file/pipeline/messages/messages_en_US.properties
Labels: Hop Gui

#3753 Adapt mouse cursor to context #3752
  engine/src/main/java/org/apache/hop/core/gui/AreaOwner.java
  ui/src/main/java/org/apache/hop/ui/core/dialog/ContextDialog.java
  ui/src/main/java/org/apache/hop/ui/hopgui/file/pipeline/HopGuiPipelineGraph.java
  ui/src/main/java/org/apache/hop/ui/hopgui/file/workflow/HopGuiWorkflowGraph.java
  ui/src/main/java/org/apache/hop/ui/hopgui/perspective/execution/DragViewZoomBase.java
  ui/src/main/java/org/apache/hop/ui/hopgui/perspective/execution/PipelineExecutionViewer.java
  ui/src/main/java/org/apache/hop/ui/hopgui/perspective/execution/WorkflowExecutionViewer.java
  ui/src/main/java/org/apache/hop/ui/hopgui/shared/BaseExecutionViewer.java
Labels: Hop Gui

#3764 Translations update from Weblate
  engine/src/main/resources/org/apache/hop/workflow/messages/messages_de_DE.properties
  ui/src/main/resources/org/apache/hop/ui/hopgui/file/pipeline/messages/messages_de_DE.properties
  ui/src/main/resources/org/apache/hop/ui/hopgui/file/pipeline/messages/messages_fr_FR.properties
Labels: Hop Gui

#3768 Translations update from Weblate
  core/src/main/resources/org/apache/hop/core/messages/messages_pt_BR.properties
  core/src/main/resources/org/apache/hop/i18n/messages/messages_pt_BR.properties
  engine/src/main/resources/org/apache/hop/pipeline/transform/messages/messages_pt_BR.properties
  engine/src/main/resources/org/apache/hop/workflow/messages/messages_pt_BR.properties
  plugins/actions/dostounix/src/main/resources/org/apache/hop/workflow/actions/dostounix/messages/messages_pt_BR.properties
  plugins/actions/mssqlbulkload/src/main/resources/org/apache/hop/workflow/actions/mssqlbulkload/messages/messages_pt_BR.properties
  plugins/actions/xml/src/main/resources/org/apache/hop/workflow/actions/xml/xmlwellformed/messages/messages_pt_BR.properties
  plugins/tech/aws/src/main/resources/org/apache/hop/pipeline/transforms/redshift/bulkloader/messages/messages_pt_BR.properties
  plugins/tech/neo4j/src/main/resources/org/apache/hop/neo4j/transforms/cypher/messages/messages_pt_BR.properties
  plugins/transforms/databaselookup/src/main/resources/org/apache/hop/pipeline/transforms/databaselookup/messages/messages_pt_BR.properties
  plugins/transforms/dorisbulkloader/src/main/resources/org/apache/hop/pipeline/transforms/dorisbulkloader/messages/messages_pt_BR.properties
  plugins/transforms/excel/src/main/resources/org/apache/hop/pipeline/transforms/excelinput/messages/messages_pt_BR.properties
  plugins/transforms/filemetadata/src/main/resources/org/apache/hop/pipeline/transforms/filemetadata/messages/messages_pt_BR.properties
  plugins/transforms/filterrows/src/main/resources/org/apache/hop/pipeline/transforms/filterrows/messages/messages_pt_BR.properties
  plugins/transforms/getfilenames/src/main/resources/org/apache/hop/pipeline/transforms/getfilenames/messages/messages_pt_BR.properties
  plugins/transforms/getsubfolders/src/main/resources/org/apache/hop/pipeline/transforms/getsubfolders/messages/messages_pt_BR.properties
  plugins/transforms/gettablenames/src/main/resources/org/apache/hop/pipeline/transforms/gettablenames/messages/messages_pt_BR.properties
  plugins/transforms/janino/src/main/resources/org/apache/hop/pipeline/transforms/userdefinedjavaclass/messages/messages_pt_BR.properties
  plugins/transforms/javascript/src/main/resources/org/apache/hop/pipeline/transforms/javascript/messages/messages_pt_BR.properties
  plugins/transforms/ldap/src/main/resources/org/apache/hop/pipeline/transforms/ldapinput/messages/messages_pt_BR.properties
  plugins/transforms/loadfileinput/src/main/resources/org/apache/hop/pipeline/transforms/loadfileinput/messages/messages_pt_BR.properties
  plugins/transforms/orabulkloader/src/main/resources/org/apache/hop/pipeline/transforms/orabulkloader/messages/messages_pt_BR.properties
  plugins/transforms/pgbulkloader/src/main/resources/org/apache/hop/pipeline/transforms/pgbulkloader/messages/messages_pt_BR.properties
  plugins/transforms/propertyinput/src/main/resources/org/apache/hop/pipeline/transforms/propertyinput/messages/messages_pt_BR.properties
  plugins/transforms/salesforce/src/main/resources/org/apache/hop/pipeline/transforms/salesforcedelete/messages/messages_pt_BR.properties
  plugins/transforms/salesforce/src/main/resources/org/apache/hop/pipeline/transforms/salesforceupsert/messages/messages_pt_BR.properties
  plugins/transforms/script/src/main/resources/org/apache/hop/pipeline/transforms/script/messages/messages_pt_BR.properties
  plugins/transforms/snowflake/src/main/resources/org/apache/hop/pipeline/transforms/snowflake/bulkloader/messages/messages_pt_BR.properties
  plugins/transforms/sqlfileoutput/src/main/resources/org/apache/hop/pipeline/transforms/sqlfileoutput/messages/messages_pt_BR.properties
  plugins/transforms/tableoutput/src/main/resources/org/apache/hop/pipeline/transforms/tableoutput/messages/messages_pt_BR.properties
  plugins/transforms/terafast/src/main/resources/org/apache/hop/pipeline/transforms/terafast/messages/messages_pt_BR.properties
  plugins/transforms/tika/src/main/resources/org/apache/hop/pipeline/transforms/tika/messages/messages_pt_BR.properties
  plugins/transforms/tokenreplacement/src/main/resources/org/apache/hop/pipeline/transforms/tokenreplacement/messages/messages_pt_BR.properties
  plugins/transforms/verticabulkloader/src/main/resources/org/apache/hop/pipeline/transforms/vertica/bulkloader/messages/messages_pt_BR.properties
  plugins/transforms/xml/src/main/resources/org/apache/hop/pipeline/transforms/xml/getxmldata/messages/messages_pt_BR.properties
  plugins/transforms/xml/src/main/resources/org/apache/hop/pipeline/transforms/xml/xsdvalidator/messages/messages_pt_BR.properties
  plugins/transforms/xml/src/main/resources/org/apache/hop/pipeline/transforms/xml/xslt/messages/messages_pt_BR.properties
  plugins/transforms/yamlinput/src/main/resources/org/apache/hop/pipeline/transforms/yamlinput/messages/messages_pt_BR.properties
  ui/src/main/resources/org/apache/hop/ui/hopgui/dialog/messages/messages_pt_BR.properties
  ui/src/main/resources/org/apache/hop/ui/hopgui/file/pipeline/messages/messages_pt_BR.properties
  ui/src/main/resources/org/apache/hop/ui/hopgui/file/workflow/messages/messages_pt_BR.properties
Labels: Hop Gui, Neo4j
