Repository apache/hop, pull requests merged in 2025-09, with the labels that each got.

#5655 Hop metadata driven architecture .fixes #2640
  docs/hop-user-manual/modules/ROOT/pages/concepts.adoc
  docs/hop-user-manual/modules/ROOT/pages/metadata-driven-architecture.adoc
Labels: Documentation

#5676 Remove bitnami images, fixes #5675
  docker/integration-tests/integration-tests-kafka.yaml
Labels: Containers

#5692 fix broken IT tests, fixes #5691
  core/src/main/java/org/apache/hop/core/config/HopConfig.java
  docker/integration-tests/integration-tests-opensearch.yaml
  integration-tests/vertica/disabled.txt
  plugins/tech/avro/src/main/java/org/apache/hop/avro/transforms/avrooutput/AvroOutput.java
Labels: Containers, Integration Testing

#5683 Mail Action - Empty mail attachment
  docker/integration-tests/integration-tests-mail.yaml
  integration-tests/mail/datasets/test.txt
  integration-tests/mail/main-0009-mail-with-zip.hwf
  plugins/misc/mail/src/main/java/org/apache/hop/mail/workflow/actions/mail/ActionMail.java
Labels: Containers, Integration Testing

#5665 Issue #5660
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/mergerows.adoc
  integration-tests/mdi/0030-merge-rows-template.hpl
  integration-tests/mdi/0030-merge-rows.hpl
  integration-tests/mdi/datasets/golden-merge-rows.csv
  integration-tests/mdi/main-0030-merge-rows.hwf
  integration-tests/mdi/metadata/dataset/golden-merge-rows.json
  integration-tests/mdi/metadata/unit-test/0030-merge-rows UNIT.json
  integration-tests/transforms/0077-merge-rows-diff.hpl
  integration-tests/transforms/0077-merge-rows.hpl
  integration-tests/transforms/datasets/golden-merge-rows-diff.csv
  integration-tests/transforms/datasets/golden-merge-rows.csv
  integration-tests/transforms/main-0077-merge-rows.hwf
  integration-tests/transforms/metadata/dataset/golden-merge-rows-diff.json
  integration-tests/transforms/metadata/dataset/golden-merge-rows.json
  integration-tests/transforms/metadata/unit-test/0077-merge-rows UNIT.json
  integration-tests/transforms/metadata/unit-test/0077-merge-rows-diff UNIT.json
  plugins/transforms/mergerows/src/main/java/org/apache/hop/pipeline/transforms/mergerows/MergeRows.java
  plugins/transforms/mergerows/src/main/java/org/apache/hop/pipeline/transforms/mergerows/MergeRowsDialog.java
  plugins/transforms/mergerows/src/main/java/org/apache/hop/pipeline/transforms/mergerows/MergeRowsMeta.java
  plugins/transforms/mergerows/src/main/resources/org/apache/hop/pipeline/transforms/mergerows/messages/messages_en_US.properties
  plugins/transforms/mergerows/src/test/java/org/apache/hop/pipeline/transforms/mergerows/MergeRowsMetaInjectionTest.java
  plugins/transforms/mergerows/src/test/java/org/apache/hop/pipeline/transforms/mergerows/MergeRowsMetaTest.java
  plugins/transforms/mergerows/src/test/resources/merge-rows.xml
  ui/src/main/java/org/apache/hop/ui/hopgui/HopCommandGui.java
Labels: Documentation, Hop Gui, Integration Testing

#5727 new integration test to validate AES passwords and make sure keys do …
  docker/integration-tests/integration-tests-aes.yaml
  integration-tests/aes/dev-env-config.json
  integration-tests/aes/hop-config.json
  integration-tests/aes/main-0000-aes2-decrypt-password-loop.hpl
  integration-tests/aes/main-0000-aes2-decrypt-password.hpl
  integration-tests/aes/main-0000-aes2-decrypt-password.hwf
  integration-tests/aes/metadata/pipeline-run-configuration/local.json
  integration-tests/aes/metadata/workflow-run-configuration/local.json
  integration-tests/aes/project-config.json
Labels: Containers, Integration Testing

#5726 fix context menu action "copy to clipboard" actually copying field va…
  ui/src/main/java/org/apache/hop/ui/core/widget/TableView.java
Labels: Hop Gui

#5734 [DOCS] specify input processing behavior. #3909
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/execsql.adoc
Labels: Documentation

#5739 Fix #5736
  ui/src/main/java/org/apache/hop/ui/hopgui/file/pipeline/HopGuiPipelineGraph.java
Labels: Hop Gui

#5742 [IT] fix Tika test after library upgrade
  integration-tests/mdi/datasets/golden-apache-tika.csv
Labels: Integration Testing
