Repository apache/hop, pull requests merged in 2025-10, with the labels that each got.

#5688 Issue #2333
  assemblies/plugins/pom.xml
  core/src/main/java/org/apache/hop/metadata/api/HopMetadataPropertyType.java
  docker/Dockerfile
  docker/integration-tests/integration-tests-minio.yaml
  docker/resources/load-and-execute.sh
  docs/hop-tech-manual/modules/ROOT/pages/docker-container.adoc
  docs/hop-user-manual/modules/ROOT/nav.adoc
  docs/hop-user-manual/modules/ROOT/pages/metadata-types/index.adoc
  docs/hop-user-manual/modules/ROOT/pages/metadata-types/minio-connection.adoc
  docs/hop-user-manual/modules/ROOT/pages/vfs.adoc
  docs/hop-user-manual/modules/ROOT/pages/vfs/minio-vfs.adoc
  integration-tests/minio/0001-minio-create-files.hpl
  integration-tests/minio/0001-minio-random-data-file.hpl
  integration-tests/minio/0001-minio-validate-files.hpl
  integration-tests/minio/datasets/golden-minio-validate-files.csv
  integration-tests/minio/dev-env-config.json
  integration-tests/minio/hop-config.json
  integration-tests/minio/main-0001-minio-file-handling.hwf
  integration-tests/minio/metadata/MinioConnectionDefinition/minio.json
  integration-tests/minio/metadata/dataset/golden-minio-validate-files.json
  integration-tests/minio/metadata/pipeline-run-configuration/local.json
  integration-tests/minio/metadata/unit-test/0001-minio-validate-files UNIT.json
  integration-tests/minio/metadata/workflow-run-configuration/local.json
  integration-tests/minio/project-config.json
  plugins/actions/copyfiles/src/main/java/org/apache/hop/workflow/actions/copyfiles/ActionCopyFiles.java
  plugins/actions/deletefolders/src/main/java/org/apache/hop/workflow/actions/deletefolders/ActionDeleteFolders.java
  plugins/tech/minio/pom.xml
  plugins/tech/minio/src/assembly/assembly.xml
  plugins/tech/minio/src/main/java/org/apache/hop/vfs/minio/MinioFileName.java
  plugins/tech/minio/src/main/java/org/apache/hop/vfs/minio/MinioFileNameParser.java
  plugins/tech/minio/src/main/java/org/apache/hop/vfs/minio/MinioFileObject.java
  plugins/tech/minio/src/main/java/org/apache/hop/vfs/minio/MinioFileProvider.java
  plugins/tech/minio/src/main/java/org/apache/hop/vfs/minio/MinioFileSystem.java
  plugins/tech/minio/src/main/java/org/apache/hop/vfs/minio/MinioUtil.java
  plugins/tech/minio/src/main/java/org/apache/hop/vfs/minio/MinioVfsPlugin.java
  plugins/tech/minio/src/main/java/org/apache/hop/vfs/minio/metadata/MinioMeta.java
  plugins/tech/minio/src/main/java/org/apache/hop/vfs/minio/metadata/MinioMetaEditor.java
  plugins/tech/minio/src/main/java/org/apache/hop/vfs/minio/util/MinioPipedOutputStream.java
  plugins/tech/minio/src/main/resources/org/apache/hop/vfs/minio/messages/messages_en_US.properties
  plugins/tech/minio/src/main/resources/org/apache/hop/vfs/minio/metadata/messages/messages_en_US.properties
  plugins/tech/minio/src/main/resources/version.xml
  plugins/tech/minio/src/test/java/org/apache/hop/vfs/minio/MinioFileNameParserTest.java
  plugins/tech/minio/src/test/java/org/apache/hop/vfs/minio/MinioFileNameTest.java
  plugins/tech/minio/src/test/java/org/apache/hop/vfs/minio/MinioFileObjectTest.java
  plugins/tech/minio/src/test/java/org/apache/hop/vfs/minio/MinioFileProviderTest.java
  plugins/tech/minio/src/test/java/org/apache/hop/vfs/minio/MinioFileSystemTest.java
  plugins/tech/minio/src/test/java/org/apache/hop/vfs/minio/MinioMetaTest.java
  plugins/tech/minio/src/test/java/org/apache/hop/vfs/minio/MinioUtilTest.java
  plugins/tech/minio/src/test/java/org/apache/hop/vfs/minio/MinioVfsPluginTest.java
  plugins/tech/pom.xml
  ui/src/main/java/org/apache/hop/ui/core/dialog/BaseDialog.java
  ui/src/main/java/org/apache/hop/ui/core/vfs/HopVfsFileDialog.java
Labels: Containers, Documentation, Hop Gui, Integration Testing

#5751 hide rdbms editor fields #5699
  core/src/main/java/org/apache/hop/core/database/BaseDatabaseMeta.java
  core/src/main/java/org/apache/hop/core/database/DatabaseMeta.java
  core/src/main/java/org/apache/hop/core/database/IDatabase.java
  plugins/tech/databricks/src/main/java/org/apache/hop/database/databricks/DatabricksDatabaseMeta.java
  ui/src/main/java/org/apache/hop/ui/core/database/DatabaseMetaEditor.java
  ui/src/main/java/org/apache/hop/ui/core/gui/GuiCompositeWidgets.java
  ui/src/main/resources/org/apache/hop/ui/core/database/messages/messages_en_US.properties
Labels: Hop Gui

#5763 Fix #5754, propagate style in `ShowMessageDialog`
  core/src/main/java/org/apache/hop/core/Const.java
  ui/src/main/java/org/apache/hop/ui/core/database/DatabaseMetaEditor.java
  ui/src/main/java/org/apache/hop/ui/core/dialog/MessageBox.java
  ui/src/main/java/org/apache/hop/ui/core/dialog/ShowMessageDialog.java
  ui/src/main/java/org/apache/hop/ui/core/metadata/MetadataEditorDialog.java
Labels: Database, Hop Gui, Metadata

#5776 Activate TabFolder when performing pipeline/workflow checks #5775
  ui/src/main/java/org/apache/hop/ui/hopgui/file/pipeline/delegates/HopGuiPipelineCheckDelegate.java
  ui/src/main/java/org/apache/hop/ui/hopgui/file/workflow/delegates/HopGuiWorkflowCheckDelegate.java
Labels: Hop Gui

#5771 Fix file paths in "Export current project to zip" #5662
  plugins/misc/projects/src/main/java/org/apache/hop/projects/gui/ProjectsGuiPlugin.java
  plugins/misc/projects/src/main/resources/org/apache/hop/projects/gui/messages/messages_en_US.properties
  ui/src/main/java/org/apache/hop/ui/core/widget/FileTree.java
Labels: Hop Gui

#5795 Webservice improvements, fixes #5425 ,#4692, #4277 and #2673
  docs/hop-user-manual/modules/ROOT/pages/hop-server/web-service.adoc
  engine/src/main/java/org/apache/hop/www/WebServiceServlet.java
  engine/src/main/java/org/apache/hop/www/service/WebService.java
  ui/src/main/java/org/apache/hop/ui/www/service/WebServiceEditor.java
  ui/src/main/java/org/apache/hop/ui/www/service/WebServiceGuiPlugin.java
  ui/src/main/resources/org/apache/hop/ui/www/service/messages/messages_en_US.properties
Labels: Documentation, Hop Gui
