Repository apache/hop, pull requests merged in 2025-07, with the labels that each got.

#5436 Fix base directory assembly.xml of Database Procedure transformation
  plugins/transforms/dbproc/src/assembly/assembly.xml
Labels: Transforms

#5473 issues #5472, #5456, #5468, #5320, #5474, #5475, #5477
  engine/src/main/java/org/apache/hop/execution/sampler/plugins/first/FirstRowsExecutionDataSampler.java
  engine/src/main/java/org/apache/hop/execution/sampler/plugins/last/LastRowsExecutionDataSampler.java
  engine/src/main/java/org/apache/hop/execution/sampler/plugins/random/RandomRowsExecutionDataSampler.java
  integration-tests/partitioning/0007-partitioned-unit-test.hpl
  integration-tests/partitioning/datasets/golden-partitioned.csv
  integration-tests/partitioning/datasets/input-partitioned.csv
  integration-tests/partitioning/main-0007-partitioned-unit-test.hwf
  integration-tests/partitioning/metadata/dataset/golden-partitioned.json
  integration-tests/partitioning/metadata/dataset/input-partitioned.json
  integration-tests/partitioning/metadata/unit-test/0007-partitioned-unit-test UNIT.json
  plugins/misc/testing/src/main/java/org/apache/hop/testing/gui/TestingGuiPlugin.java
  plugins/misc/testing/src/main/java/org/apache/hop/testing/xp/PipelineMetaModifier.java
  plugins/misc/testing/src/main/java/org/apache/hop/ui/testing/DataSetEditor.java
  plugins/transforms/json/src/main/java/org/apache/hop/pipeline/transforms/jsoninput/JsonInputDialog.java
  plugins/transforms/yamlinput/src/main/java/org/apache/hop/pipeline/transforms/yamlinput/YamlInput.java
  ui/src/main/java/org/apache/hop/ui/hopgui/file/pipeline/HopGuiPipelineGraph.java
  ui/src/main/java/org/apache/hop/ui/hopgui/file/pipeline/delegates/HopGuiPipelineGridDelegate.java
Labels: Hop Gui, Integration Testing

#5481 updated join action documentation. fixes #5471
  docs/hop-user-manual/modules/ROOT/assets/images/how-to-guides/parallel-workflows/continue-in-parallel-join.png
  docs/hop-user-manual/modules/ROOT/pages/how-to-guides/workflows-parallel-execution.adoc
  docs/hop-user-manual/modules/ROOT/pages/workflow/actions/join.adoc
Labels: Documentation

#5434 Fix the name in the POM.XML
  plugins/actions/snowflake/pom.xml
  plugins/transforms/delete/pom.xml
  plugins/transforms/synchronizeaftermerge/pom.xml
Labels: Transforms

#5469 Use copy factory to clone metadata, fixes #5053
  engine/src/main/java/org/apache/hop/pipeline/PipelineMeta.java
  engine/src/main/java/org/apache/hop/pipeline/transform/TransformMeta.java
  engine/src/main/java/org/apache/hop/pipeline/transform/copy/CopyContext.java
  engine/src/main/java/org/apache/hop/pipeline/transform/copy/DefaultTransformMetaCopyFactory.java
  engine/src/main/java/org/apache/hop/pipeline/transform/copy/ITransformMetaCopyFactory.java
  engine/src/main/java/org/apache/hop/workflow/action/ActionMeta.java
  engine/src/main/java/org/apache/hop/workflow/action/copy/DefaultActionCopyFactory.java
  engine/src/main/java/org/apache/hop/workflow/action/copy/IActionCopyFactory.java
  engine/src/test/java/org/apache/hop/pipeline/transform/copy/DefaultTransformMetaCopyFactoryTest.java
  engine/src/test/java/org/apache/hop/workflow/action/copy/DefaultActionCopyFactoryTest.java
  plugins/actions/delay/src/main/java/org/apache/hop/workflow/actions/delay/ActionDelay.java
  ui/src/main/java/org/apache/hop/ui/hopgui/file/pipeline/delegates/HopGuiPipelineTransformDelegate.java
Labels: Hop Gui

#5487 removed transform notes from write to log action. fixes #5375
  docs/hop-user-manual/modules/ROOT/pages/workflow/actions/writetolog.adoc
Labels: Documentation

#5440 Add syntax highlighting for SqlEditor #5439
  ui/src/main/java/org/apache/hop/ui/core/database/dialog/SqlEditor.java
Labels: Hop Gui

#5431 variable support in XML Join transform #5396
  integration-tests/xml/0009-xml-join-with-variables-5396.hpl
  integration-tests/xml/dev-env-config.json
  integration-tests/xml/main-0009-xml-join-with-variables-5396.hwf
  plugins/transforms/xml/src/main/java/org/apache/hop/pipeline/transforms/xml/xmljoin/XmlJoin.java
  plugins/transforms/xml/src/main/java/org/apache/hop/pipeline/transforms/xml/xmljoin/XmlJoinMeta.java
Labels: Integration Testing

#5489 issue #5484, #5461, #5460, #5459, #5409
  engine/src/main/java/org/apache/hop/pipeline/Pipeline.java
  engine/src/main/java/org/apache/hop/workflow/actions/start/ActionStart.java
  engine/src/main/resources/org/apache/hop/workflow/actions/start/messages/messages_en_US.properties
  plugins/actions/checkdbconnection/src/main/java/org/apache/hop/workflow/actions/checkdbconnection/ActionCheckDbConnections.java
  plugins/actions/checkdbconnection/src/main/java/org/apache/hop/workflow/actions/checkdbconnection/ActionCheckDbConnectionsDialog.java
  plugins/actions/checkdbconnection/src/main/resources/org/apache/hop/workflow/actions/checkdbconnection/messages/messages_en_US.properties
  plugins/actions/checkdbconnection/src/test/java/org/apache/hop/workflow/actions/checkdbconnection/ActionCheckDbConnectionsTest.java
  plugins/misc/reflection/src/main/java/org/apache/hop/reflection/pipeline/xp/PipelineStartLoggingXp.java
  plugins/misc/reflection/src/main/java/org/apache/hop/reflection/workflow/xp/WorkflowStartLoggingXp.java
  ui/src/main/java/org/apache/hop/ui/workflow/actions/start/ActionStartDialog.java
Labels: Hop Gui

#5495 Fix #5492
  docs/hop-user-manual/modules/ROOT/pages/hop-tools/hop-encrypt.adoc
Labels: Documentation

#5430 updated pipeline execution metrics. fixes #5415
  docs/hop-user-manual/modules/ROOT/nav.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/pipeline-metrics.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/run-preview-debug-pipeline.adoc
  docs/hop-user-manual/modules/ROOT/pages/snippets/pipeline-metrics-table.adoc
Labels: Documentation

#5504 Re-add setter for TableViewModifyListener
  ui/src/main/java/org/apache/hop/ui/core/widget/TableView.java
Labels: Hop Gui

#5535 Improve some icons color #5441
  plugins/actions/evaluatetablecontent/src/main/resources/EvalTableContent.svg
  plugins/actions/truncatetables/src/main/resources/TruncateTables.svg
Labels: Actions

#5552 Update sftp.adoc - partial fix #5517
  docs/hop-user-manual/modules/ROOT/pages/workflow/actions/sftp.adoc
Labels: Documentation

#5553 Update sftpput.adoc - partial fix #5517
  docs/hop-user-manual/modules/ROOT/pages/workflow/actions/sftpput.adoc
Labels: Documentation

#5551 fix missing samples in Hop Web , fixes #5476
  assemblies/client/src/assembly/assembly.xml
  docker/Dockerfile.web
Labels: Containers

#5523 updated metadata documentation. fixes #5500
  docs/hop-user-manual/modules/ROOT/assets/images/hop-gui/perspective-data-orchestration-left-hand-tree.png
  docs/hop-user-manual/modules/ROOT/pages/metadata-types/index.adoc
Labels: Documentation

#5350 Simplify the user interface for the “Delete files” action #5349
  docs/hop-user-manual/modules/ROOT/pages/workflow/actions/deletefiles.adoc
  plugins/actions/deletefiles/src/main/java/org/apache/hop/workflow/actions/deletefiles/ActionDeleteFilesDialog.java
  plugins/actions/deletefiles/src/main/resources/org/apache/hop/workflow/actions/deletefiles/messages/messages_de_DE.properties
  plugins/actions/deletefiles/src/main/resources/org/apache/hop/workflow/actions/deletefiles/messages/messages_en_US.properties
  plugins/actions/deletefiles/src/main/resources/org/apache/hop/workflow/actions/deletefiles/messages/messages_es_AR.properties
  plugins/actions/deletefiles/src/main/resources/org/apache/hop/workflow/actions/deletefiles/messages/messages_es_ES.properties
  plugins/actions/deletefiles/src/main/resources/org/apache/hop/workflow/actions/deletefiles/messages/messages_fr_FR.properties
  plugins/actions/deletefiles/src/main/resources/org/apache/hop/workflow/actions/deletefiles/messages/messages_it_IT.properties
  plugins/actions/deletefiles/src/main/resources/org/apache/hop/workflow/actions/deletefiles/messages/messages_ja_JP.properties
  plugins/actions/deletefiles/src/main/resources/org/apache/hop/workflow/actions/deletefiles/messages/messages_ko_KR.properties
  plugins/actions/deletefiles/src/main/resources/org/apache/hop/workflow/actions/deletefiles/messages/messages_nl_NL.properties
  plugins/actions/deletefiles/src/main/resources/org/apache/hop/workflow/actions/deletefiles/messages/messages_pt_BR.properties
  plugins/actions/deletefiles/src/main/resources/org/apache/hop/workflow/actions/deletefiles/messages/messages_zh_CN.properties
Labels: Documentation, Actions

#5339 Simplify the user interface for the “Move files” action #5330
  docs/hop-user-manual/modules/ROOT/pages/workflow/actions/movefiles.adoc
  plugins/actions/movefiles/src/main/java/org/apache/hop/workflow/actions/movefiles/ActionMoveFilesDialog.java
  plugins/actions/movefiles/src/main/resources/org/apache/hop/workflow/actions/movefiles/messages/messages_en_US.properties
  plugins/actions/movefiles/src/main/resources/org/apache/hop/workflow/actions/movefiles/messages/messages_es_AR.properties
  plugins/actions/movefiles/src/main/resources/org/apache/hop/workflow/actions/movefiles/messages/messages_es_ES.properties
  plugins/actions/movefiles/src/main/resources/org/apache/hop/workflow/actions/movefiles/messages/messages_fr_FR.properties
  plugins/actions/movefiles/src/main/resources/org/apache/hop/workflow/actions/movefiles/messages/messages_it_IT.properties
  plugins/actions/movefiles/src/main/resources/org/apache/hop/workflow/actions/movefiles/messages/messages_ja_JP.properties
  plugins/actions/movefiles/src/main/resources/org/apache/hop/workflow/actions/movefiles/messages/messages_ko_KR.properties
  plugins/actions/movefiles/src/main/resources/org/apache/hop/workflow/actions/movefiles/messages/messages_pt_BR.properties
  plugins/actions/movefiles/src/main/resources/org/apache/hop/workflow/actions/movefiles/messages/messages_zh_CN.properties
Labels: Documentation, Actions

#5562 Move the Abort workflow action to the General category #5561
  plugins/actions/abort/src/main/java/org/apache/hop/workflow/actions/abort/ActionAbort.java
  plugins/actions/ftp/src/main/java/org/apache/hop/workflow/actions/ftp/ActionFtpDialog.java
Labels: Actions

#5567 Add StartAction to Docker Image
  docker/Dockerfile
  docker/resources/load-and-execute.sh
Labels: Containers

#5570 Update filesexist.adoc - fix #4488
  docs/hop-user-manual/modules/ROOT/pages/workflow/actions/filesexist.adoc
Labels: Documentation

#5566 update dependencies and license file, fixes #5564
  assemblies/static/src/main/resources/LICENSE
  docs/hop-user-manual/modules/ROOT/pages/database/databases/clickhouse.adoc
  lib-jdbc/pom.xml
  lib/pom.xml
Labels: Documentation

#5574 Fix the compatibility issue of RWT: Program #5325
  plugins/engines/beam/src/main/java/org/apache/hop/beam/gui/HopBeamGuiPlugin.java
  plugins/engines/beam/src/main/resources/org/apache/hop/beam/gui/messages/messages_en_US.properties
  plugins/engines/beam/src/main/resources/org/apache/hop/beam/gui/messages/messages_zh_CN.properties
  ui/src/main/java/org/apache/hop/ui/util/EnvironmentUtils.java
Labels: Hop Gui

#5599 Table Input page improvements and examples, fixes 4904
  docs/hop-user-manual/modules/ROOT/assets/images/transforms/tableinput/table-input-combine-variables-and-prepared-statements.png
  docs/hop-user-manual/modules/ROOT/assets/images/transforms/tableinput/table-input-date-range.png
  docs/hop-user-manual/modules/ROOT/assets/images/transforms/tableinput/table-input-parametrized-query.png
  docs/hop-user-manual/modules/ROOT/assets/images/transforms/tableinput/table-input-variables-in-sql-parameter-definition.png
  docs/hop-user-manual/modules/ROOT/assets/images/transforms/tableinput/table-input-variables-in-sql.png
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/tableinput.adoc
Labels: Documentation
