Repository apache/hop, pull requests merged in 2025-02, with the labels that each got.

#4854 updated table input docs. #4117
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/tableinput.adoc
Labels: Documentation

#4848 add HopMetadataProperty to Mergejoin, fixes #1875
  core/src/main/java/org/apache/hop/core/Condition.java
  integration-tests/mdi/0028-join-rows-metadata-parent.hpl
  integration-tests/mdi/0028-join-rows-template-child.hpl
  integration-tests/mdi/datasets/golden-join-rows.csv
  integration-tests/mdi/main-0028-join-rows.hwf
  integration-tests/mdi/metadata/dataset/golden-join-rows.json
  integration-tests/mdi/metadata/unit-test/0028-join-rows-metadata-parent UNIT.json
  plugins/transforms/joinrows/pom.xml
  plugins/transforms/joinrows/src/main/java/org/apache/hop/pipeline/transforms/joinrows/JoinRowsDialog.java
  plugins/transforms/joinrows/src/main/java/org/apache/hop/pipeline/transforms/joinrows/JoinRowsMeta.java
  plugins/transforms/joinrows/src/main/samples/transforms/join_rows.hpl
  plugins/transforms/joinrows/src/test/java/org/apache/hop/pipeline/transforms/joinrows/JoinRowsMetaInjectionTest.java
  plugins/transforms/joinrows/src/test/java/org/apache/hop/pipeline/transforms/joinrows/JoinRowsMetaTest.java
  plugins/transforms/joinrows/src/test/resources/join-rows-transform-with-condition.xml
  plugins/transforms/joinrows/src/test/resources/join-rows-transform.xml
Labels: Integration Testing

#4867 add HopMetadataProperty to MSSQ BulkLoader action, fixes #1981
  docker/integration-tests/integration-tests-database.yaml
  docker/integration-tests/resource/mssql/mssql_bulkload.csv
  integration-tests/database/dev-env-config.json
  integration-tests/database/main-0030-mssql-bulk-load.hwf
  integration-tests/database/metadata/rdbms/mssql-test-db.json
  plugins/actions/mssqlbulkload/src/main/java/org/apache/hop/workflow/actions/mssqlbulkload/ActionMssqlBulkLoad.java
  plugins/actions/mssqlbulkload/src/main/java/org/apache/hop/workflow/actions/mssqlbulkload/ActionMssqlBulkLoadDialog.java
  plugins/actions/mssqlbulkload/src/test/java/org/apache/hop/workflow/actions/mssqlbulkload/WorkflowActionMssqlBulkLoadLoadSaveTest.java
  plugins/actions/mssqlbulkload/src/test/resources/mssql-bulkloader-action.xml
Labels: Containers, Integration Testing

#4361 Cleanup XML for SelectValues transform
  integration-tests/mdi/0029-inject-select-values.hpl
  integration-tests/mdi/0029-select-values-template.hpl
  integration-tests/mdi/datasets/golden-select-values.csv
  integration-tests/mdi/main-0029-inject-select-values.hwf
  integration-tests/mdi/metadata/dataset/golden-select-values.json
  integration-tests/mdi/metadata/unit-test/0029-select-values-template UNIT.json
  integration-tests/transforms/0074-select-values-metadata.hpl
  integration-tests/transforms/0074-select-values-remove.hpl
  integration-tests/transforms/0074-select-values-select-alter.hpl
  integration-tests/transforms/datasets/golden-select-values-2.csv
  integration-tests/transforms/datasets/golden-select-values-3.csv
  integration-tests/transforms/datasets/golden-select-values.csv
  integration-tests/transforms/datasets/world_hits.csv
  integration-tests/transforms/main-0074-select-values.hwf
  integration-tests/transforms/metadata/dataset/golden-select-values-2.json
  integration-tests/transforms/metadata/dataset/golden-select-values-3.json
  integration-tests/transforms/metadata/dataset/golden-select-values.json
  integration-tests/transforms/metadata/unit-test/0074-select-values-metadata UNIT.json
  integration-tests/transforms/metadata/unit-test/0074-select-values-remove UNIT.json
  integration-tests/transforms/metadata/unit-test/0074-select-values-select-alter UNIT.json
  integration-tests/transforms/project-config.json
  plugins/transforms/selectvalues/pom.xml
  plugins/transforms/selectvalues/src/main/java/org/apache/hop/pipeline/transforms/selectvalues/DeleteField.java
  plugins/transforms/selectvalues/src/main/java/org/apache/hop/pipeline/transforms/selectvalues/SelectField.java
  plugins/transforms/selectvalues/src/main/java/org/apache/hop/pipeline/transforms/selectvalues/SelectMetadataChange.java
  plugins/transforms/selectvalues/src/main/java/org/apache/hop/pipeline/transforms/selectvalues/SelectOptions.java
  plugins/transforms/selectvalues/src/main/java/org/apache/hop/pipeline/transforms/selectvalues/SelectValues.java
  plugins/transforms/selectvalues/src/main/java/org/apache/hop/pipeline/transforms/selectvalues/SelectValuesDialog.java
  plugins/transforms/selectvalues/src/main/java/org/apache/hop/pipeline/transforms/selectvalues/SelectValuesMeta.java
  plugins/transforms/selectvalues/src/test/java/org/apache/hop/pipeline/transforms/selectvalues/SelectValueMetaTestFactory.java
  plugins/transforms/selectvalues/src/test/java/org/apache/hop/pipeline/transforms/selectvalues/SelectValuesMetaInjectionTest.java
  plugins/transforms/selectvalues/src/test/java/org/apache/hop/pipeline/transforms/selectvalues/SelectValuesMetaTest.java
  plugins/transforms/selectvalues/src/test/java/org/apache/hop/pipeline/transforms/selectvalues/SelectValuesTest.java
  plugins/transforms/selectvalues/src/test/java/org/apache/hop/pipeline/transforms/selectvalues/SelectValues_LocaleHandling_Test.java
  plugins/transforms/selectvalues/src/test/resources/select-values-transform.xml
  plugins/valuetypes/pom.xml
  pom.xml
Labels: Integration Testing

#4893 add MySql Bulk Loader transform, #2365
  assemblies/plugins/pom.xml
  docker/integration-tests/Dockerfile.unit-tests
  docker/integration-tests/integration-tests-database.yaml
  docker/integration-tests/resource/mysql/my.cnf
  docs/hop-user-manual/modules/ROOT/assets/images/transforms/icons/mysqlbulkloader.svg
  docs/hop-user-manual/modules/ROOT/nav.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/mysqlbulkloader.adoc
  integration-tests/database/0031-mysql-bulkloader.hpl
  integration-tests/database/dev-env-config.json
  integration-tests/database/main-0031-mysql-bulkload.hwf
  integration-tests/database/metadata/rdbms/mysql.json
  plugins/transforms/mysqlbulkloader/pom.xml
  plugins/transforms/mysqlbulkloader/src/assembly/assembly.xml
  plugins/transforms/mysqlbulkloader/src/main/java/org/apache/hop/pipeline/transforms/mysqlbulkloader/MySqlBulkLoader.java
  plugins/transforms/mysqlbulkloader/src/main/java/org/apache/hop/pipeline/transforms/mysqlbulkloader/MySqlBulkLoaderData.java
  plugins/transforms/mysqlbulkloader/src/main/java/org/apache/hop/pipeline/transforms/mysqlbulkloader/MySqlBulkLoaderDialog.java
  plugins/transforms/mysqlbulkloader/src/main/java/org/apache/hop/pipeline/transforms/mysqlbulkloader/MySqlBulkLoaderMeta.java
  plugins/transforms/mysqlbulkloader/src/main/resources/mysqlbulkloader.svg
  plugins/transforms/mysqlbulkloader/src/main/resources/org/apache/hop/pipeline/transforms/mysqlbulkloader/messages/messages_en_US.properties
  plugins/transforms/mysqlbulkloader/src/main/resources/version.xml
  plugins/transforms/mysqlbulkloader/src/test/java/org/apache/hop/pipeline/transforms/mysqlbulkloader/MySqlBulkLoaderMetaTest.java
  plugins/transforms/mysqlbulkloader/src/test/resources/mysql-bulkloader-transform.xml
  plugins/transforms/pom.xml
Labels: Containers, Documentation, Integration Testing

#4913 [RELEASE] Update doc version
  docs/hop-dev-manual/antora.yml
  docs/hop-tech-manual/antora.yml
  docs/hop-user-manual/antora.yml
Labels: Documentation

#4939 Fix #3655 HOP-GUi hangs when call Synchronizer.syncExec of swt in non-ui thread
  engine/src/main/java/org/apache/hop/pipeline/Pipeline.java
  ui/src/main/java/org/apache/hop/ui/hopgui/file/pipeline/HopGuiPipelineGraph.java
Labels: Hop Gui

#4942 Fix #3803 Allow terminating the shell's closed event for ScriptValues & UserDefinedJavaClass transforms
  plugins/transforms/janino/src/main/java/org/apache/hop/pipeline/transforms/userdefinedjavaclass/UserDefinedJavaClassDialog.java
  plugins/transforms/javascript/src/main/java/org/apache/hop/pipeline/transforms/javascript/ScriptValuesDialog.java
  ui/src/main/java/org/apache/hop/ui/core/dialog/BaseDialog.java
Labels: Hop Gui

#4948 Fix #3775 Clean invalid info streams when don't found from previous transforms
  engine/src/main/java/org/apache/hop/pipeline/PipelineMeta.java
  plugins/transforms/mergejoin/src/main/java/org/apache/hop/pipeline/transforms/mergejoin/MergeJoinMeta.java
  ui/src/main/java/org/apache/hop/ui/hopgui/file/pipeline/delegates/HopGuiPipelineHopDelegate.java
  ui/src/main/java/org/apache/hop/ui/hopgui/file/pipeline/delegates/HopGuiPipelineTransformDelegate.java
Labels: Hop Gui

#4924 added data type docs. fixes #4921
  docs/hop-user-manual/modules/ROOT/pages/concepts.adoc
  docs/hop-user-manual/modules/ROOT/pages/snippets/hop-concepts/data-types.adoc
Labels: Documentation

#4916 Improved user interface for pipeline and workflow verification #4912
  core/src/main/resources/org/apache/hop/i18n/messages/messages_en_US.properties
  engine/src/main/java/org/apache/hop/pipeline/PipelineMeta.java
  engine/src/main/java/org/apache/hop/workflow/WorkflowMeta.java
  engine/src/main/java/org/apache/hop/workflow/action/validator/ValidatorMessages.java
  engine/src/main/resources/org/apache/hop/workflow/action/messages/validator.properties
  plugins/actions/abort/src/main/java/org/apache/hop/workflow/actions/abort/ActionAbort.java
  plugins/actions/deletefolders/src/main/java/org/apache/hop/workflow/actions/deletefolders/ActionDeleteFolders.java
  ui/src/main/java/org/apache/hop/ui/core/gui/GuiResource.java
  ui/src/main/java/org/apache/hop/ui/hopgui/dialog/CheckPipelineProgressDialog.java
  ui/src/main/java/org/apache/hop/ui/hopgui/file/pipeline/HopGuiPipelineGraph.java
  ui/src/main/java/org/apache/hop/ui/hopgui/file/pipeline/delegates/HopGuiPipelineCheckDelegate.java
  ui/src/main/java/org/apache/hop/ui/hopgui/file/workflow/HopGuiWorkflowGraph.java
  ui/src/main/java/org/apache/hop/ui/hopgui/file/workflow/delegates/HopGuiWorkflowCheckDelegate.java
  ui/src/main/resources/org/apache/hop/ui/hopgui/dialog/messages/messages_de_DE.properties
  ui/src/main/resources/org/apache/hop/ui/hopgui/dialog/messages/messages_en_US.properties
  ui/src/main/resources/org/apache/hop/ui/hopgui/dialog/messages/messages_es_AR.properties
  ui/src/main/resources/org/apache/hop/ui/hopgui/dialog/messages/messages_es_ES.properties
  ui/src/main/resources/org/apache/hop/ui/hopgui/dialog/messages/messages_fr_FR.properties
  ui/src/main/resources/org/apache/hop/ui/hopgui/dialog/messages/messages_it_IT.properties
  ui/src/main/resources/org/apache/hop/ui/hopgui/dialog/messages/messages_ja_JP.properties
  ui/src/main/resources/org/apache/hop/ui/hopgui/dialog/messages/messages_ko_KR.properties
  ui/src/main/resources/org/apache/hop/ui/hopgui/dialog/messages/messages_nl_NL.properties
  ui/src/main/resources/org/apache/hop/ui/hopgui/dialog/messages/messages_pt_BR.properties
  ui/src/main/resources/org/apache/hop/ui/hopgui/dialog/messages/messages_zh_CN.properties
  ui/src/main/resources/org/apache/hop/ui/hopgui/file/workflow/delegates/messages/messages_en_US.properties
  ui/src/main/resources/org/apache/hop/ui/hopgui/messages/messages_en_US.properties
  ui/src/main/resources/ui/images/check-pipeline.svg
  ui/src/main/resources/ui/images/check-workflow.svg
  ui/src/main/resources/ui/images/check.svg
  ui/src/main/resources/ui/images/show-grid.svg
  ui/src/main/resources/ui/images/warning.svg
Labels: Hop Gui

#4946 allow partial exports of a project, fixes #4945
  assemblies/debug/pom.xml
  plugins/misc/projects/src/main/java/org/apache/hop/projects/gui/ProjectsGuiPlugin.java
  plugins/misc/projects/src/main/java/org/apache/hop/projects/project/ManageProjectsOptionPlugin.java
  plugins/misc/projects/src/main/resources/org/apache/hop/projects/gui/messages/messages_en_US.properties
  plugins/transforms/pipelineexecutor/src/main/java/org/apache/hop/pipeline/transforms/pipelineexecutor/PipelineExecutorMeta.java
  ui/src/main/java/org/apache/hop/ui/core/widget/FileTree.java
  ui/src/main/resources/org/apache/hop/ui/core/widget/messages/messages_en_US.properties
Labels: Hop Gui

#4959 fix googledrive implementation, fixes #2524
  docs/hop-user-manual/modules/ROOT/pages/vfs/google-drive-vfs.adoc
  plugins/engines/beam/pom.xml
  plugins/engines/beam/src/assembly/assembly.xml
  plugins/tech/google/pom.xml
  plugins/tech/google/src/assembly/assembly.xml
Labels: Documentation
