Repository apache/hop, pull requests merged in 2025-04, with the labels that each got.

#5113 More dependency cleanup, #5102
  assemblies/static/src/main/resources/LICENSE
  lib/pom.xml
  plugins/engines/beam/src/assembly/assembly.xml
  plugins/tech/aws/src/assembly/assembly.xml
  plugins/tech/azure/src/assembly/assembly.xml
  plugins/tech/cassandra/src/assembly/assembly.xml
  plugins/tech/dropbox/src/assembly/assembly.xml
  plugins/tech/neo4j/src/assembly/assembly.xml
  plugins/tech/parquet/pom.xml
  plugins/transforms/filemetadata/src/assembly/assembly.xml
  plugins/transforms/kafka/src/assembly/assembly.xml
  plugins/transforms/languagemodelchat/src/assembly/assembly.xml
  plugins/transforms/xml/src/assembly/assembly.xml
Labels: Neo4j

#5122 fix copy paste to jdbc metadata item, fixes #2967
  ui/src/main/java/org/apache/hop/ui/core/metadata/MetadataEditor.java
  ui/src/main/java/org/apache/hop/ui/core/metadata/MetadataManager.java
  ui/src/main/java/org/apache/hop/ui/hopgui/HopGuiKeyHandler.java
Labels: Hop Gui

#5129 updated unit testing documentation. fixes 5127
  docs/hop-user-manual/modules/ROOT/pages/pipeline/pipeline-unit-testing.adoc
  docs/hop-user-manual/modules/ROOT/pages/projects/projects-environments.adoc
Labels: Documentation

#5153 Fix google storage authentication doc url
  plugins/tech/google/src/main/java/org/apache/hop/vfs/gs/metadatatype/GoogleStorageMetadataType.java
Labels: Documentation

#5149 do not fail on missing metadata objects, some cleanup, fixes #5148
  core/src/main/java/org/apache/hop/core/plugins/BasePluginTypeExposer.java
  core/src/main/java/org/apache/hop/core/plugins/SupplementalPlugin.java
  core/src/main/java/org/apache/hop/core/row/value/ValueMetaConverter.java
  core/src/main/java/org/apache/hop/metadata/serializer/json/JsonMetadataParser.java
  core/src/main/java/org/apache/hop/metadata/serializer/json/JsonMetadataSerializer.java
  engine/src/main/java/org/apache/hop/core/metadata/SerializableMetadataProvider.java
  plugins/tech/aws/src/test/java/org/apache/hop/vfs/s3/vfs/S3FileNameParserIT.java
  plugins/tech/aws/src/test/java/org/apache/hop/vfs/s3/vfs/S3FileNameTest.java
  plugins/tech/aws/src/test/java/org/apache/hop/vfs/s3/vfs/S3FileObjectTest.java
  plugins/tech/aws/src/test/java/org/apache/hop/vfs/s3/vfs/S3NFileNameTest.java
  plugins/tech/aws/src/test/java/org/apache/hop/vfs/s3/vfs/S3NFileObjectTest.java
  ui/src/main/java/org/apache/hop/ui/hopgui/perspective/metadata/MetadataPerspective.java
Labels: Hop Gui

#5155 Add help to perspective #5154
  plugins/tech/neo4j/src/main/java/org/apache/hop/neo4j/perspective/HopNeo4jPerspective.java
  ui/src/main/java/org/apache/hop/ui/hopgui/HopGui.java
  ui/src/main/java/org/apache/hop/ui/hopgui/perspective/HopPerspectivePlugin.java
  ui/src/main/java/org/apache/hop/ui/hopgui/perspective/HopPerspectivePluginType.java
  ui/src/main/java/org/apache/hop/ui/hopgui/perspective/configuration/ConfigurationPerspective.java
  ui/src/main/java/org/apache/hop/ui/hopgui/perspective/dataorch/HopDataOrchestrationPerspective.java
  ui/src/main/java/org/apache/hop/ui/hopgui/perspective/execution/ExecutionPerspective.java
  ui/src/main/java/org/apache/hop/ui/hopgui/perspective/explorer/ExplorerPerspective.java
  ui/src/main/java/org/apache/hop/ui/hopgui/perspective/metadata/MetadataPerspective.java
  ui/src/main/java/org/apache/hop/ui/hopgui/perspective/pluginexplorer/HopPluginExplorePerspective.java
  ui/src/main/java/org/apache/hop/ui/hopgui/perspective/search/HopSearchPerspective.java
Labels: Hop Gui, Neo4j

#5168 Fix edit script name with bar in the transformations #5052
  plugins/transforms/janino/src/main/java/org/apache/hop/pipeline/transforms/userdefinedjavaclass/UserDefinedJavaClassDialog.java
  plugins/transforms/javascript/src/main/java/org/apache/hop/pipeline/transforms/javascript/ScriptValuesDialog.java
  plugins/transforms/javascript/src/main/resources/org/apache/hop/pipeline/transforms/javascript/messages/messages_en_US.properties
  plugins/transforms/script/src/main/java/org/apache/hop/pipeline/transforms/script/ScriptDialog.java
Labels: Transforms

#5143 Add some action/transform checks #5142
  engine/src/main/java/org/apache/hop/pipeline/PipelineMeta.java
  engine/src/main/java/org/apache/hop/workflow/WorkflowMeta.java
  engine/src/main/resources/org/apache/hop/pipeline/messages/messages_en_US.properties
  engine/src/main/resources/org/apache/hop/workflow/messages/messages_en_US.properties
  plugins/transforms/metainject/src/main/java/org/apache/hop/pipeline/transforms/metainject/MetaInjectDialog.java
  ui/src/main/java/org/apache/hop/ui/core/gui/GuiResource.java
  ui/src/main/java/org/apache/hop/ui/hopgui/file/pipeline/delegates/HopGuiPipelineCheckDelegate.java
  ui/src/main/java/org/apache/hop/ui/hopgui/file/workflow/delegates/HopGuiWorkflowCheckDelegate.java
  ui/src/main/java/org/apache/hop/ui/hopgui/shared/SwtGc.java
  ui/src/main/java/org/apache/hop/ui/pipeline/debug/PipelineDebugDialog.java
  ui/src/main/java/org/apache/hop/ui/pipeline/transform/BaseTransformDialog.java
  ui/src/main/java/org/apache/hop/ui/workflow/dialog/WorkflowDialog.java
Labels: Hop Gui

#5178 Remove urlencode from formula list, fixes #5108
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/formula.adoc
  plugins/transforms/formula/src/main/resources/org/apache/hop/pipeline/transforms/formula/function/functions.xml
Labels: Documentation

#5200 change pipeline/workflow logging defaults, update docs, fixes #5199
  docs/hop-dev-manual/antora.yml
  docs/hop-tech-manual/antora.yml
  docs/hop-user-manual/antora.yml
  docs/hop-user-manual/modules/ROOT/pages/logging/logging-reflection.adoc
  docs/hop-user-manual/modules/ROOT/pages/metadata-types/pipeline-log.adoc
  docs/hop-user-manual/modules/ROOT/pages/metadata-types/workflow-log.adoc
  integration-tests/kafka/disabled.txt
  plugins/misc/reflection/src/main/java/org/apache/hop/reflection/pipeline/meta/PipelineLog.java
  plugins/misc/reflection/src/main/java/org/apache/hop/reflection/workflow/meta/WorkflowLog.java
Labels: Documentation, Integration Testing

#5203 Workflow execution enable use of variables in static field #5196
  plugins/transforms/workflowexecutor/src/main/java/org/apache/hop/pipeline/transforms/workflowexecutor/WorkflowExecutorDialog.java
  ui/src/main/java/org/apache/hop/ui/core/widget/ColumnInfo.java
Labels: Hop Gui, Transforms

#5194 TableOutput throws NPE on check if no connection is defined #5177
  plugins/transforms/tableoutput/src/main/java/org/apache/hop/pipeline/transforms/tableoutput/TableOutputMeta.java
  plugins/transforms/tableoutput/src/test/java/org/apache/hop/pipeline/transforms/tableoutput/TableOutputMetaTest.java
  plugins/transforms/tableoutput/src/test/java/org/apache/hop/pipeline/transforms/tableoutput/TableOutputTest.java
Labels: Transforms

#5133 Use the same logic to move around the tabs when using keys #5132
  ui/src/main/java/org/apache/hop/ui/hopgui/perspective/dataorch/HopDataOrchestrationPerspective.java
  ui/src/main/java/org/apache/hop/ui/hopgui/perspective/execution/ExecutionPerspective.java
  ui/src/main/java/org/apache/hop/ui/hopgui/perspective/explorer/ExplorerPerspective.java
  ui/src/main/java/org/apache/hop/ui/hopgui/perspective/metadata/MetadataPerspective.java
Labels: Hop Gui

#5185 Bring back to front a tab of an already open file #5184
  ui/src/main/java/org/apache/hop/ui/core/widget/TreeMemory.java
  ui/src/main/java/org/apache/hop/ui/hopgui/perspective/explorer/ExplorerPerspective.java
Labels: Hop Gui

#5209 cleanup and metadata item fixes, #4969
  plugins/actions/abort/src/test/java/org/apache/hop/workflow/actions/abort/ActionAbortTest.java
  plugins/actions/abort/src/test/java/org/apache/hop/workflow/actions/abort/WorkflowActionAbortLoadSaveTest.java
  plugins/actions/addresultfilenames/src/test/java/org/apache/hop/workflow/actions/addresultfilenames/WorkflowActionAddResultFilenamesLoadSaveTest.java
  plugins/actions/as400command/src/test/java/org/apache/hop/workflow/actions/as400command/ActionAs400CommandLoadSaveTest.java
  plugins/actions/checkdbconnection/src/test/java/org/apache/hop/workflow/actions/checkdbconnection/ActionCheckDbConnectionsTest.java
  plugins/actions/checkfilelocked/src/test/java/org/apache/hop/workflow/actions/checkfilelocked/ActionCheckFilesLockedTest.java
  plugins/actions/columnsexist/src/test/java/org/apache/hop/workflow/actions/columnsexist/ActionColumnsExistTest.java
  plugins/actions/copyfiles/src/test/java/org/apache/hop/workflow/actions/copyfiles/WorkflowActionCopyFilesLoadSaveTest.java
  plugins/actions/copyfiles/src/test/java/org/apache/hop/workflow/actions/copyfiles/WorkflowActionCopyFilesTest.java
  ui/src/main/java/org/apache/hop/ui/core/metadata/MetadataEditor.java
  ui/src/main/java/org/apache/hop/ui/core/metadata/MetadataManager.java
  ui/src/main/java/org/apache/hop/ui/core/vfs/HopVfsFileDialog.java
  ui/src/main/java/org/apache/hop/ui/hopgui/perspective/explorer/ExplorerPerspective.java
  ui/src/main/java/org/apache/hop/ui/hopgui/perspective/metadata/MetadataPerspective.java
  ui/src/main/resources/org/apache/hop/ui/hopgui/perspective/metadata/messages/messages_en_US.properties
Labels: Hop Gui

#5214 update nav for creating your own plugin. fixes #5190
  docs/hop-dev-manual/modules/ROOT/nav.adoc
Labels: Documentation

#5215 [SONAR] some cleanup
  core/src/main/java/org/apache/hop/core/row/value/ValueMetaBase.java
  engine/src/main/java/org/apache/hop/www/GetPipelineStatusServlet.java
  engine/src/main/java/org/apache/hop/www/GetWorkflowStatusServlet.java
  plugins/actions/deletefiles/src/test/java/org/apache/hop/workflow/actions/deletefiles/ActionDeleteFilesTest.java
  plugins/actions/deletefolders/src/test/java/org/apache/hop/workflow/actions/deletefolders/ActionDeleteFoldersTest.java
  plugins/actions/dostounix/src/test/java/org/apache/hop/workflow/actions/dostounix/WorkflowActionDosToUnixTest.java
  plugins/actions/evaluatetablecontent/src/test/java/org/apache/hop/workflow/actions/evaluatetablecontent/WorkflowActionEvalTableContentLoadSaveTest.java
  plugins/actions/filesexist/src/test/java/org/apache/hop/workflow/actions/filesexist/WorkflowActionFilesExistTest.java
  plugins/actions/mssqlbulkload/src/test/java/org/apache/hop/workflow/actions/mssqlbulkload/WorkflowActionMssqlBulkLoadLoadSaveTest.java
  plugins/actions/mysqlbulkfile/src/test/java/org/apache/hop/workflow/actions/mysqlbulkfile/WorkflowActionMysqlBulkFileLoadSaveTest.java
  plugins/actions/mysqlbulkload/src/test/java/org/apache/hop/workflow/actions/mysqlbulkload/WorkflowActionMysqlBulkLoadLoadSaveTest.java
  plugins/actions/setvariables/src/main/java/org/apache/hop/workflow/actions/setvariables/ActionSetVariables.java
  plugins/actions/xml/src/main/java/org/apache/hop/workflow/actions/xml/dtdvalidator/DtdValidatorUtil.java
  plugins/actions/xml/src/main/java/org/apache/hop/workflow/actions/xml/xmlwellformed/XmlWellFormedDialog.java
  plugins/databases/access/src/main/java/org/apache/hop/pipeline/transforms/accessoutput/AccessOutputData.java
  plugins/engines/beam/src/main/java/org/apache/hop/beam/core/transform/BeamHiveMetastoreInputTransform.java
  plugins/engines/beam/src/main/java/org/apache/hop/beam/transforms/bigtable/HopToBigtableFn.java
  plugins/misc/debug/src/main/java/org/apache/hop/debug/util/DebugLevelUtil.java
  plugins/misc/rest/src/test/java/org/apache/hop/metadata/rest/RestTest.java
  plugins/misc/testing/src/main/java/org/apache/hop/testing/xp/PipelineMetaModifier.java
  plugins/tech/azure/src/test/java/org/apache/hop/vfs/azure/AzureFileNameParserTest.java
  plugins/tech/google/src/main/java/org/apache/hop/pipeline/transforms/googlesheets/GoogleSheetsOutput.java
  plugins/transforms/drools/src/main/java/org/apache/hop/pipeline/transforms/drools/RuleValidationException.java
  plugins/transforms/drools/src/main/java/org/apache/hop/pipeline/transforms/drools/Rules.java
  plugins/transforms/formula/src/main/java/org/apache/hop/pipeline/transforms/formula/Formula.java
  plugins/transforms/janino/src/test/java/org/apache/hop/pipeline/transforms/userdefinedjavaclass/FieldHelperTest.java
  plugins/transforms/metainject/src/main/java/org/apache/hop/pipeline/transforms/metainject/MetaInject.java
  plugins/transforms/pipelineexecutor/src/test/java/org/apache/hop/pipeline/transforms/pipelineexecutor/PipelineExecutorMetaTest.java
  plugins/transforms/rest/src/test/java/org/apache/hop/pipeline/transforms/rest/RestTest.java
  plugins/transforms/schemamapping/src/main/java/org/apache/hop/pipeline/transforms/schemamapping/SchemaMappingMeta.java
  plugins/transforms/script/src/main/java/org/apache/hop/pipeline/transforms/script/ScriptUtils.java
  plugins/transforms/selectvalues/src/test/java/org/apache/hop/pipeline/transforms/selectvalues/SelectValues_LocaleHandling_Test.java
  plugins/transforms/sql/src/main/java/org/apache/hop/pipeline/transforms/sql/ExecSqlMeta.java
  plugins/transforms/tika/src/main/java/org/apache/hop/pipeline/transforms/tika/TikaOutput.java
  plugins/transforms/verticabulkloader/src/main/java/org/apache/hop/pipeline/transforms/vertica/bulkloader/nativebinary/StreamEncoder.java
  plugins/transforms/xml/src/main/java/org/apache/hop/pipeline/transforms/xml/addxml/AddXml.java
  ui/src/main/java/org/apache/hop/ui/core/widget/StyledTextVar.java
  ui/src/main/java/org/apache/hop/ui/hopgui/delegates/HopGuiFileDelegate.java
  ui/src/main/java/org/apache/hop/ui/hopgui/file/pipeline/HopGuiPipelineGraph.java
  ui/src/main/java/org/apache/hop/ui/hopgui/file/workflow/HopGuiWorkflowGraph.java
Labels: Hop Gui

#5221 fix and IT for empty file size field in Load File Content in Memory t…
  integration-tests/transforms/0075-load-file-content-in-memory-file-size-5218.hpl
  integration-tests/transforms/datasets/golden-load-file-content-in-memory-file-size.csv
  integration-tests/transforms/main-0075-load-file-content-in-memory-file-size-5218.hwf
  integration-tests/transforms/metadata/dataset/golden-load-file-content-in-memory-file-size.json
  integration-tests/transforms/metadata/unit-test/0075-load-file-content-in-memory-file-size-5218 UNIT.json
  plugins/transforms/loadfileinput/src/main/java/org/apache/hop/pipeline/transforms/loadfileinput/LoadFileInput.java
Labels: Integration Testing
