Repository apache/hop, pull requests merged in 2025-03, with the labels that each got.

#4964 fix ctrl + space bug when not selecting an item, fixes #4817
  docker/Dockerfile.web
  ui/src/main/java/org/apache/hop/ui/core/widget/ControlSpaceKeyAdapter.java
Labels: Containers, Hop Gui

#4987 fix and upgrade provided access plugins, fixes #4918
  docs/hop-user-manual/modules/ROOT/pages/database/databases/access.adoc
  plugins/databases/access/pom.xml
  plugins/databases/access/src/assembly/assembly.xml
  plugins/databases/access/src/main/java/org/apache/hop/databases/access/AccessDatabaseMeta.java
  plugins/databases/access/src/main/java/org/apache/hop/pipeline/transforms/accessoutput/AccessFileFormat.java
  plugins/databases/access/src/main/java/org/apache/hop/pipeline/transforms/accessoutput/AccessOutput.java
  plugins/databases/access/src/main/java/org/apache/hop/pipeline/transforms/accessoutput/AccessOutputData.java
  plugins/databases/access/src/main/java/org/apache/hop/pipeline/transforms/accessoutput/AccessOutputDialog.java
  plugins/databases/access/src/main/java/org/apache/hop/pipeline/transforms/accessoutput/AccessOutputMeta.java
Labels: Documentation

#4988 UI fixes, #4985, #2359, #4811
  assemblies/debug/pom.xml
  plugins/actions/addresultfilenames/src/main/java/org/apache/hop/workflow/actions/addresultfilenames/ActionAddResultFilenamesDialog.java
  plugins/actions/checkfilelocked/src/main/java/org/apache/hop/workflow/actions/checkfilelocked/ActionCheckFilesLockedDialog.java
  plugins/actions/deletefiles/src/main/java/org/apache/hop/workflow/actions/deletefiles/ActionDeleteFilesDialog.java
  plugins/actions/dostounix/src/main/java/org/apache/hop/workflow/actions/dostounix/ActionDosToUnixDialog.java
  plugins/actions/evalfilesmetrics/src/main/java/org/apache/hop/workflow/actions/evalfilesmetrics/ActionEvalFilesMetricsDialog.java
  plugins/actions/filecompare/src/main/java/org/apache/hop/workflow/actions/filecompare/ActionFileCompareDialog.java
  plugins/actions/filesexist/src/main/java/org/apache/hop/workflow/actions/filesexist/ActionFilesExistDialog.java
  plugins/actions/folderscompare/src/main/java/org/apache/hop/workflow/actions/folderscompare/ActionFoldersCompareDialog.java
  plugins/actions/movefiles/src/main/java/org/apache/hop/workflow/actions/movefiles/ActionMoveFilesDialog.java
  plugins/actions/pgpfiles/src/main/java/org/apache/hop/workflow/actions/pgpdecryptfiles/ActionPGPDecryptFilesDialog.java
  plugins/actions/pgpfiles/src/main/java/org/apache/hop/workflow/actions/pgpencryptfiles/ActionPGPEncryptFilesDialog.java
  plugins/actions/pipeline/src/main/java/org/apache/hop/workflow/actions/pipeline/ActionPipelineDialog.java
  plugins/actions/repeat/src/main/java/org/apache/hop/workflow/actions/repeat/RepeatDialog.java
  plugins/actions/unzip/src/main/java/org/apache/hop/workflow/actions/unzip/ActionUnZipDialog.java
  plugins/actions/waitforfile/src/main/java/org/apache/hop/workflow/actions/waitforfile/ActionWaitForFileDialog.java
  plugins/actions/workflow/src/main/java/org/apache/hop/workflow/actions/workflow/ActionWorkflowDialog.java
  plugins/actions/writetofile/src/main/java/org/apache/hop/workflow/actions/writetofile/ActionWriteToFileDialog.java
  plugins/actions/xml/src/main/java/org/apache/hop/workflow/actions/xml/dtdvalidator/DtdValidatorDialog.java
  plugins/actions/xml/src/main/java/org/apache/hop/workflow/actions/xml/xmlwellformed/XmlWellFormedDialog.java
  plugins/actions/xml/src/main/java/org/apache/hop/workflow/actions/xml/xsdvalidator/XsdValidatorDialog.java
  plugins/actions/xml/src/main/java/org/apache/hop/workflow/actions/xml/xslt/XsltDialog.java
  plugins/actions/zipfile/src/main/java/org/apache/hop/workflow/actions/zipfile/ActionZipFileDialog.java
  plugins/databases/access/src/main/java/org/apache/hop/pipeline/transforms/accessoutput/AccessOutputDialog.java
  plugins/tech/avro/src/main/java/org/apache/hop/avro/transforms/avrooutput/AvroOutputMeta.java
  plugins/tech/azure/src/main/java/org/apache/hop/pipeline/transforms/eventhubs/listen/AzureListenerDialog.java
  plugins/tech/parquet/src/main/java/org/apache/hop/parquet/transforms/output/ParquetOutputDialog.java
  plugins/tech/parquet/src/main/java/org/apache/hop/parquet/transforms/output/ParquetOutputMeta.java
  plugins/tech/parquet/src/main/resources/org/apache/hop/parquet/transforms/output/messages/messages_en_US.properties
  plugins/transforms/cubeinput/src/main/java/org/apache/hop/pipeline/transforms/cubeinput/CubeInputDialog.java
  plugins/transforms/cubeinput/src/main/java/org/apache/hop/pipeline/transforms/cubeinput/CubeInputMeta.java
  plugins/transforms/cubeoutput/src/main/java/org/apache/hop/pipeline/transforms/cubeoutput/CubeOutputDialog.java
  plugins/transforms/cubeoutput/src/main/java/org/apache/hop/pipeline/transforms/cubeoutput/CubeOutputMeta.java
  plugins/transforms/excel/src/main/java/org/apache/hop/pipeline/transforms/excelwriter/ExcelWriterFileField.java
  plugins/transforms/excel/src/main/java/org/apache/hop/pipeline/transforms/excelwriter/ExcelWriterTemplateField.java
  plugins/transforms/excel/src/main/java/org/apache/hop/pipeline/transforms/excelwriter/ExcelWriterTransformDialog.java
  plugins/transforms/json/src/main/java/org/apache/hop/pipeline/transforms/jsonoutput/JsonOutputDialog.java
  plugins/transforms/json/src/main/java/org/apache/hop/pipeline/transforms/jsonoutput/JsonOutputMeta.java
  plugins/transforms/json/src/main/java/org/apache/hop/pipeline/transforms/jsonoutputenhanced/JsonOutputDialog.java
  plugins/transforms/json/src/main/java/org/apache/hop/pipeline/transforms/jsonoutputenhanced/JsonOutputMeta.java
  plugins/transforms/propertyoutput/src/main/java/org/apache/hop/pipeline/transforms/propertyoutput/PropertyOutputDialog.java
  plugins/transforms/textfile/src/main/java/org/apache/hop/pipeline/transforms/csvinput/CsvInputDialog.java
  plugins/transforms/textfile/src/main/java/org/apache/hop/pipeline/transforms/fileinput/text/TextFileInputDialog.java
  plugins/transforms/textfile/src/main/java/org/apache/hop/pipeline/transforms/textfileoutput/TextFileOutputMeta.java
  plugins/transforms/xml/src/main/java/org/apache/hop/pipeline/transforms/xml/xmloutput/XmlOutputMeta.java
  plugins/transforms/xml/src/test/java/org/apache/hop/pipeline/transforms/xml/xmloutput/XmlOutputMetaTest.java
  ui/src/main/java/org/apache/hop/ui/core/dialog/BaseDialog.java
  ui/src/main/java/org/apache/hop/ui/core/gui/GuiCompositeWidgets.java
  ui/src/main/java/org/apache/hop/ui/core/vfs/HopVfsFileDialog.java
  ui/src/main/java/org/apache/hop/ui/hopgui/file/pipeline/HopGuiPipelineGraph.java
  ui/src/main/java/org/apache/hop/ui/hopgui/file/workflow/HopGuiWorkflowGraph.java
Labels: Hop Gui

#4996 Update DB Drivers #4991, MonetDB driver class #4994, Table Output does not close prepared statement #4993
  docs/hop-user-manual/modules/ROOT/pages/database/databases/as400.adoc
  docs/hop-user-manual/modules/ROOT/pages/database/databases/clickhouse.adoc
  docs/hop-user-manual/modules/ROOT/pages/database/databases/derby.adoc
  docs/hop-user-manual/modules/ROOT/pages/database/databases/duckdb.adoc
  docs/hop-user-manual/modules/ROOT/pages/database/databases/h2.adoc
  docs/hop-user-manual/modules/ROOT/pages/database/databases/hypersonic.adoc
  docs/hop-user-manual/modules/ROOT/pages/database/databases/monetdb.adoc
  docs/hop-user-manual/modules/ROOT/pages/database/databases/mssqlnative.adoc
  docs/hop-user-manual/modules/ROOT/pages/database/databases/postgresql.adoc
  docs/hop-user-manual/modules/ROOT/pages/database/databases/redshift.adoc
  docs/hop-user-manual/modules/ROOT/pages/database/databases/snowflake.adoc
  docs/hop-user-manual/modules/ROOT/pages/database/databases/sqlite.adoc
  integration-tests/mdi/files/excelwriter-mdi-test.xlsx
  lib-jdbc/pom.xml
  plugins/databases/clickhouse/pom.xml
  plugins/databases/cratedb/pom.xml
  plugins/databases/cratedb/src/assembly/assembly.xml
  plugins/databases/duckdb/pom.xml
  plugins/databases/h2/pom.xml
  plugins/databases/monetdb/src/main/java/org/apache/hop/databases/monetdb/MonetDBDatabaseMeta.java
  plugins/databases/monetdb/src/test/java/org/apache/hop/databases/monetdb/MonetDBDatabaseMetaTest.java
  plugins/databases/mssqlnative/pom.xml
  plugins/databases/sqlite/pom.xml
  plugins/transforms/cratedbbulkloader/pom.xml
  plugins/transforms/monetdbbulkloader/pom.xml
  plugins/transforms/tableoutput/src/main/java/org/apache/hop/pipeline/transforms/tableoutput/TableOutput.java
Labels: Documentation, Integration Testing

#4947 Translations update from Weblate
  plugins/tech/cassandra/src/main/resources/org/apache/hop/pipeline/transforms/cassandraoutput/messages/messages_pt_BR.properties
  plugins/transforms/excel/src/main/resources/org/apache/hop/pipeline/transforms/excelinput/messages/messages_nl_NL.properties
  plugins/transforms/excel/src/main/resources/org/apache/hop/pipeline/transforms/excelinput/messages/messages_no_NO.properties
  plugins/transforms/excel/src/main/resources/org/apache/hop/pipeline/transforms/excelinput/messages/messages_pl_PL.properties
  plugins/transforms/excel/src/main/resources/org/apache/hop/pipeline/transforms/excelwriter/messages/messages_es_AR.properties
  plugins/transforms/excel/src/main/resources/org/apache/hop/pipeline/transforms/excelwriter/messages/messages_es_ES.properties
  plugins/transforms/excel/src/main/resources/org/apache/hop/pipeline/transforms/excelwriter/messages/messages_nl_NL.properties
  plugins/transforms/excel/src/main/resources/org/apache/hop/pipeline/transforms/excelwriter/messages/messages_no_NO.properties
  plugins/transforms/excel/src/main/resources/org/apache/hop/pipeline/transforms/excelwriter/messages/messages_pl_PL.properties
  plugins/transforms/html2text/src/main/resources/org/apache/hop/pipeline/transforms/html2text/messages/messages_de_DE.properties
  plugins/transforms/html2text/src/main/resources/org/apache/hop/pipeline/transforms/html2text/messages/messages_es_AR.properties
  plugins/transforms/html2text/src/main/resources/org/apache/hop/pipeline/transforms/html2text/messages/messages_es_ES.properties
  plugins/transforms/html2text/src/main/resources/org/apache/hop/pipeline/transforms/html2text/messages/messages_fr_FR.properties
  plugins/transforms/html2text/src/main/resources/org/apache/hop/pipeline/transforms/html2text/messages/messages_it_IT.properties
  plugins/transforms/html2text/src/main/resources/org/apache/hop/pipeline/transforms/html2text/messages/messages_ja_JP.properties
  plugins/transforms/html2text/src/main/resources/org/apache/hop/pipeline/transforms/html2text/messages/messages_ko_KR.properties
  plugins/transforms/html2text/src/main/resources/org/apache/hop/pipeline/transforms/html2text/messages/messages_nl_NL.properties
  plugins/transforms/html2text/src/main/resources/org/apache/hop/pipeline/transforms/html2text/messages/messages_no_NO.properties
  plugins/transforms/json/src/main/resources/org/apache/hop/pipeline/transforms/jsoninput/messages/messages_es_AR.properties
  plugins/transforms/json/src/main/resources/org/apache/hop/pipeline/transforms/jsoninput/messages/messages_fr_FR.properties
  plugins/transforms/json/src/main/resources/org/apache/hop/pipeline/transforms/jsoninput/messages/messages_it_IT.properties
  plugins/transforms/json/src/main/resources/org/apache/hop/pipeline/transforms/jsoninput/messages/messages_ja_JP.properties
  plugins/transforms/json/src/main/resources/org/apache/hop/pipeline/transforms/jsoninput/messages/messages_pt_BR.properties
  plugins/transforms/languagemodelchat/src/main/resources/org/apache/hop/pipeline/transforms/languagemodelchat/messages/messages_de_DE.properties
  plugins/transforms/languagemodelchat/src/main/resources/org/apache/hop/pipeline/transforms/languagemodelchat/messages/messages_es_AR.properties
  plugins/transforms/languagemodelchat/src/main/resources/org/apache/hop/pipeline/transforms/languagemodelchat/messages/messages_es_ES.properties
  plugins/transforms/languagemodelchat/src/main/resources/org/apache/hop/pipeline/transforms/languagemodelchat/messages/messages_fr_FR.properties
  plugins/transforms/languagemodelchat/src/main/resources/org/apache/hop/pipeline/transforms/languagemodelchat/messages/messages_it_IT.properties
  plugins/transforms/languagemodelchat/src/main/resources/org/apache/hop/pipeline/transforms/languagemodelchat/messages/messages_ja_JP.properties
  plugins/transforms/languagemodelchat/src/main/resources/org/apache/hop/pipeline/transforms/languagemodelchat/messages/messages_ko_KR.properties
  plugins/transforms/languagemodelchat/src/main/resources/org/apache/hop/pipeline/transforms/languagemodelchat/messages/messages_nl_NL.properties
  plugins/transforms/languagemodelchat/src/main/resources/org/apache/hop/pipeline/transforms/languagemodelchat/messages/messages_no_NO.properties
  plugins/transforms/languagemodelchat/src/main/resources/org/apache/hop/pipeline/transforms/languagemodelchat/messages/messages_pl_PL.properties
  plugins/transforms/languagemodelchat/src/main/resources/org/apache/hop/pipeline/transforms/languagemodelchat/messages/messages_pt_PT.properties
  plugins/transforms/stanfordnlp/src/main/resources/org/apache/hop/pipeline/transforms/stanford/nlp/simple/messages/messages_de_DE.properties
  plugins/transforms/stanfordnlp/src/main/resources/org/apache/hop/pipeline/transforms/stanford/nlp/simple/messages/messages_es_AR.properties
  plugins/transforms/stanfordnlp/src/main/resources/org/apache/hop/pipeline/transforms/stanford/nlp/simple/messages/messages_es_ES.properties
  plugins/transforms/stanfordnlp/src/main/resources/org/apache/hop/pipeline/transforms/stanford/nlp/simple/messages/messages_fr_FR.properties
  plugins/transforms/stanfordnlp/src/main/resources/org/apache/hop/pipeline/transforms/stanford/nlp/simple/messages/messages_it_IT.properties
  plugins/transforms/stanfordnlp/src/main/resources/org/apache/hop/pipeline/transforms/stanford/nlp/simple/messages/messages_ja_JP.properties
  plugins/transforms/stanfordnlp/src/main/resources/org/apache/hop/pipeline/transforms/stanford/nlp/simple/messages/messages_ko_KR.properties
  plugins/transforms/stanfordnlp/src/main/resources/org/apache/hop/pipeline/transforms/stanford/nlp/simple/messages/messages_nl_NL.properties
  plugins/transforms/stanfordnlp/src/main/resources/org/apache/hop/pipeline/transforms/stanford/nlp/simple/messages/messages_no_NO.properties
  ui/src/main/resources/org/apache/hop/ui/hopgui/dialog/messages/messages_es_AR.properties
Labels: Hop Gui

#5002 fix some inconsistencies in logging
  assemblies/debug/pom.xml
  core/src/main/java/org/apache/hop/core/Const.java
  core/src/main/java/org/apache/hop/core/logging/LogChannel.java
  core/src/main/java/org/apache/hop/core/logging/LoggingBuffer.java
  core/src/main/java/org/apache/hop/core/logging/LoggingRegistry.java
  docs/hop-user-manual/modules/ROOT/pages/variables.adoc
  ui/src/main/java/org/apache/hop/ui/hopgui/file/pipeline/HopGuiLogBrowser.java
  ui/src/main/java/org/apache/hop/ui/hopgui/file/pipeline/HopGuiPipelineGraph.java
  ui/src/main/java/org/apache/hop/ui/hopgui/file/pipeline/delegates/HopGuiPipelineGridDelegate.java
  ui/src/main/java/org/apache/hop/ui/hopgui/file/pipeline/delegates/HopGuiPipelineLogDelegate.java
  ui/src/main/java/org/apache/hop/ui/hopgui/file/pipeline/delegates/HopGuiPipelineRunDelegate.java
  ui/src/main/java/org/apache/hop/ui/hopgui/file/workflow/HopGuiWorkflowGraph.java
  ui/src/main/java/org/apache/hop/ui/hopgui/file/workflow/delegates/HopGuiWorkflowGridDelegate.java
  ui/src/main/resources/org/apache/hop/ui/hopgui/messages/messages_en_US.properties
Labels: Documentation, Hop Gui

#4999 Add a check if an action is not used in a workflow #4930
  engine/src/main/java/org/apache/hop/workflow/WorkflowMeta.java
  engine/src/main/java/org/apache/hop/workflow/action/IAction.java
  engine/src/main/resources/org/apache/hop/workflow/messages/messages_en_US.properties
Labels: Workflows

#5015 force metadata editor to foreground, fixes #5012
  plugins/misc/projects/src/main/java/org/apache/hop/projects/util/ProjectsUtil.java
  ui/src/main/java/org/apache/hop/ui/core/metadata/MetadataEditorDialog.java
Labels: Hop Gui

#5027 align metrics tab in pipeline, fixes #5026
  ui/src/main/java/org/apache/hop/ui/hopgui/file/pipeline/delegates/HopGuiPipelineGridDelegate.java
  ui/src/main/resources/org/apache/hop/ui/hopgui/messages/messages_en_US.properties
Labels: Hop Gui

#5036 Documentation changes, newline support in text files, fix in git instances
  docs/hop-user-manual/modules/ROOT/pages/metadata-types/azure-authentication.adoc
  docs/hop-user-manual/modules/ROOT/pages/metadata-types/static-schema-definition.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/addxml.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/delay.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/getdatafromxml.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/getfilenames.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/getfilesrowcount.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/groupby.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/memgroupby.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/pipeline-logging.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/propertyinput.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/propertyoutput.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/replacestring.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/schemamapping.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/textfileinput.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/textfileoutput.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/userdefinedjavaexpression.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/writetolog.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/xmljoin.adoc
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/zipfile.adoc
  docs/hop-user-manual/modules/ROOT/pages/projects/metadata.adoc
  docs/hop-user-manual/modules/ROOT/pages/workflow/actions/copyfiles.adoc
  docs/hop-user-manual/modules/ROOT/pages/workflow/actions/ftpput.adoc
  docs/hop-user-manual/modules/ROOT/pages/workflow/actions/mail.adoc
  engine/src/main/java/org/apache/hop/pipeline/transforms/common/ICsvInputAwareMeta.java
  plugins/misc/git/src/main/java/org/apache/hop/git/GitGuiPlugin.java
  plugins/misc/git/src/test/java/org/apache/hop/git/model/UIGitTest.java
  plugins/transforms/textfile/src/main/java/org/apache/hop/pipeline/transforms/csvinput/CsvInputMeta.java
  plugins/transforms/textfile/src/main/java/org/apache/hop/pipeline/transforms/fileinput/text/TextFileCSVImportProgressDialog.java
  plugins/transforms/textfile/src/main/java/org/apache/hop/pipeline/transforms/fileinput/text/TextFileInputDialog.java
  plugins/transforms/textfile/src/main/java/org/apache/hop/pipeline/transforms/fileinput/text/TextFileInputMeta.java
  plugins/transforms/textfile/src/main/java/org/apache/hop/pipeline/transforms/fileinput/text/TextFileInputReader.java
  plugins/transforms/textfile/src/main/resources/org/apache/hop/pipeline/transforms/fileinput/text/messages/messages_en_US.properties
  plugins/transforms/textfile/src/test/java/org/apache/hop/pipeline/transforms/fileinput/text/TextFileInputMetaNewInjectionTest.java
  plugins/transforms/textfile/src/test/java/org/apache/hop/pipeline/transforms/fileinput/text/TextFileInputTest.java
  ui/src/main/java/org/apache/hop/ui/pipeline/transform/common/ICsvInputAwareTransformDialog.java
  ui/src/main/java/org/apache/hop/ui/pipeline/transform/common/TextFileLineUtil.java
Labels: Documentation, Hop Gui

#5034 Redesigned user interface for ActionFilesExist #5032
  plugins/actions/filesexist/src/main/java/org/apache/hop/workflow/actions/filesexist/ActionFilesExist.java
  plugins/actions/filesexist/src/main/java/org/apache/hop/workflow/actions/filesexist/ActionFilesExistDialog.java
  plugins/actions/filesexist/src/main/java/org/apache/hop/workflow/actions/filesexist/FileItem.java
  plugins/actions/filesexist/src/main/resources/org/apache/hop/workflow/actions/filesexist/messages/messages_de_DE.properties
  plugins/actions/filesexist/src/main/resources/org/apache/hop/workflow/actions/filesexist/messages/messages_en_US.properties
  plugins/actions/filesexist/src/main/resources/org/apache/hop/workflow/actions/filesexist/messages/messages_es_AR.properties
  plugins/actions/filesexist/src/main/resources/org/apache/hop/workflow/actions/filesexist/messages/messages_es_ES.properties
  plugins/actions/filesexist/src/main/resources/org/apache/hop/workflow/actions/filesexist/messages/messages_fr_FR.properties
  plugins/actions/filesexist/src/main/resources/org/apache/hop/workflow/actions/filesexist/messages/messages_it_IT.properties
  plugins/actions/filesexist/src/main/resources/org/apache/hop/workflow/actions/filesexist/messages/messages_ja_JP.properties
  plugins/actions/filesexist/src/main/resources/org/apache/hop/workflow/actions/filesexist/messages/messages_ko_KR.properties
  plugins/actions/filesexist/src/main/resources/org/apache/hop/workflow/actions/filesexist/messages/messages_pt_BR.properties
  plugins/actions/filesexist/src/main/resources/org/apache/hop/workflow/actions/filesexist/messages/messages_zh_CN.properties
  plugins/actions/filesexist/src/test/java/org/apache/hop/workflow/actions/filesexist/WorkflowActionFilesExistTest.java
  plugins/actions/filesexist/src/test/resources/files-exist-action.xml
Labels: Actions

#5037 TableView visual enhancement #5035
  ui/src/main/java/org/apache/hop/ui/core/database/DatabaseMetaEditor.java
  ui/src/main/java/org/apache/hop/ui/core/gui/GuiResource.java
  ui/src/main/java/org/apache/hop/ui/core/gui/GuiToolbarWidgets.java
  ui/src/main/java/org/apache/hop/ui/core/widget/TableView.java
  ui/src/main/java/org/apache/hop/ui/hopgui/shared/SwtGc.java
  ui/src/main/java/org/apache/hop/ui/util/HelpUtils.java
  ui/src/main/resources/org/apache/hop/ui/core/widget/messages/messages_en_US.properties
  ui/src/main/resources/org/apache/hop/ui/core/widget/messages/messages_es_AR.properties
  ui/src/main/resources/org/apache/hop/ui/core/widget/messages/messages_es_ES.properties
  ui/src/main/resources/org/apache/hop/ui/core/widget/messages/messages_fr_FR.properties
  ui/src/main/resources/org/apache/hop/ui/core/widget/messages/messages_it_IT.properties
  ui/src/main/resources/org/apache/hop/ui/core/widget/messages/messages_ja_JP.properties
  ui/src/main/resources/org/apache/hop/ui/core/widget/messages/messages_ko_KR.properties
  ui/src/main/resources/org/apache/hop/ui/core/widget/messages/messages_zh_CN.properties
Labels: Hop Gui

#5041 Add option to make toolbar COMBO read-only, fixes #5040
  assemblies/debug/pom.xml
  core/src/main/java/org/apache/hop/core/gui/plugin/GuiRegistry.java
  core/src/main/java/org/apache/hop/core/gui/plugin/toolbar/GuiToolbarElement.java
  core/src/main/java/org/apache/hop/core/gui/plugin/toolbar/GuiToolbarItem.java
  plugins/misc/projects/src/main/java/org/apache/hop/projects/gui/ProjectsGuiPlugin.java
  ui/src/main/java/org/apache/hop/ui/core/PropsUi.java
  ui/src/main/java/org/apache/hop/ui/core/gui/GuiToolbarWidgets.java
Labels: Hop Gui

#5045 update snowflake driver, fixes #5044
  docs/hop-user-manual/modules/ROOT/pages/database/databases/snowflake.adoc
  lib-jdbc/pom.xml
Labels: Documentation

#5069 removed lazy conversion option from the docs to reflect the transform…
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/tableinput.adoc
Labels: Documentation

#5061 added missing Hop Server XML options. fixes #5054
  docs/hop-user-manual/modules/ROOT/pages/hop-server/index.adoc
  engine/src/main/java/org/apache/hop/server/HopServerMeta.java
Labels: Documentation

#5072 Verify action ColumnExists throw NoSuchMethodException #5071
  plugins/actions/columnsexist/src/main/java/org/apache/hop/workflow/actions/columnsexist/ActionColumnsExist.java
  plugins/actions/columnsexist/src/main/resources/org/apache/hop/workflow/actions/columnsexist/messages/messages_en_US.properties
Labels: Actions

#5103 Update dependencies and remove some duplicates, fixes #5102
  engine/pom.xml
  lib/pom.xml
  plugins/engines/beam/pom.xml
  plugins/engines/beam/src/assembly/assembly.xml
  plugins/tech/azure/src/assembly/assembly.xml
  plugins/tech/cassandra/src/assembly/assembly.xml
  plugins/tech/google/pom.xml
  plugins/tech/google/src/assembly/assembly.xml
  plugins/tech/neo4j/pom.xml
  plugins/tech/parquet/pom.xml
  plugins/transforms/kafka/pom.xml
  plugins/transforms/languagemodelchat/pom.xml
  plugins/transforms/languagemodelchat/src/assembly/assembly.xml
  pom.xml
Labels: Neo4j
