Repository apache/hop, pull requests merged in 2025-05, with the labels that each got.

#5232 Add expand/collapse all to file explorer, fixes #5231
  ui/src/main/java/org/apache/hop/ui/hopgui/perspective/explorer/ExplorerPerspective.java
  ui/src/main/resources/org/apache/hop/ui/hopgui/perspective/explorer/messages/messages_en_US.properties
Labels: Hop Gui

#5239 add ability to disable UI elements, fixes #5238
  core/src/main/java/org/apache/hop/core/gui/plugin/GuiRegistry.java
  docs/hop-tech-manual/modules/ROOT/nav.adoc
  docs/hop-tech-manual/modules/ROOT/pages/disable-ui-elements.adoc
  ui/src/main/java/org/apache/hop/ui/hopgui/HopGui.java
  ui/src/main/java/org/apache/hop/ui/hopgui/HopGuiEnvironment.java
Labels: Documentation, Hop Gui

#5242 Fix #5241 Adjust the width of table column with icon or sorted icon
  ui/src/main/java/org/apache/hop/ui/core/widget/TableView.java
Labels: Hop Gui

#5246 Fixed #5240 leak thread on timer of HopGuiXxxDelegate
  ui/src/main/java/org/apache/hop/ui/hopgui/file/pipeline/HopGuiLogBrowser.java
  ui/src/main/java/org/apache/hop/ui/hopgui/file/pipeline/HopGuiPipelineGraph.java
  ui/src/main/java/org/apache/hop/ui/hopgui/file/pipeline/delegates/HopGuiPipelineGridDelegate.java
  ui/src/main/java/org/apache/hop/ui/hopgui/file/workflow/delegates/HopGuiWorkflowGridDelegate.java
Labels: Hop Gui

#5249 Release thread resources of timer
  core/src/main/java/org/apache/hop/core/logging/HopLogStore.java
  core/src/main/java/org/apache/hop/core/util/ExecutorUtil.java
  engine/src/main/java/org/apache/hop/execution/caching/CachingFileExecutionInfoLocation.java
  engine/src/main/java/org/apache/hop/pipeline/Pipeline.java
  engine/src/main/java/org/apache/hop/pipeline/engines/local/LocalPipelineEngine.java
  engine/src/main/java/org/apache/hop/pipeline/engines/remote/RemotePipelineEngine.java
  engine/src/main/java/org/apache/hop/workflow/engines/local/LocalWorkflowEngine.java
  engine/src/main/java/org/apache/hop/www/HopServerSingleton.java
  plugins/engines/beam/src/main/java/org/apache/hop/beam/core/transform/TransformBatchTransform.java
  plugins/engines/beam/src/main/java/org/apache/hop/beam/engines/BeamPipelineEngine.java
  plugins/misc/async/src/main/java/org/apache/hop/www/async/xp/PeriodicPipelineStatusUpdateExtensionPoint.java
  plugins/misc/reflection/src/main/java/org/apache/hop/reflection/pipeline/xp/PipelineStartLoggingXp.java
  plugins/misc/reflection/src/main/java/org/apache/hop/reflection/workflow/xp/WorkflowStartLoggingXp.java
  plugins/tech/azure/src/main/java/org/apache/hop/pipeline/transforms/eventhubs/listen/AzureListener.java
  ui/src/main/java/org/apache/hop/ui/hopgui/file/pipeline/HopGuiLogBrowser.java
  ui/src/main/java/org/apache/hop/ui/hopgui/file/pipeline/HopGuiPipelineGraph.java
  ui/src/main/java/org/apache/hop/ui/hopgui/file/pipeline/delegates/HopGuiPipelineGridDelegate.java
  ui/src/main/java/org/apache/hop/ui/hopgui/file/workflow/delegates/HopGuiWorkflowGridDelegate.java
Labels: Hop Gui

#5251 Improve visual rendering of pipeline execution #5250
  engine/src/main/java/org/apache/hop/pipeline/PipelinePainter.java
  engine/src/main/java/org/apache/hop/pipeline/engines/remote/RemotePipelineEngine.java
  engine/src/main/java/org/apache/hop/pipeline/transform/TransformStatus.java
  ui/src/main/java/org/apache/hop/ui/hopgui/file/pipeline/HopGuiPipelineGraph.java
Labels: Hop Gui, Pipelines

#5266 Add option form-to on show file content, text file input, fixes #5264
  plugins/transforms/textfile/src/main/java/org/apache/hop/pipeline/transforms/fileinput/text/TextFileInputDialog.java
  plugins/transforms/textfile/src/main/resources/org/apache/hop/pipeline/transforms/fileinput/messages/messages_en_US.properties
  plugins/transforms/textfile/src/main/resources/org/apache/hop/pipeline/transforms/fileinput/text/messages/messages_en_US.properties
  ui/src/main/java/org/apache/hop/ui/core/dialog/EnterNumberDialog.java
  ui/src/main/java/org/apache/hop/ui/core/dialog/EnterNumberDialogResult.java
Labels: Hop Gui

#5276 java.lang.NoSuchMethodError: 'int org.eclipse.swt.widgets.Text.getLin…
  ui/src/main/java/org/apache/hop/ui/hopgui/file/pipeline/HopGuiLogBrowser.java
Labels: Hop Gui

#5277 added documentation for unsafe key types in SFTP get and put. #5269
  docs/hop-user-manual/modules/ROOT/pages/workflow/actions/sftp.adoc
  docs/hop-user-manual/modules/ROOT/pages/workflow/actions/sftpput.adoc
Labels: Documentation

#5286 NPE and some other dispose errors, fixes #5280
  ui/src/main/java/org/apache/hop/ui/hopgui/file/pipeline/HopGuiPipelineGraph.java
  ui/src/main/java/org/apache/hop/ui/hopgui/file/workflow/HopGuiWorkflowGraph.java
  ui/src/main/java/org/apache/hop/ui/hopgui/perspective/dataorch/HopDataOrchestrationPerspective.java
  ui/src/main/java/org/apache/hop/ui/hopgui/perspective/metadata/MetadataPerspective.java
Labels: Hop Gui

#5296 fix IT tests, fix #5295
  docker/integration-tests/Dockerfile.unit-tests
  docker/integration-tests/integration-tests-mail.yaml
Labels: Containers

#5308 [RELEASE] update docs
  docs/hop-dev-manual/antora.yml
  docs/hop-tech-manual/antora.yml
  docs/hop-user-manual/antora.yml
Labels: Documentation

#5334 Upgrade Janino from 3.1.11 to 3.1.12 #5333
  assemblies/static/src/main/resources/LICENSE
  plugins/transforms/janino/pom.xml
Labels: Transforms

#5326 Fix #5325 Compatibility issues with the RWT API
  plugins/actions/abort/src/main/java/org/apache/hop/workflow/actions/abort/ActionAbortDialog.java
  plugins/tech/google/src/main/java/org/apache/hop/pipeline/transforms/googlesheets/GoogleSheetsInputDialog.java
  plugins/tech/google/src/main/java/org/apache/hop/pipeline/transforms/googlesheets/GoogleSheetsOutputDialog.java
  plugins/tech/google/src/main/java/org/apache/hop/vfs/googledrive/ui/GoogleAuthorizationDialog.java
  plugins/tech/neo4j/src/main/java/org/apache/hop/neo4j/perspective/HopNeo4jPerspective.java
  plugins/tech/neo4j/src/main/java/org/apache/hop/neo4j/transforms/cypherbuilder/CypherBuilderDialog.java
  plugins/transforms/formula/src/main/java/org/apache/hop/pipeline/transforms/formula/editor/FormulaEditor.java
  plugins/transforms/janino/src/main/java/org/apache/hop/pipeline/transforms/janino/editor/FormulaEditor.java
  plugins/transforms/janino/src/main/java/org/apache/hop/pipeline/transforms/userdefinedjavaclass/UserDefinedJavaClassDialog.java
  plugins/transforms/javascript/src/main/java/org/apache/hop/pipeline/transforms/javascript/ScriptValuesDialog.java
  plugins/transforms/orabulkloader/src/main/java/org/apache/hop/pipeline/transforms/orabulkloader/OraBulkLoaderDialog.java
  plugins/transforms/regexeval/src/main/java/org/apache/hop/pipeline/transforms/regexeval/RegexEvalDialog.java
  plugins/transforms/script/src/main/java/org/apache/hop/pipeline/transforms/script/ScriptDialog.java
  plugins/transforms/xml/src/main/java/org/apache/hop/pipeline/transforms/xml/getxmldata/GetXmlDataDialog.java
  ui/src/main/java/org/apache/hop/ui/core/dialog/EnterListDialog.java
  ui/src/main/java/org/apache/hop/ui/core/vfs/HopVfsFileDialog.java
  ui/src/main/java/org/apache/hop/ui/hopgui/file/pipeline/HopGuiPipelineGraph.java
  ui/src/main/java/org/apache/hop/ui/hopgui/file/workflow/HopGuiWorkflowGraph.java
  ui/src/main/java/org/apache/hop/ui/hopgui/perspective/execution/ExecutionPerspective.java
  ui/src/main/java/org/apache/hop/ui/hopgui/perspective/execution/PipelineExecutionViewer.java
  ui/src/main/java/org/apache/hop/ui/hopgui/perspective/execution/WorkflowExecutionViewer.java
  ui/src/main/java/org/apache/hop/ui/hopgui/perspective/explorer/ExplorerPerspective.java
  ui/src/main/java/org/apache/hop/ui/hopgui/perspective/metadata/MetadataPerspective.java
Labels: Hop Gui, Neo4j

#5337 Ignore some dispose error of the dynamic ui widgets #3497
  ui/src/main/java/org/apache/hop/ui/core/metadata/MetadataManager.java
  ui/src/main/java/org/apache/hop/ui/hopgui/delegates/HopGuiAuditDelegate.java
  ui/src/main/java/org/apache/hop/ui/util/SwtErrorHandler.java
Labels: Hop Gui

#5341 Ignore the dispose error when Hop-GUI is closed #4042
  ui/src/main/java/org/apache/hop/ui/hopgui/context/GuiContextUtil.java
Labels: Hop Gui

#5348 DELETE key is not working in the input fields of metadata #5293
  ui/src/main/java/org/apache/hop/ui/hopgui/HopGuiKeyHandler.java
Labels: Hop Gui
