Repository apache/hop, pull requests merged in 2025-08, with the labels that each got.

#5600 Issue #5596
  core/src/main/java/org/apache/hop/core/row/RowBuffer.java
  core/src/main/java/org/apache/hop/core/row/value/ValueMetaBase.java
  docs/hop-user-manual/modules/ROOT/pages/pipeline/transforms/selectvalues.adoc
  engine/src/main/java/org/apache/hop/execution/ExecutionData.java
  engine/src/main/java/org/apache/hop/execution/ExecutionDataSetMeta.java
  integration-tests/transforms/0074-selet-values-metadata-rounding-type.hpl
  integration-tests/transforms/datasets/golden-select-values-rounding.csv
  integration-tests/transforms/main-0074-select-values.hwf
  integration-tests/transforms/metadata/dataset/golden-select-values-rounding-type.json
  integration-tests/transforms/metadata/unit-test/0074-selet-values-metadata-rounding-type UNIT.json
  plugins/transforms/selectvalues/src/main/java/org/apache/hop/pipeline/transforms/selectvalues/DeleteField.java
  plugins/transforms/selectvalues/src/main/java/org/apache/hop/pipeline/transforms/selectvalues/SelectField.java
  plugins/transforms/selectvalues/src/main/java/org/apache/hop/pipeline/transforms/selectvalues/SelectMetadataChange.java
  plugins/transforms/selectvalues/src/main/java/org/apache/hop/pipeline/transforms/selectvalues/SelectOptions.java
  plugins/transforms/selectvalues/src/main/java/org/apache/hop/pipeline/transforms/selectvalues/SelectValues.java
  plugins/transforms/selectvalues/src/main/java/org/apache/hop/pipeline/transforms/selectvalues/SelectValuesDialog.java
  plugins/transforms/selectvalues/src/main/java/org/apache/hop/pipeline/transforms/selectvalues/SelectValuesMeta.java
  plugins/transforms/selectvalues/src/main/resources/org/apache/hop/pipeline/transforms/selectvalues/messages/messages_en_US.properties
Labels: Documentation, Integration Testing

#5613 refresh timer hardening, #5475
  docs/hop-dev-manual/antora.yml
  docs/hop-tech-manual/antora.yml
  docs/hop-user-manual/antora.yml
  ui/src/main/java/org/apache/hop/ui/hopgui/file/pipeline/delegates/HopGuiPipelineGridDelegate.java
Labels: Hop Gui

#5608 updated catalog name in url, added note to docs. fixes #5607
  docs/hop-user-manual/modules/ROOT/pages/database/databases/databricks.adoc
  plugins/tech/databricks/src/main/java/org/apache/hop/database/databricks/DatabricksDatabaseMeta.java
Labels: Documentation

#5623 #5602 fix variable resolver substitution failing to preserve string
  core/src/main/java/org/apache/hop/core/variables/Variables.java
  integration-tests/resolver/0002-pipeline-resolver-test.hpl
  integration-tests/resolver/datasets/0002-golden-pipeline-resolver.csv
  integration-tests/resolver/metadata/dataset/0002-golden-pipeline-resolver.json
  integration-tests/resolver/metadata/unit-test/0002-pipeline-resolver-test UNIT.json
Labels: Integration Testing
